<%
is_edit = ["edit", "update"].include? params[:action] %>
<% if is_edit %>
  <form method="post" action="/questions/update">
<% else %>
  <form method="post" action="/questions/create">
<% end %>
  <fieldset>
    <legend><%= is_edit ? "Redigera" : "Lägg till" %> fråga</legend>
    <div class="question-type-cnt">
      <%= label_tag "Svarstyp på frågan" %><br/>
      <% 
      opts = {"Betygssvar" => "QuestionMark", "Fritextsvar" => "QuestionText", "Ja/Nej svar"=> "QuestionBool" , "Flervalsvar" => "QuestionMchoice"}
      opts.keys.each do |t| %>
      <%= label_tag t %>
      <%= radio_button_tag "kp-qtype" , opts["#{t}"] , false , :class => "kp-rbclass"  %>
      <% end  %>
    </div>
    <div class="question-cnt">
      <%= label_tag "Fråga" %>
      <%= text_field_tag :question %>
    </div>

    <div id="kp-query-mchoice-csv" class="mchoice-csv">
      <%= label_tag "Ange flervalsalternativen, komma-separerat"%>
      <%= text_field_tag :mchoice %>
    </div>

    <div class="istemplate-cnt">
      <%= label_tag "Standardfråga" %>
      <%= check_box_tag :template %>
    </div>
    <div class="submit-cnt">
      <input type="hidden" name="questionaire_id" value="<%= @questionaire.id -%>"/>
      <%= hidden_field_tag 'authenticity_token' , form_authenticity_token %>
      <%= submit_tag(is_edit ? "Uppdatera" : "Lägg till") %>
    </div>

  </fieldset>
</form>
