<%
  questionaire ||= false
  is_edit = ["edit", "update"].include?(params[:action]) && params[:controller] == "questions"

  form_url = nil

  if questionaire
    form_url = is_edit ? questionaire_question_path(questionaire, question) : questionaire_questions_path(questionaire)
  end

%>

<% form_for question, :url => form_url, :builder => KPFormBuilder, :html => { :class => "question-form" } do |f| -%>

  <%= f.validation_error_indicator -%>

  <% f.fields do %>
    <% f.row '', 'types-field-row' do -%>
      <label>Svarstyp på frågan:</label>

      <% f.field do -%>
        <% Question::QTYPES.keys.each do |type| %>
          <% val = h(Question::QTYPES[type.to_s]) -%>
          <%= f.single_radio_button :qtype, val %>
          <label for="kp-question-qtype_<%= val.downcase %>"><%= h(type) %></label>
        <% end -%>
      <% end -%>

    <% end -%>

    <%= f.text_field :question %>
    <%= f.text_field :choice_csv, :field_help => "Ange alternativen separerade med kommatecken", :row_hidden => (question.qtype != "QuestionMchoice") -%>
    <%= f.check_box :mandatory %>

  <% end %>

  <% f.buttons do -%>
    <%= f.hidden_field :template -%>
    <%= submit_tag(is_edit ? "Uppdatera" : "Lägg till") %>
  <% end -%>

<% end -%>
