<%
questionaire ||= false
is_edit = ["edit", "update"].include?(params[:action]) && params[:controller] == "questions"

form_url = nil

if questionaire
  form_url = is_edit ? questionaire_question_path(questionaire, question) : questionaire_questions_path(questionaire)
end

%>

<% form_for question, :url => form_url, :html => { :class => "question-form" } do |f| -%>

  <div class="type-cnt">
    <span class="group-label">Svarstyp på frågan:</span>
    <% Question::QTYPES.keys.each do |type|
      val = h(Question::QTYPES[type.to_s])
      -%>
      <%= f.radio_button :qtype, val %>
      <label for="kp-question-qtype_<%= val.downcase %>"><%= h(type) %></label>
    <% end -%>
  </div>

  <div class="question-cnt">
    <%= f.label :question %>
    <%= f.text_field :question %>
    <%= f.error_message_on :question %>
  </div>

  <div class="choice-csv-cnt" style="<%= "display: none;" unless question.qtype == "QuestionMchoice" %>">
    <%= f.label :choice_csv %>
    <%= f.text_field :choice_csv -%>
    <span class="help">Ange alternativen separerade med kommatecken</span>
  </div>
  
  <div class="question-mandatory">
    <%= f.label :mandatory %>
    <%= f.check_box :mandatory %>
    <%= f.error_message_on :mandatory %>
  </div>

  <div class="submit-cnt">
    <%= f.hidden_field :template -%>
    <%= submit_tag(is_edit ? "Uppdatera" : "Lägg till") %>
  </div>

<% end -%>