<%# coding: utf-8 %>
<%
  questionnaire ||= false
  with_header ||= false
  is_edit = ["edit", "update"].include?(params[:action]) && params[:controller] == "questions"

  form_url = nil

  if questionnaire
    form_url = is_edit ? questionnaire_question_path(questionnaire, question) : questionnaire_questions_path(questionnaire)
  end

%>

<%= form_for question, :url => form_url, :builder => KPFormBuilder, :html => { :class => "question-form" } do |f| -%>

  <% if with_header %>
    <h2>Lägg till fråga</h2>
  <% end %>

  <%= f.validation_error_indicator -%>

  <%= f.fields do %>
    <% unless is_edit -%>
      <%= f.row '', 'types-field-row' do -%>
        <label>Svarstyp på frågan:</label>

        <%= f.field do -%>
          <% Question::QTYPES.keys.each do |type| %>
            <% val = Question::QTYPES[type.to_s] -%>
            <%= f.single_radio_button :qtype, val %>
            <label for="kp-question-qtype_<%= val.downcase %>"><%= type %></label>
          <% end -%>
        <% end -%>

      <% end -%>
    <% end -%>

    <%= f.text_field :question %>
    <%= f.text_field :choice_csv, :field_help => "Ange alternativen separerade med kommatecken", :row_hidden => (question.qtype != "QuestionMchoice") -%>
    <%= f.check_box :mandatory %>

  <% end %>

  <%= f.buttons do -%>
    <%= f.hidden_field :template -%>
    <%= submit_tag(is_edit ? "Uppdatera" : "Lägg till") %>
  <% end -%>

<% end -%>
