<%= render :partial => "questionaires/menu" -%>

<% is_edit = ["edit", "update"].include?(params[:action]) && params[:controller] == "questions" %>

<fieldset>
  <legend><%= is_edit ? "Uppdatera" : "Lägg till" %> mallfråga</legend>

  <%= render :partial => "form", :locals => { :question => @question } %>
</fieldset>

<table>
  <thead>
    <tr>
      <th><%= sort_link "Fråga", "question" %></th>
      <th><%= sort_link "Typ", "qtype" %></th>
      <th>Obligatorisk</th>
      <th>Svarsalternativ</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% qtypes = Question::QTYPES.invert %>
    
    <% @questions.each do |question| -%>
      <tr class="<%= cycle('', 'even') %>">
        <td><%= h question.question %></td>
        <td><%= h qtypes[question.qtype] %></td>
        <td><%= "Ja" if question.mandatory %>
        <td><%= h question.choice_csv if question.qtype = "QuestionMchoice" %></td>
        <td><%= link_to "Redigera", edit_question_path(question) -%></td>
        <td><%= link_to "Radera", question, :confirm => "Är du säker?", :method => :delete %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
