<div class="info-box">
  <% if culture_provider.main_image -%>
    <div class="image">
      <img src="<%= h culture_provider.main_image.thumb_url %>"
           alt="<%= h culture_provider.main_image.name %>"
           width="<%= h culture_provider.main_image.thumb_width %>"
           height="<%= h culture_provider.main_image.thumb_height %>"/>
    </div>
  <% end -%>

  <h4><%= h culture_provider.name %></h4>

  <table class="meta">
    <tbody>
      <% unless culture_provider.address.blank? %>
        <tr class="address">
          <th>Adress</th>
          <td><%= linebreakize(culture_provider.address) %></td>
        </tr>
      <% end -%>
      <% unless culture_provider.contact_person.blank? %>
        <tr class="contact-person">
          <th>Kontaktperson</th>
          <td><%= h(culture_provider.contact_person) %></td>
        </tr>
      <% end -%>
      <% unless culture_provider.phone.blank? %>
        <tr class="phone">
          <th>Telefon</th>
          <td><%= h(culture_provider.phone) %></td>
        </tr>
      <% end -%>
      <% unless culture_provider.email.blank? %>
        <tr class="email">
          <th>Epost</th>
          <td><a href="mailto:<%= u(culture_provider.email) %>"><%= h(culture_provider.email) %></a></td>
        </tr>
      <% end -%>
      <% unless culture_provider.url.blank? %>
        <tr class="url">
          <th>Hemsida</th>
          <td><a href="<%= qualified_url(culture_provider.url) %>"><%= h(culture_provider.url) %></a></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>