<div class="info-box">
  <% if culture_provider.main_image -%>
    <div class="image">
      <%= uploaded_image_tag culture_provider.main_image, true %>
    </div>
  <% end -%>

  <dl class="meta">
    <% unless culture_provider.address.blank? %>
      <dt class="address">Adress</dt>
      <dd class="address"><%= linebreakize(culture_provider.address) %></dd>
    <% end -%>
    <% unless culture_provider.contact_person.blank? %>
      <dt class="contact-person">Kontaktperson</dt>
      <dd class="contact-person"><%= h(culture_provider.contact_person) %></dd>
    <% end -%>
    <% unless culture_provider.phone.blank? %>
      <dt class="phone">Telefon</dt>
      <dd class="phone"><%= h(culture_provider.phone) %></dd>
    <% end -%>
    <% unless culture_provider.email.blank? %>
      <dt class="email">Epost</dt>
      <dd class="email">
        <a href="mailto:<%= u(culture_provider.email) %>"><%= h(culture_provider.email) %></a>
      </dd>
    <% end -%>
    <% unless culture_provider.url.blank? %>
      <dt class="url">Hemsida</dt>
      <dd class="url">
        <a href="<%= qualified_url(culture_provider.url) %>"><%= h(culture_provider.url) %></a>
      </dd>
    <% end -%>
    <% unless culture_provider.opening_hours.blank? %>
      <dt class="opening-hours">Öppettider</dt>
      <dd class="opening-hours"><%= linebreakize(culture_provider.opening_hours) %></dd>
    <% end -%>
  </dl>
</div>
