<div class="info-box">
  
  <div class="image">
    <% if culture_provider.main_image -%>
      <img src="<%= h culture_provider.main_image.thumb_url %>" alt="<%= h culture_provider.main_image.name %>"/>
    <% end -%>

    <% if user_online? && current_user.can_administrate?(culture_provider) -%>
      <ul class="tools">
        <li><%= link_to "Ladda upp ny logotyp", new_cp_main_img_path(:culture_provider_id => culture_provider.id) -%></li>
      </ul>
    <% end -%>
  </div>

  <h4><%= h culture_provider.name %></h4>

  <table class="meta">
    <tbody>
      <% unless culture_provider.address.blank? %>
        <tr class="address">
          <th>Adress</th>
          <td><%= linebreakize(culture_provider.address) %></td>
        </tr>
      <% end -%>
      <% unless culture_provider.contact_person.blank? %>
        <tr class="contact-person">
          <th>Kontaktperson</th>
          <td><%= h(culture_provider.contact_person) %></td>
        </tr>
      <% end -%>
      <% unless culture_provider.phone.blank? %>
        <tr class="phone">
          <th>Telefon</th>
          <td><%= h(culture_provider.phone) %></td>
        </tr>
      <% end -%>
      <% unless culture_provider.email.blank? %>
        <tr class="email">
          <th>Epost</th>
          <td><a href="mailto:<%= u(culture_provider.email) %>"><%= h(culture_provider.email) %></a></td>
        </tr>
      <% end -%>
      <% unless culture_provider.url.blank? %>
        <tr class="url">
          <th>Hemsida</th>
          <td><a href="<%= qualified_url(culture_provider.url) %>"><%= h(culture_provider.url) %></a></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>