<%= render :partial => "menu" %>

<% if user_online? && current_user.can_administrate?(@culture_provider) %>
  <div class="admin-tools">
    <h4>Administrera <%= h @culture_provider.name %></h4>
    <ul>
      <li><%= link_to "Redigera", edit_culture_provider_path(@culture_provider) %></li>
      <li>
        <% if @culture_provider.active %>
          <%= link_to "Deaktivera",
            deactivate_culture_provider_path(@culture_provider),
            :method => :post,
            :confirm => "Är du säker på att du vill deaktivera arrangören?"
          %>
        <% else %>
          <%= link_to "Aktivera",
            activate_culture_provider_path(@culture_provider),
            :method => :post,
            :confirm => "Är du säker på att du vill aktivera arrangören?"
          %>
        <% end %>
      </li>
      <li><%= link_to "Hantera bilder", culture_provider_images_path(@culture_provider) %></li>
      <li><%= link_to "Lägg till evenemang", new_event_path(:culture_provider_id => @culture_provider.id) %></li>
      <li>
        <%= link_to "Hantera länkade arrangörer",
          culture_provider_culture_provider_links_path(:culture_provider_id => @culture_provider.id)
        %>
      </li>
    </ul>
  </div>
<% end -%>

<div id="kp-pri-content" class="cp-pri-content">

  <div class="model-cnt">

    <% if !@culture_provider.images_excluding_main.empty? %>
      <div class="images-cnt">
        <div class="images-inner-cnt">
          <div class="images">
            <% @culture_provider.images_excluding_main.each do |image| -%>
              <div class="image">
                <%= uploaded_image_tag image %>

                <% unless image.description.blank? %>
                  <span class="image-description"><%= h image.description %></span>
                <% end %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>

    <h2><%= h @culture_provider.name %></h2>

    <%= paragraphize(@culture_provider.description, 'class="description"') %>

    <% unless @culture_provider.linked_culture_providers.empty? %>
      <div class="linked-entities">
        <h3>Se även</h3>

        <ul>
          <% @culture_provider.linked_culture_providers.each do |link| %>
            <li><%= link_to h(link.name), link %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

</div>

<div id="kp-sec-content" class="cp-sec-content">
  <%= render :partial => "info_box", :locals => { :culture_provider => @culture_provider } -%>
</div>

<div class="tabs">
  <ul>
    <% unless @culture_provider.upcoming_occasions.empty? -%>
      <li><a href="#kp-cp-meta-occasions">Kommande evenemang</a></li>
    <% end %>
    <% unless @culture_provider.standing_events.empty? -%>
      <li><a href="#kp-cp-meta-events">Löpande evenemang</a></li>
    <% end %>
    <% if user_online? && current_user.can_administrate?(@culture_provider) && !@culture_provider.events.empty? -%>
      <li><a href="#kp-cp-meta-all-events">Alla evenemang</a></li>
    <% end -%>
  </ul>

  <% cache upcoming_occasions_cache_key(@culture_provider) do %>
    <% unless @culture_provider.upcoming_occasions.empty? -%>
      <div id="kp-cp-meta-occasions">
        <%= render :partial => "calendar/occasions_list", :locals => {
          :occasions => @culture_provider.upcoming_occasions,
          :hide_culture_provider => true,
          :category_groups => @category_groups
        } -%>
      </div>
    <% end -%>
  <% end %>

  <% cache standing_events_cache_key(@culture_provider) do %>
    <% unless @culture_provider.standing_events.empty? -%>
      <div id="kp-cp-meta-events">
        <table>
          <thead>
            <tr>
              <th>Namn</th>
            </tr>
          </thead>

          <tbody>
            <% reset_cycle() %>
            <% @culture_provider.standing_events.each do |event| -%>
              <tr class="<%= cycle("", "even") %>">
                <td><%= link_to h(event.name), event -%></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    <% end -%>
  <% end %>

  <% if user_online? && current_user.can_administrate?(@culture_provider) && !@culture_provider.events.empty? -%>
    <div id="kp-cp-meta-all-events">
      <table>
        <thead>
          <tr>
            <th>Namn</th>
            <th>Visas från</th>
            <th>Visas till</th>
          </tr>
        </thead>

        <tbody>
          <% @culture_provider.events.each do |event| -%>
            <tr class="<%= cycle("", "even") %>">
              <td><%= link_to h(event.name), event -%></td>
              <td><%= l event.visible_from, :format => :long %></td>
              <td><%= l event.visible_to, :format => :long %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  <% end -%>

</div>
