<%= render :partial => "menu" %>

<div class="model-cnt">

  <h1><%= h @culture_provider.name %></h1>

  <% if user_online? && (current_user.can_administrate?(@culture_provider)) %>
    <ul class="tools">
      <li><%= link_to 'Redigera', edit_culture_provider_path(@culture_provider) %></li>
    </ul>
  <% end -%>

  <dl class="meta">
    <% unless empty?(@culture_provider.address) %>
      <dt class="address">Adress:</dt>
      <dd class="address"><%= linebreakize(@culture_provider.address) %></dd>
    <% end -%>
    <% unless empty?(@culture_provider.contact_person) %>
      <dt class="contact-person">Kontaktperson:</dt>
      <dd class="contact-person"><%= h(@culture_provider.contact_person) %></dd>
    <% end -%>
    <% unless empty?(@culture_provider.phone) %>
      <dt class="phone">Telefon:</dt>
      <dd class="phone"><%= h(@culture_provider.phone) %></dd>
    <% end -%>
    <% unless empty?(@culture_provider.email) %>
      <dt class="email">Epost:</dt>
      <dd class="email"><a href="mailto:<%= u(@culture_provider.email) %>"><%= h(@culture_provider.email) %></a></dd>
    <% end -%>
    <% unless empty?(@culture_provider.url) %>
      <dt class="url">Hemsida:</dt>
      <dd class="url"><a href="<%= qualified_url(@culture_provider.url) %>"><%= h(@culture_provider.url) %></a></dd>
    <% end -%>
    <% unless empty?(@culture_provider.opening_hours) %>
      <dt class="opening-hours">Öppettider:</dt>
      <dd class="opening-hours"><%= linebreakize(@culture_provider.opening_hours) %></dd>
    <% end -%>
  </dl>

  <%= paragraphize(@culture_provider.description, 'class="description"') %>
  
  <div class="clearer"></div>
</div>


<% unless @culture_provider.upcoming_occasions.empty? -%>
  <h2>Kommande föreställningar</h2>

  <table>
    <thead>
      <tr>
        <th>Namn</th>
        <th>Datum</th>
      </tr>
    </thead>

    <tbody>
      <% @culture_provider.upcoming_occasions.each do |occasion| -%>
        <tr>
          <td><%= link_to h(occasion.event.name), occasion.event -%></td>
          <td><%= l occasion.date, :format => :long %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>

<% unless @culture_provider.standing_events.empty? -%>
  <h2>Stående arrangemang</h2>

  <table>
    <thead>
      <tr>
        <th>Namn</th>
      </tr>
    </thead>

    <tbody>
      <% @culture_provider.standing_events.each do |event| -%>
        <tr>
          <td><%= link_to h(event.name), event -%></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>
