<h1>Listing culture_administrators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mobil nr</th>
    <th>Email</th>
  </tr>

<% @culture_administrators.each do |culture_administrator| %>
  <tr>
    <td><%=h culture_administrator.name %></td>
    <td><%=h culture_administrator.mobil_nr %></td>
    <td><%=h culture_administrator.email %></td>
    <td><%= link_to 'Show', culture_administrator %></td>
    <td><%= link_to 'Edit', edit_culture_administrator_path(culture_administrator) %></td>
    <td><%= link_to 'Destroy', culture_administrator, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New culture_administrator', new_culture_administrator_path %>