<%# coding: utf-8 %>
<% content_for :section_sub do -%>
  <div class="section-info">
    <% if @culture_provider %>
      <%= link_to "Återvänd till presentationen för #{@culture_provider.name}", @culture_provider %>
    <% elsif @event %>
      <%= link_to "Återvänd till presentationen för #{@event.name}", @event %>
    <% end %>
  </div>
<% end -%>

<h2 class="form-title">
  Välj en arrangör att länka till
  <%= @culture_provider ? @culture_provider.name : @event.name %>
</h2>

<table class="select-culture-provider-link-list">
  <thead>
    <tr>
      <th class="culture-provider"><%= sort_link "Arrangör", "name" %></th>
      <th class="tools"></th>
    </tr>
  </thead>
  <tbody>
    <% @culture_providers.each do |culture_provider| -%>
      <tr class="<%= cycle('', 'even') %>">
        <td class="culture-provider"><%= culture_provider.name %></td>
        <td class="tools">
          <% if @culture_provider %>
            <%= link_to "Välj",
              select_culture_provider_culture_provider_link_path(
                culture_provider_id: @culture_provider.id,
                id: culture_provider.id
            ) %>
          <% elsif @event %>
            <%= link_to "Välj",
              select_event_culture_provider_link_path(
                event_id: @event.id,
                id: culture_provider.id
            ) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @culture_providers %>
