<%
category_groups ||= []
-%>

<table class="calendar-list">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Evenemang</th>
      <th>Arrangör</th>
      <th>Ålder</th>

      <% category_groups.each do |category_group| -%>
        <% if category_group.visible_in_calendar %>
          <th><%= category_group.name %></th>
        <% end %>
      <% end -%>
    </tr>
  </thead>

  <tbody>

    <% events.each do |event| -%>

      <tr class="<%= cycle('', 'even')  %>">
        <td class="date"><%= l event.visible_from %> - <%= l event.visible_to %></td>
        <td class="event"><%= link_to event.name, event %></td>

        <td class="culture-provider">
          <%= link_to event.culture_provider.name, event.culture_provider %>
        </td>

        <td class="age">
          <% if !event.further_education %>
            <%= event.from_age %>-<%= event.to_age %>
          <% end %>
        </td>

        <% category_groups.each do |category_group| -%>
          <% if category_group.visible_in_calendar %>
            <td class="categories">
              <%= event.categories.select { |c| c.category_group_id == category_group.id }.map { |c| c.name }.join(", ") %>
            </td>
          <% end %>
        <% end -%>

      </tr>
    <% end -%>
  </tbody>
</table>
