<%# coding: utf-8 %>
<div class="calendar-list-cnt">

  <ul class="calendar-list-tabs">
    <li class="<%= 'active' if @calendar_list == :occasions %>">
      <%= link_to "Evenemang", calendar_path(params[:action], :occasions) %>
    </li>
    <li class="<%= 'active' if @calendar_list == :events %>">
      <%= link_to "Löpande evenemang", calendar_path(params[:action], :events) %>
    </li>
  </ul>

  <% if @calendar_list == :events && @events -%>
    <%= render partial: "events_list", locals: { events: @events, category_groups: @category_groups } %>
    <%= will_paginate @events %>
  <% elsif @occasions -%>
    <%= render partial: "occasions_list", locals: { occasions: @occasions, category_groups: @category_groups } %>
    <%= will_paginate @occasions %>
  <% end -%>

</div>
