<div class="calendar-list-cnt">

  <div class="tab-sub-menu">
    <ul>
      <li>
        <%= link_to(
          "Evenemang",
          calendar_path(params[:action], :occasions),
          :class => @calendar_list == :occasions ? "active" : nil
        ) %>
      </li>
      <li>
        <%= link_to(
          "Löpande evenemang",
          calendar_path(params[:action], :events),
          :class => @calendar_list == :events ? "active" : nil
        ) %>
      </li>
    </ul>
  </div>

  <% if @calendar_list == :events && @events -%>
    <%= render :partial => "events_list", :locals => { :events => @events, :category_groups => @category_groups } %>
    <%= will_paginate @events %>
  <% elsif @occasions -%>
    <%= render :partial => "occasions_list", :locals => { :occasions => @occasions, :category_groups => @category_groups } %>
    <%= will_paginate @occasions %>
  <% end -%>

</div>
