<%
hide_culture_provider ||= false
category_groups ||= []
-%>

<table class="calendar-list">
  <thead>
    <tr>
      <th class="time">Tid</th>
      <th class="event">Evenemang</th>

      <% unless hide_culture_provider -%>
        <th class="culture-provider">Arrangör</th>
      <% end %>

      <% category_groups.each do |category_group| -%>
        <th class="categories"><%= h category_group.name %></th>
      <% end -%>

      <th class="booking">Boka</th>
      <th class="icon-indicator">Hjälpmedel</th>
    </tr>
  </thead>

  <tbody>
    <% prev_date = Date.new %>

    <% occasions.each do |occasion| -%>

      <% if prev_date < occasion.date %>
        <tr class="date-row <%= cycle('', 'even')  %>">
          <th colspan="<%= (hide_culture_provider ? 4 : 5) + category_groups.size %>"><%= occasion.date %></th>
        </tr>
      <% end -%>

      <tr class="<%= cycle('', 'even')  %>">
        <td class="time"><%= l occasion.start_time, :format => :only_time %></td>
        <td class="event"><%= link_to h(occasion.event.name), occasion.event %></td>

        <% unless hide_culture_provider -%>
          <td class="culture-provider"><%= link_to h(occasion.event.culture_provider.name), occasion.event.culture_provider %></td>
        <% end -%>

        <% category_groups.each do |category_group| -%>
          <td class="categories">
            <%= h(occasion.event.categories.select { |c| c.category_group_id == category_group.id }.map { |c| c.name }.join(", ")) %>
          </td>
        <% end -%>

        <td class="booking">
          <% if occasion.event.bookable? %>
            <% if user_online? && current_user.can_book? -%>

              <% available_seats = occasion.available_seats %>

              <% if available_seats > 0 %>
                <%= link_to "Boka", new_occasion_booking_path(occasion), :title => "#{available_seats} lediga platser" %>
              <% else %>
                <span class="sold-out">Fullbokat</span>
              <% end %>

              <div class="ticket-availability">
                <a href="<%= ticket_availability_occasion_path(occasion) %>"
                   class="ticket-availability-link"
                   title="Platstillgänglighet för evenemanget">
                  <%= image_tag "information.png", :alt => "Platstillgänglighet" %>
                </a>
                <a href="<%= ticket_availability_occasion_path(occasion) %>"
                   class="ticket-availability-close-link"
                   title="Stäng listan">
                  <%= image_tag "cancel.png", :alt => "Stäng listan" %>
                </a>
              </div>

            <% else -%>
              Logga in för att boka
            <% end -%>
          <% end -%>
        </td>

        <td class="icon-indicator">
          <%= image_tag "icon_rullstol.png", :alt => "Rullstolsplatser finns", :title => "Rullstolsplatser finns" if occasion.wheelchair_seats.to_i > 0 %>
          <%= image_tag "icon_horslinga.png", :alt => "Hörselslinga finns", :title => "Hörselslinga finns" if occasion.telecoil %>
        </td>
      </tr>

      <% prev_date = occasion.date %>
    <% end -%>
  </tbody>
</table>
