<%
hide_culture_provider ||= false
category_groups ||= []
-%>

<table class="calendar-list">
  <thead>
    <tr>
      <th>Tid</th>
      <th>Evenemang</th>

      <% unless hide_culture_provider -%>
        <th>Arrangör</th>
      <% end %>

      <% category_groups.each do |category_group| -%>
        <th><%= h category_group.name %></th>
      <% end -%>

      <th>Boka</th>
      <th class="icon-indicator">Hjälpmedel</th>
    </tr>
  </thead>

  <tbody>
    <% prev_date = Date.new %>

    <% occasions.each do |occasion| -%>

      <% if prev_date < occasion.date %>
        <tr class="date-row <%= cycle('', 'even')  %>">
          <th colspan="<%= 5 + category_groups.size %>"><%= occasion.date %></th>
        </tr>
      <% end -%>

      <tr class="<%= cycle('', 'even')  %>">
        <td class="time"><%= l occasion.start_time, :format => :only_time %></td>
        <td class="event"><%= link_to h(occasion.event.name), occasion.event %></td>

        <% unless hide_culture_provider -%>
          <td class="culture-provider"><%= link_to h(occasion.event.culture_provider.name), occasion.event.culture_provider %></td>
        <% end -%>

        <% category_groups.each do |category_group| -%>
          <td class="categories">
            <%= h(occasion.event.categories.select { |c| c.category_group_id == category_group.id }.map { |c| c.name }.join(", ")) %>
          </td>
        <% end -%>

        <td class="booking">
          <% if occasion.event.bookable? %>
            <% if user_online? && current_user.can_book? -%>

              <%= link_to "Boka", booking_path(occasion.id) %>

              <div class="schools-with-tickets">
                <a href="<%= schools_with_tickets_event_path(occasion.event) %>"
                   class="schools-with-tickets-link"
                   title="Skolor med grupper som har tilldelade eller bokade biljetter till evenemanget">
                  <%= image_tag "information.png", :alt => "Skolor med biljetter" %>
                </a>
                <a href="<%= schools_with_tickets_event_path(occasion.event) %>"
                   class="schools-with-tickets-close-link"
                   title="Stäng listan">
                  <%= image_tag "cancel.png", :alt => "Stäng listan" %>
                </a>
              </div>

            <% else -%>
              Logga in för att boka
            <% end -%>
          <% end -%>
        </td>

        <td class="icon-indicator">
          <%= image_tag "user_go.png", :alt => "Rullstolsplatser finns", :title => "Rullstolsplatser finns" if occasion.wheelchair_seats > 0 %>
          <%= image_tag "sound.png", :alt => "Hörselslinga finns", :title => "Hörselslinga finns" if occasion.telecoil %>
        </td>
      </tr>

      <% prev_date = occasion.date %>
    <% end -%>
  </tbody>
</table>
