<%= render :partial => "menu" %>

<% iday = @cal_sday.clone %>

<table class="calendar-table">
  <thead>
    <tr class="calendar-month-nav">
      <th class="prev" colspan="2">
        <a href="<%= url_for :overwrite_params => { :month => @dispmonth - 1, :year => @dispyear } %>"><%= month_name(@dispmonth - 1)%></a>
      </th>
      <th class="current" colspan="3"><%= month_name(@dispmonth) %></th>
      <th class="next" colspan="2">
        <a href="<%= url_for :overwrite_params => { :month => @dispmonth + 1, :year => @dispyear } %>"><%= month_name(@dispmonth + 1) %></a>
      </th>
    </tr>
    <tr class="calendar-day-headers">
      <th>Mån</th>
      <th>Tis</th>
      <th>Ons</th>
      <th>Tor</th>
      <th>Fre</th>
      <th>Lör</th>
      <th>Sön</th>
    </tr>
  </thead>

  <tbody>
    <% while ( iday.month < @dispmonth + 1) do %>

        <tr>
          <% (1..7).each do |n|
            iday = iday + 1 -%>
            <td class="<%= "inactive" unless iday.month == @dispmonth %>">

              <%= iday.day %>
              
              <% if ! @oh[iday].nil? %>
                <div class="calendar-table-eventname">
                  <a href="<%= events_path(@oh[iday].event_id) %>"><%= Event.find_by_id(@oh[iday].event_id).name %></a>
                </div>
                <div class="calendar-table-occasion">
                  <a href="<%= url_for :controller => "booking", :action => "book", :occasion_id => @oh[iday].id %>">BOKA</a>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>

      <% end %>
    </tbody>
  </table>