<% content_for :section_sub do -%>
  <div class="section-info">

    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra,
      justo rhoncus fringilla ullamcorper, velit ante mattis sapien, sed congue
      sapien metus nec tellus. Cras fermentum quam risus, eget ultrices nunc.
      Mauris iaculis est at ligula volutpat tristique.
    </p>

    <div class="calendar-filter">
      <form action="<%= url_for :controller => "calendar", :action => "apply_filter", :list => @calendar_list -%>" method="post">
        <div class="free-text-cnt">
          <label for="kp-calendar-filter-free-text" id="kp-calendar-filter-free-text-label">Fritext:</label>
          <input type="text" id="kp-calendar-filter-free-text" name="filter[free_text]" value="<%= h calendar_filter[:free_text] %>" />
          <input type="submit" name="do_filter" value="Filtrera evenemang"/>
          <%= link_to "Återställ filter", :controller => "calendar", :action => "clear_filter", :list => @calendar_list %>

          <%= hidden_field_tag 'authenticity_token' , form_authenticity_token %>
        </div>

        <div class="target-cnt">
          <h4>För vem:</h4>

          <ul>
            <li>
              <input type="radio"
                     name="filter[further_education]"
                     id="kp-calendar-filter-further-education-false"
                     value="0"
                     <%= 'checked="checked"' unless calendar_filter[:further_education] %>/>

              <select name="filter[from_age]" id="kp-calendar-filter-from-age" <%= disabled_if calendar_filter[:further_education] %>>
                <option value="-1">Från ålder</option>
                <%= options_for_select((0..19).to_a.map{ |i| [ "#{i} år", i ]}, calendar_filter[:from_age]) %>
              </select>
              <select name="filter[to_age]" id="kp-calendar-filter-to-age" <%= disabled_if calendar_filter[:further_education] %>>
                <option value="-1">Till ålder</option>
                <%= options_for_select((0..19).to_a.map{ |i| [ "#{i} år", i ]}, calendar_filter[:to_age]) %>
              </select>
            </li>
            <li>
              <input type="radio"
                     name="filter[further_education]"
                     id="kp-calendar-filter-further-education-true"
                     value="1"
                     <%= 'checked="checked"' if calendar_filter[:further_education] %>/>

              <label for="kp-calendar-filter-further-education-true">fortbildning pedagoger/vuxna</label>
            </li>
          </ul>
        </div>

        <div class="date-cnt">
          <h4>Datum:</h4>

          <ul>
            <li>
              <label for="kp-calendar-filter-from-date">Från:</label>
              <input type="text"
                     name="filter[from_date]"
                     id="kp-calendar-filter-from-date"
                     class="date-field"
                     value="<%= h calendar_filter[:from_date] %>"/>
            </li>

            <li>
              <input type="radio"
                     name="filter[date_span]"
                     id="kp-calendar-filter-date-span-unbounded"
                     value="unbounded"
                     <%= 'checked="checked"' if calendar_filter[:date_span].blank? || calendar_filter[:date_span] == :unbounded %>/>
              <label for="kp-calendar-filter-date-span-unbounded">och framåt</label>
            </li>
            <li>
              <input type="radio"
                     name="filter[date_span]"
                     id="kp-calendar-filter-date-span-day"
                     value="day"
                     <%= 'checked="checked"' if calendar_filter[:date_span] == :day %>/>
              <label for="kp-calendar-filter-date-span-day">endast den valda dagen</label>
            </li>
            <li>
              <input type="radio"
                     name="filter[date_span]"
                     id="kp-calendar-filter-date-span-week"
                     value="week"
                     <%= 'checked="checked"' if calendar_filter[:date_span] == :week %>/>
              <label for="kp-calendar-filter-date-span-week">en vecka framåt</label>
            </li>
            <li>
              <input type="radio"
                     name="filter[date_span]"
                     id="kp-calendar-filter-date-span-month"
                     value="month"
                     <%= 'checked="checked"' if calendar_filter[:date_span] == :month %>/>
              <label for="kp-calendar-filter-date-span-month">en månad framåt</label>
            </li>

            <li>
              <input type="radio"
                     name="filter[date_span]"
                     id="kp-calendar-filter-date-span-date"
                     value="date"
                     <%= 'checked="checked"' if calendar_filter[:date_span] == :date %>/>
              <label for="kp-calendar-filter-to-date">Till:</label>
              <input type="text"
                     name="filter[to_date]"
                     id="kp-calendar-filter-to-date"
                     class="date-field"
                     value="<%= h calendar_filter[:to_date] %>"/>
            </li>
          </ul>
        </div>

        <% if !@category_groups.blank? -%>
          <dl class="category-cnt form-elements">
            <% @category_groups.each do |category_group| -%>
              <dt><label for="kp-calendar-filter-category-group-<%= h category_group.id %>"><%= h category_group.name %>:</label></dt>
              <dd>
                <select name="filter[categories][]" id="kp-calendar-filter-category-group-<%= h category_group.id %>">
                  <option value="-1">Alla</option>
                  <% category_group.categories.each do |category| -%>
                    <option value="<%= h category.id %>"
                            <%= 'selected="selected"' if calendar_filter[:categories] && calendar_filter[:categories].include?(category.id) %>>
                            <%= h category.name %>
                    </option>
                  <% end -%>
                </select>
              </dd>
            <% end -%>
          </dl>
        <% end -%>

        <%= link_to "Ingen filtrering", { :action => "index", :list => @calendar_list }, { :class => "hide-calendar-filter-action" } %>
      </form>
    </div>

  </div>
<% end -%>

<%= render :partial => "list" %>
