<%= render :partial => "menu" %>

<table class="calendar-list">
  <thead>
    <tr>
      <th>Tid</th>
      <th>Aktivitet</th>
      <th>Kulturtyp</th>
      <th>Boka</th>
    </tr>
  </thead>

  <tbody>
    <% prev_date = Date.new %>

    <% @occasions.each do |occasion| -%>

      <% if prev_date < occasion.date %>
        <tr class="date-row <%= cycle('', 'alt')  %>">
          <th colspan="4"><%= occasion.date %></th>
        </tr>
      <% end -%>

      <tr class="<%= cycle('', 'alt')  %>">
        <td class="time"><%= l occasion.start_time, :format => :only_time %></td>
        <td class="event"><%= link_to h(occasion.event.name), occasion.event %></td>
        <td class="culture-type"></td>
        <td class="booking">
          <% if occasion.event.bookable? %>
            <% if user_online? && current_user.can_book? -%>
              <%= link_to "Boka", :controller => "booking", :action => "book", :occasion_id => occasion.id %>
            <% else -%>
              Logga in för att boka
            <% end -%>
          <% end -%>
        </td>
      </tr>

      <% prev_date = occasion.date %>
    <% end -%>
  </tbody>
</table>
