


<div class="calendar-pagetitle">
<span class="calendar-prevmonthlink">
<a href="/calendar?month=<%= @dispmonth-1 %>&year=<%= @dispyear %>"><%=  month_name(@dispmonth-1)%></a>
</span>

<span class="calendar-curmonth"><%= month_name(@dispmonth) %></span>

<span class="calendar-nextmonthlink">
<a href="/calendar?month=<%= @dispmonth+1 %>&year=<%= @dispyear %>"><%=  month_name(@dispmonth+1) %></a>
</span>
</div>

<% iday = @cal_sday.clone %>
<br/>
<table class="calendar-table">
<tr class="calendar-heading-row">

  <th>Mån</th>
  <th>Tis</th>
  <th>Ons</th>
  <th>Tor</th>
  <th>Fre</th>
  <th>Lör</th>
  <th>Sön</th>

</tr>

<% while ( iday.month < @dispmonth +1) do %>
<tr class="calendar-row">
    <% (1..7).each do |n| %>
  <% iday = iday + 1 %>
  <% if iday.month == @dispmonth %>
     <td class="calendar-table-cell">
       <% else  %>
     <td class="calendar-cell-non-active">
  <% end %>
       <%= iday.day %>
       <% if ! @oh[iday].nil? %>
         <div class="calendar-table-eventname">
            <a href="/events/<%= @oh[iday].event_id %>"><%= Event.find_by_id(@oh[iday].event_id).name %></a>
         </div>
         <div class="calendar-table-occasion">
           <a href="/occasions/<%= @oh[iday].id %>"> <%= @oh[iday].description %></a>
         </div>
       <% end %>
     </td>
  <% end %>
</tr>
<% end %>
</table>

<a href="/login/logout">Logout</a>

