- content_for(:page_title) do
  Hantera länkade evenemang för
  - if @culture_provider
    = link_to @culture_provider.name, @culture_provider
  - elsif @event
    = link_to @event.name, @event

%main
  %nav.return
    - if @culture_provider
      = link_to "Återvänd till presentationen för #{@culture_provider.name}", @culture_provider
    - elsif @event
      = link_to "Återvänd till presentationen för #{@event.name}", @event

  %section.box.context-form
    %h1.box-title Välj ett evenemang att länka till
    .box-content
      - if @culture_provider
        - form_url = select_culture_provider_culture_provider_event_links_path(culture_provider_id: @culture_provider.id)
      - elsif @event
        - form_url = select_culture_provider_event_event_links_path(event_id: @event.id)

      = form_tag form_url, class: "basic" do
        .input-group
          = select_tag "selected_culture_provider_id",
            options_from_collection_for_select(@culture_providers, :id, :name, session[:event_links][:selected_culture_provider]),
            class: "form-control"
          %span.input-group-btn
            = submit_tag "Välj arrangör", class: "btn btn-default"

      - if @selected_culture_provider
        .large-selection
          %table
            %tbody
              - @events.each do |event|
                %tr
                  %td= event.name
                  %td
                    - if @culture_provider
                      - url = select_event_culture_provider_event_link_path(@culture_provider, event)
                    - elsif @event
                      - url = select_event_event_event_link_path(@event, event)
                    = link_to "Välj",
                      url,
                      class: "btn btn-default btn-sm"

  - if @culture_provider
    = render partial: "culture_providers/administration_menu", locals: { culture_provider: @culture_provider }
  - elsif @event
    = render partial: "events/administration_menu", locals: { event: @event }

  - entity = @culture_provider ? @culture_provider : @event

  - unless entity.linked_events.blank?
    %table
      %thead
        %tr
          %th Evenemang
          %th

      %tbody
        - entity.linked_events.each do |link|
          %tr
            %td= link_to link.name, link
            %td
              - if @culture_provider
                - url = culture_provider_event_link_path(@culture_provider, link)
              - elsif @event
                - url = event_event_link_path(@event, link)
              = link_to "Ta bort",
                url,
                method: :delete,
                class: "btn btn-danger btn-sm"
