<% content_for :section_sub do -%>
  <div class="section-info">
    <% if @culture_provider %>
      <%= link_to "Återvänd till presentationen för #{@culture_provider.name}", @culture_provider %>
    <% elsif @event %>
      <%= link_to "Återvänd till presentationen för #{@event.name}", @event %>
    <% end %>
  </div>
<% end -%>

<h2 class="form-title">
  Välj ett evenemang att länka till
  <%= @culture_provider ? @culture_provider.name : @event.name %>
</h2>

<%
  if @culture_provider
    form_url = select_culture_provider_culture_provider_event_links_path(culture_provider_id: @culture_provider.id)
  elsif @event
    form_url = select_culture_provider_event_event_links_path(event_id: @event.id)
  end
%>

<div id="kp-event-link-culture-provider-selection">
  <%= form_tag(form_url) do %>
    <%= select_tag(
      "selected_culture_provider_id",
      options_from_collection_for_select(@culture_providers, :id, :name, session[:event_links][:selected_culture_provider])
    )
  %>
  <%= submit_tag "Välj arrangör" %>
<% end %>
</div>

<% if @selected_culture_provider %>
  <table class="select-event-link-list">
    <thead>
      <tr>
        <th class="event"><%= sort_link "Evenemang", "name" %></th>
        <th class="tools"></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| -%>
        <tr class="<%= cycle('', 'even') %>">
          <td class="event"><%= event.name %></td>
          <td class="tools">
            <% if @culture_provider %>
              <%= link_to "Välj",
                select_event_culture_provider_event_link_path(
                  culture_provider_id: @culture_provider.id,
                  id: event.id
              ) %>
            <% elsif @event %>
              <%= link_to "Välj",
                select_event_event_event_link_path(
                  event_id: @event.id,
                  id: event.id
              ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @events %>
<% end %>
