- content_for(:page_title) do
  Terminsstatistik

%main.admin.with-aside
  - @terms.reverse.each do |term|
    %article
      %h2= term
      .btn-group
        = link_to "Besöksstatistik", visitors_statistic_path(term), class: "btn btn-default"
        = link_to "Enkätstatistik", questionnaires_statistic_path(term), class: "btn btn-default"
        = link_to "Avbokningsstatistik", unbooking_questionnaires_statistic_path(term), class: "btn btn-default"

%aside.admin
  = render partial: "menu"
  = render partial: "shared/admin_menu"
