<%= render :partial => "menu" %>

<% if @visitor_stats %>

  <h2>Besökstatistik för <%= @event.name -%></h2>

  <p>
    <%=  link_to "Ladda ner statistik för eventet #{@event.name} #{@term} som Excel-fil", :format => "xls", :event_id => "#{@event.id}" %>    
  </p>

  <table class="visitor-list" >
    <thead>
      <tr>
        <th>Stadsdel</th>
        <th>Skola</th>
        <th>Grupp</th>
        <th>Antal bokade </th>
        <th>Antal barn</th>
        <th>Antal vuxna</th>
      </tr>
    </thead>
    <tbody>

      <% @visitor_stats.each do |v| %>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= v["district_name"] -%></td>
          <td><%= v["school_name"] -%></td>
          <td><%= v["group_name"] -%></td>


          <td><%= v["num_booked"] -%></td>
          <td><%= v["num_children"] -%></td>
          <td><%= v["num_adult"] -%></td>
        </tr>

      <% end %>

    </tbody>
  </table>

<% else %>

  <h2>
    Besöksstatistik <%= @term %>
  </h2>

  <p>
    <%=link_to "Ladda ner all besöksstatistik för #{@term} som Excel-fil", :format => "xls" %>
    <i>OBS Det kan ta tid att ladda ner all besöksstatistik</i>
  </p>

  <h3>Evenemangsspecifik statistik</h3>
  <table>
    <thead>
      <tr>
        <th>Evenemang</th>
        <th>Arrangör</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr class="<%= cycle("", "even") %>">
          <td>
            <%= link_to event.name, visitors_event_statistic_path(event, @term) -%>
          </td>
          <td>
            <%= event.culture_provider.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </ul>
<% end %>
