<%= render :partial => "events/menu" -%>

<h1>Fördelning</h1>

<% form_tag({ :action => "create_tickets", :id => params[:id] }, { :id => "kp-distribution-form" }) do -%>

  <fieldset>
    <legend>Lägg till grupp</legend>

    <%= select_tag "add_group[district_id]", "<option>Välj stadsdel</option>" +
      options_from_collection_for_select(@districts, "id", "name") %>
    <%= select_tag "add_group[school_id]", '<option>Skolor</option>', :disabled => true %>
    <%= select_tag "add_group[group_id]", '<option>Grupper</option>', :disabled => true %>

    <input id="kp-add-group-submit" type="submit" name="add_group_submit" value="Lägg till grupp" disabled="disabled"/>
  </fieldset>

  <table id="kp-distribution-list">
    <thead>
      <tr>
        <th rowspan="2">Namn</th>
        <th colspan="2" class="super">Antal barn</th>
        <th rowspan="2">Antal biljetter</th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th>Totalt i gruppen</th>
        <th>För fördelning</th>
      </tr>
    </thead>
    <tbody>

      <% if @extra_groups -%>
        <% @extra_groups.each do |group| -%>
          <tr class="group-row extra <%= fill_indicator group.total_children, group.num_tickets %>"
              id="kp-group-<%= group.id %>">
            <td class="name">
              <%= h group.school.name -%>
              -
              <%= h group.name %>
            </td>
            <td class="total-children"><%= h group.total_children %></td>
            <td class="num-children"><%= h group.total_children %></td>
            <td class="num-tickets">
              <input type="text" class="num-tickets-display" value="<%= h group.num_tickets %>"/>
              <input type="hidden"
                     class="num-tickets-value"
                     name="allotment[ticket_assignment[<%= group.id %>]]"
                     value="<%= h group.num_tickets %>"/>
            </td>
            <td class="tools">
              <a href="#" class="fill">+</a>
              <a href="#" class="clear">-</a>
            </td>
          </tr>
        <% end -%>
      <% end -%>

      <% @districts.each do |district| -%>

        <tr class="district-row" id="kp-district-<%= district.id %>">
          <td class="name"><a href="#" class="toggler"><%= h district.name %></a></td>
          <td class="total-children"></td>
          <td class="num-children"><%= h district.num_children %></td>
          <td class="num-tickets"><%= h district.num_tickets %></td>
          <td class="tools">
            <a href="#" class="fill">+</a>
            <a href="#" class="clear">-</a>
          </td>
        </tr>

        <% district.distribution_schools.each do |school| -%>

          <tr class="school-row kp-district-<%= district.id %>" id="kp-school-<%= school.id %>">
            <td class="name"><a href="#" class="toggler"><%= h school.name %></a></td>
            <td class="total-children"></td>
            <td class="num-children"><%= h school.num_children %></td>
            <td class="num-tickets"><%= h school.num_tickets %></td>
            <td class="tools">
              <a href="#" class="fill">+</a>
              <a href="#" class="clear">-</a>
            </td>
          </tr>

          <% school.distribution_groups.each do |group| -%>
            <tr class="group-row kp-district-<%= district.id %> kp-school-<%= school.id%> <%= fill_indicator group.num_children, group.num_tickets %>"
                id="kp-group-<%= group.id %>">
              <td class="name"><%= h group.name %></td>
              <td class="total-children"><%= h group.total_children %></td>
              <td class="num-children"><%= h group.num_children %></td>
              <td class="num-tickets">
                <input type="text" class="num-tickets-display" value="<%= h group.num_tickets %>"/>
                <input type="hidden" class="num-tickets-value" name="allotment[ticket_assignment[<%= group.id %>]]" value="<%= h group.num_tickets %>"/>
              </td>
              <td class="tools">
                <a href="#" class="fill">+</a>
                <a href="#" class="clear">-</a>
              </td>
            </tr>
          <%
          end
        end
      end
      -%>
    </tbody>
  </table>

  <div class="submit-cnt">
    <input type="submit" value="Skapa biljetter" name="create_tickets"/>
  </div>

<% end -%>

<div id="kp-distribution-meta">
  <h4><%= @event.name -%></h4>

  <ul>
    <li>
      Totalt antal biljetter:
      <span class="total-tickets">
        <% if @event.tickets.empty? -%>
          <%= session[:allotment][:num_tickets] %>
        <% else -%>
          <%= session[:allotment][:num_tickets].to_i + @event.tickets.count %>
        <% end -%>
      </span>
    </li>
    <li>Tillgängliga biljetter: <span class="available-tickets"><%= @tickets_left %></span></li>
    <li>Biljettsläpp: <%= h session[:allotment][:release_date] %></li>
  </ul>
</div>

<% content_for :head do -%>
  <%= javascript_include_tag "allotment.js" %>
<% end -%>