<% content_for :section_sub do -%>
  <div class="section-info">
    <%= link_to "Återvänd till presentationen för #{@event.name}", @event %>
  </div>
<% end -%>

<% is_group_distribution = session[:allotment][:ticket_state] == :alloted_group %>

<h2 class="form-title">Fördelning för <%= link_to @event.name, @event %></h2>

<dl id="kp-distribution-meta">
  <dt>Biljettsläpp:</dt>
  <dd><%= session[:allotment][:release_date] %></dd>
  <dt>Totalt antal biljetter:</dt>
  <dd class="total-tickets">
    <%= session[:allotment][:num_tickets] %>
  </dd>
  <dt>Tillgängliga biljetter: </dt>
  <dd class="available-tickets"><%= @tickets_left %></dd>
</dl>

<% if is_group_distribution -%>
  <div class="allotment-group-selection">
    <%= render partial: "shared/group_selection", locals: { hide_title: true } %>
  </div>
<% end -%>

<%= form_tag({ action: "create_tickets", id: params[:id] }, { id: "kp-distribution-form" }) do -%>

  <% if is_group_distribution %>
    <div class="allotment-group-selection">
      <%= hidden_field_tag "add_group[group_id]", session[:group_selection][:group_id] %>
      <%= submit_tag "Lägg till grupp",
        name: "add_group_submit",
        id: "kp-add-group-submit",
        disabled: true
      %>
    </div>
  <% end %>


  <table id="kp-distribution-list">

    <thead>
      <tr>
        <% span = is_group_distribution ? 2 : 1 -%>
        <th rowspan="<%= span -%>">Namn</th>
        <th colspan="<%= span -%>" class="<%= "super" if is_group_distribution %>">Antal barn</th>
        <th rowspan="<%= span -%>">Antal biljetter</th>
        <th rowspan="<%= span -%>"></th>
      </tr>
      <% if is_group_distribution -%>
        <tr>
          <th>Totalt i gruppen</th>
          <th>För fördelning</th>
        </tr>
      <% end -%>
    </thead>

    <tbody>

      <% if is_group_distribution -%>

        <% if @extra_groups -%>
          <% @extra_groups.each do |group| -%>
            <tr class="group-row extra <%= fill_indicator group.total_children, group.num_tickets %>"
                id="kp-group-<%= group.id %>">
              <td class="name">
                <%= group.school.name -%>
                -
                <%= group.name %>
              </td>
              <td class="total-children"><%= group.total_children %></td>
              <td class="num-children"><%= group.total_children %></td>
              <td class="num-tickets">
                <input type="text" class="num-tickets-display" value="<%= group.num_tickets %>"/>
                <input type="hidden"
                       class="num-tickets-value"
                       name="allotment[ticket_assignment[<%= group.id %>]]"
                       value="<%= group.num_tickets %>"/>
              </td>
              <td class="tools">
                <a href="#" class="fill" title="Fyll gruppens tilldelade biljetter">+</a>
                <a href="#" class="clear" title="Töm gruppens tilldelade biljetter">&#x2212;</a>
              </td>
            </tr>
          <% end -%>
        <% end -%>

        <% @districts.each do |district| -%>

          <tr class="district-row" id="kp-district-<%= district.id %>">
            <td class="name"><a href="#" class="toggler"><%= district.name %></a></td>
            <td class="total-children"></td>
            <td class="num-children"><%= district.num_children %></td>
            <td class="num-tickets"><%= district.num_tickets %></td>
            <td class="tools">
              <a href="#" class="fill" title="Fyll stadsdelens tilldelade biljetter så långt som möjligt">+</a>
              <a href="#" class="clear" title="Töm stadsdelens tilldelade biljetter">&#x2212;</a>
            </td>
          </tr>

          <% district.distribution_schools.each do |school| -%>

            <tr class="school-row kp-district-<%= district.id %>" id="kp-school-<%= school.id %>">
              <td class="name"><a href="#" class="toggler"><%= school.name %></a></td>
              <td class="total-children"></td>
              <td class="num-children"><%= school.num_children %></td>
              <td class="num-tickets"><%= school.num_tickets %></td>
              <td class="tools">
                <a href="#" class="fill" title="Fyll skolans tilldelade biljetter så långt som möjligt">+</a>
                <a href="#" class="clear" title="Töm skolans tilldelade biljetter">&#x2212;</a>
              </td>
            </tr>

            <% school.distribution_groups.each do |group| -%>
              <tr class="group-row kp-district-<%= district.id %> kp-school-<%= school.id%> <%= fill_indicator group.num_children, group.num_tickets %>"
                  id="kp-group-<%= group.id %>"
                  title="<%= fill_indicator_text group.num_children, group.num_tickets %>">

                <td class="name"><%= group.name %></td>

                <%
                  proximity_indicator = (
                    group.total_children > group.num_children &&
                    (group.total_children - group.num_children) <= APP_CONFIG[:allotment][:proximity_boundary]
                  )
                %>
                <td class="total-children <%= "proximity" if proximity_indicator %>">
                  <%= group.total_children %>
                </td>
                <td class="num-children <%= "proximity" if proximity_indicator %>">
                  <%= group.num_children %>
                </td>

                <td class="num-tickets">
                  <input type="text" class="num-tickets-display" value="<%= group.num_tickets %>"/>
                  <input type="hidden" class="num-tickets-value" name="allotment[ticket_assignment[<%= group.id %>]]" value="<%= group.num_tickets %>"/>
                </td>

                <td class="tools">
                  <a href="#" class="fill" title="Fyll gruppens tilldelade biljetter">+</a>
                  <a href="#" class="clear" title="Töm gruppens tilldelade biljetter">&#x2212;</a>
                </td>

              </tr>
            <% end -%>
          <% end -%>
        <% end -%>

      <% else -%>

        <% @districts.each do |district| -%>
          <tr class="editable-district-row <%= fill_indicator district.num_children, district.num_tickets -%>"
              id="kp-district-<%= district.id %>">
            <td class="name"><a href="#" class="toggler"><%= district.name %></a></td>
            <td class="num-children"><%= district.num_children %></td>
            <td class="num-tickets">
              <input type="text"
                     class="num-tickets-display"
                     value="<%= district.num_tickets %>"/>
              <input type="hidden"
                     class="num-tickets-value"
                     name="allotment[ticket_assignment[<%= district.id %>]]" value="<%= district.num_tickets %>"/>
            </td>
            <td class="tools">
              <a href="#" class="fill" title="Fyll stadsdelens tilldelade biljetter">+</a>
              <a href="#" class="clear" title="Töm stadsdelens tilldelade biljetter">&#x2212;</a>
            </td>
          </tr>
        <% end -%>

      <% end -%>
    </tbody>
  </table>

  <div class="submit-cnt">
    <input type="submit" value="Skapa biljetter" name="create_tickets"/>
  </div>

<% end -%>


<% content_for :head do -%>
  <%= javascript_include_tag "allotment.js" %>
<% end -%>
