<%= render :partial => "events/menu" -%>

<% is_group_distribution = session[:allotment][:ticket_state] == Event::ALLOTED_GROUP %>

<h1>Fördelning</h1>

<% if is_group_distribution -%>
  <div class="allotment-group-selection">
    <%= render :partial => "shared/group_selection" %>
  </div>
<% end -%>

<% form_tag({ :action => "create_tickets", :id => params[:id] }, { :id => "kp-distribution-form" }) do -%>

  <% if is_group_distribution %>
    <div class="allotment-group-selection">
      <%= hidden_field_tag "add_group[group_id]", session[:group_selection][:group_id] %>
      <%= submit_tag "Lägg till grupp",
        :name => "add_group_submit",
        :id => "kp-add-group-submit",
        :disabled => true
      %>
    </div>
  <% end %>

  <table id="kp-distribution-list">

    <thead>
      <tr>
        <% span = is_group_distribution ? 2 : 1 -%>
        <th rowspan="<%= span -%>">Namn</th>
        <th colspan="<%= span -%>" class="<%= "super" if is_group_distribution %>">Antal barn</th>
        <th rowspan="<%= span -%>">Antal biljetter</th>
        <th rowspan="<%= span -%>"></th>
      </tr>
      <% if is_group_distribution -%>
        <tr>
          <th>Totalt i gruppen</th>
          <th>För fördelning</th>
        </tr>
      <% end -%>
    </thead>

    <tbody>

      <% if is_group_distribution -%>

        <% if @extra_groups -%>
          <% @extra_groups.each do |group| -%>
            <tr class="group-row extra <%= fill_indicator group.total_children, group.num_tickets %>"
                id="kp-group-<%= group.id %>">
              <td class="name">
                <%= h group.school.name -%>
                -
                <%= h group.name %>
              </td>
              <td class="total-children"><%= h group.total_children %></td>
              <td class="num-children"><%= h group.total_children %></td>
              <td class="num-tickets">
                <input type="text" class="num-tickets-display" value="<%= h group.num_tickets %>"/>
                <input type="hidden"
                       class="num-tickets-value"
                       name="allotment[ticket_assignment[<%= group.id %>]]"
                       value="<%= h group.num_tickets %>"/>
              </td>
              <td class="tools">
                <a href="#" class="fill" title="Fyll gruppens tilldelade biljetter">+</a>
                <a href="#" class="clear" title="Töm gruppens tilldelade biljetter">-</a>
              </td>
            </tr>
          <% end -%>
        <% end -%>

        <% @districts.each do |district| -%>

          <tr class="district-row" id="kp-district-<%= district.id %>">
            <td class="name"><a href="#" class="toggler"><%= h district.name %></a></td>
            <td class="total-children"></td>
            <td class="num-children"><%= h district.num_children %></td>
            <td class="num-tickets"><%= h district.num_tickets %></td>
            <td class="tools">
              <a href="#" class="fill" title="Fyll stadsdelens tilldelade biljetter så långt som möjligt">+</a>
              <a href="#" class="clear" title="Töm stadsdelens tilldelade biljetter">-</a>
            </td>
          </tr>

          <% district.distribution_schools.each do |school| -%>

            <tr class="school-row kp-district-<%= district.id %>" id="kp-school-<%= school.id %>">
              <td class="name"><a href="#" class="toggler"><%= h school.name %></a></td>
              <td class="total-children"></td>
              <td class="num-children"><%= h school.num_children %></td>
              <td class="num-tickets"><%= h school.num_tickets %></td>
              <td class="tools">
                <a href="#" class="fill" title="Fyll skolans tilldelade biljetter så långt som möjligt">+</a>
                <a href="#" class="clear" title="Töm skolans tilldelade biljetter">-</a>
              </td>
            </tr>

            <% school.distribution_groups.each do |group| -%>
              <tr class="group-row kp-district-<%= district.id %> kp-school-<%= school.id%> <%= fill_indicator group.num_children, group.num_tickets %>"
                  id="kp-group-<%= group.id %>"
                  title="<%= fill_indicator_text group.num_children, group.num_tickets %>">

                <td class="name"><%= h group.name %></td>

                <%
                  proximity_indicator = (
                    group.total_children > group.num_children &&
                    (group.total_children - group.num_children) <= APP_CONFIG[:allotment][:proximity_boundary]
                  )
                %>
                <td class="total-children <%= "proximity" if proximity_indicator %>">
                  <%= h group.total_children %>
                </td>
                <td class="num-children <%= "proximity" if proximity_indicator %>">
                  <%= h group.num_children %>
                </td>

                <td class="num-tickets">
                  <input type="text" class="num-tickets-display" value="<%= h group.num_tickets %>"/>
                  <input type="hidden" class="num-tickets-value" name="allotment[ticket_assignment[<%= group.id %>]]" value="<%= h group.num_tickets %>"/>
                </td>

                <td class="tools">
                  <a href="#" class="fill" title="Fyll gruppens tilldelade biljetter">+</a>
                  <a href="#" class="clear" title="Töm gruppens tilldelade biljetter">-</a>
                </td>

              </tr>
            <% end -%>
          <% end -%>
        <% end -%>

      <% else -%>

        <% @districts.each do |district| -%>
          <tr class="editable-district-row <%= fill_indicator district.num_children, district.num_tickets -%>"
              id="kp-district-<%= district.id %>">
            <td class="name"><a href="#" class="toggler"><%= h district.name %></a></td>
            <td class="num-children"><%= h district.num_children %></td>
            <td class="num-tickets">
              <input type="text"
                     class="num-tickets-display"
                     value="<%= h district.num_tickets %>"/>
              <input type="hidden"
                     class="num-tickets-value"
                     name="allotment[ticket_assignment[<%= district.id %>]]" value="<%= h district.num_tickets %>"/>
            </td>
            <td class="tools">
              <a href="#" class="fill" title="Fyll stadsdelens tilldelade biljetter">+</a>
              <a href="#" class="clear" title="Töm stadsdelens tilldelade biljetter">-</a>
            </td>
          </tr>
        <% end -%>

      <% end -%>
    </tbody>
  </table>

  <div class="submit-cnt">
    <input type="submit" value="Skapa biljetter" name="create_tickets"/>
  </div>

<% end -%>

<div id="kp-distribution-meta">
  <h4><%= @event.name -%></h4>

  <ul>
    <li>
      Totalt antal biljetter:
      <span class="total-tickets">
        <%= session[:allotment][:num_tickets] %>
      </span>
    </li>
    <li>Tillgängliga biljetter: <span class="available-tickets"><%= @tickets_left %></span></li>
    <li>Biljettsläpp: <%= h session[:allotment][:release_date] %></li>
  </ul>
</div>

<% content_for :head do -%>
  <%= javascript_include_tag "allotment.js" %>
<% end -%>
