<%= render :partial => "events/menu" -%>

<h1>Fördelning</h1>

<% form_tag({ :action => "create_tickets", :id => params[:id] }, { :id => "kp-distribution-form" }) do -%>

  <table id="kp-distribution-list">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Antal barn i klassen</th>
        <th>Antal barn inom åldersspannet</th>
        <th>Antal biljetter</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @districts.each do |district| -%>

        <tr class="district-row" id="kp-district-<%= district.id %>">
          <td class="name"><%= h district.name %></td>
          <td class="total-children"></td>
          <td class="num-children"><%= h district.num_children %></td>
          <td class="num-tickets"><%= h district.num_tickets %></td>
          <td class="tools">
            <a href="#" class="fill">+</a>
            <a href="#" class="clear">-</a>
          </td>
        </tr>

        <% district.distribution_schools.each do |school| -%>

          <tr class="school-row kp-district-<%= district.id %>" id="kp-school-<%= school.id %>">
            <td class="name"><%= h school.name %></td>
            <td class="total-children"></td>
            <td class="num-children"><%= h school.num_children %></td>
            <td class="num-tickets"><%= h school.num_tickets %></td>
            <td class="tools">
              <a href="#" class="fill">+</a>
              <a href="#" class="clear">-</a>
            </td>
          </tr>

          <% school.distribution_groups.each do |group| -%>
            <tr class="group-row kp-district-<%= district.id %> kp-school-<%= school.id%> <%= fill_indicator group.num_children, group.num_tickets %>"
                id="kp-group-<%= group.id %>">
              <td class="name"><%= h group.name %></td>
              <td class="total-children"><%= h group.total_children %></td>
              <td class="num-children"><%= h group.num_children %></td>
              <td class="num-tickets">
                <input type="text" class="num-tickets-display" value="<%= h group.num_tickets %>"/>
                <input type="hidden" class="num-tickets-value" name="allotment[ticket_assignment[<%= group.id %>]]" value="<%= h group.num_tickets %>"/>
              </td>
              <td class="tools">
                <a href="#" class="fill">+</a>
                <a href="#" class="clear">-</a>
              </td>
            </tr>
          <%
          end
        end
      end
      -%>
    </tbody>
  </table>

  <div class="submit-cnt">
    <input type="submit" value="Skapa biljetter" name="submit"/>
  </div>

<% end -%>

<div id="kp-distribution-meta">
  <h4><%= @event.name -%></h4>

  <ul>
    <li>
      Totalt antal biljetter:
      <span class="total-tickets">
        <% if @event.tickets.empty? -%>
          <%= session[:allotment][:num_tickets] %>
        <% else -%>
          <%= session[:allotment][:num_tickets].to_i + @event.tickets.count %>
        <% end -%>
      </span>
    </li>
    <li>Tillgängliga biljetter: <span class="available-tickets"><%= @tickets_left %></span></li>
  </ul>
</div>

<% content_for :head do -%>
  <%= javascript_include_tag "allotment.js" %>
<% end -%>