<%= render :partial => "events/menu" -%>

<h1>Fördelning</h1>

<% form_tag({ :action => "select_event" }, { :id => "kp-select-event-form" }) do -%>

  <fieldset>
    <legend>Välj evenemang</legend>

    <dl class="form-elements">
      <dt>
        <label for="kp-allotment-event-id">Evenemang:</label>
      </dt>
      <dd>
        <select id="kp-allotment-event-id" name="allotment[event_id]">
          <% @events.each do |e| -%>
            <option value="<%= e.id %>" <%= 'selected="selected"' if params["id"].to_i == e.id %>><%= h e.name %> - <%= h e.culture_provider.name %></option>
          <% end -%>
        </select>
      </dd>

      <dt><label for="kp-allotment-num-tickets">Antal inköpta biljetter:</label></dt>
      <dd><input type="text" id="kp-allotment-num-tickets" name="allotment[num_tickets]"/></dd>
    </dl>

    <div class="submit-cnt">
      <input type="submit" value="Starta fördelning" name="submit"/>
    </div>
  </fieldset>

<% end -%>