<%= render :partial => "events/menu" -%>

<h1>Fördelning</h1>

<% form_tag({ :action => "select_event" }, { :id => "kp-select-event-form" }) do -%>

  <fieldset>
    <legend>Välj evenemang</legend>

    <dl class="form-elements">
      <dt>
        <label for="kp-allotment-event_id">Evenemang</label>
      </dt>
      <dd>
        <select id="kp-allotment-event_id" name="allotment[event_id]">
          <% @events.each do |e| -%>
            <option value="<%= e.id %>" <%= 'selected="selected"' if params["id"].to_i == e.id %>><%= h e.name %> - <%= h e.culture_provider.name %></option>
          <% end -%>
        </select>
      </dd>

      <dt><label for="kp-allotment-num_tickets">Antal inköpta biljetter</label></dt>
      <dd><input type="text" id="kp-allotment-num_tickets" name="allotment[num_tickets]"/></dd>

      <dt><label for="kp-allotment-district_id-all">Stadsdelar</label></dt>
      <dd>
        <ul class="allotment-district-list checkbox-list">
          <li>
            <input type="checkbox" name="allotment[district_ids][]" value="-1" id="kp-allotment-district_ids-all" checked="checked" class="all-toggler"/>
            <label for="kp-allotment-district_ids-all">Alla</label>
          </li>
          <% @districts.each do |district| -%>
            <li>
              <input type="checkbox" name="allotment[district_ids][]" value="<%= district.id %>" id="kp-allotment-district_ids-<%= district.id %>" checked="checked"/>
              <label for="kp-allotment-district_ids-<%= district.id %>"><%= h district.name %></label>
            </li>
          <% end -%>
        </ul>
      </dd>
    </dl>

    <div class="submit-cnt">
      <input type="submit" value="Starta fördelning" name="submit"/>
    </div>
  </fieldset>

<% end -%>