<% content_for :section_sub do -%>
  <div class="section-info">
    <%= link_to "Återvänd till presentationen för #{@event.name}", @event %>
  </div>
<% end -%>

<h2 class="form-title">Fördelning</h2>

<% is_edit = @event.tickets.count > 0 %>

<p class="allotment-details">
  Fördelar biljetter för evenemanget <%= link_to @event.name, @event %>
  som arrangeras av <%= link_to @event.culture_provider.name, @event.culture_provider %>.
</p>

<% if is_edit -%>
  <p class="allotment-details">
    Detta evenemang har redan <%= @event.tickets.count %> st biljetter fördelade.

    <%= link_to "Ta bort fördelningen helt",
    { action: "destroy", id: params[:id] },
    { confirm: "Är du säker?" } %>.
  </p>
<% end -%>

<%= form_tag(
  { action: "assign_params", id: params[:id] },
  { id: "kp-allotment-init-form", class: "allotment-init-form" }
) do -%>

  <fieldset>
    <div class="form-row release_date-field-row">
      <label for="kp-allotment-release_date">Biljettsläpp:</label>
      <div class="input-container">
        <input type="text"
               id="kp-allotment-release_date"
               name="allotment[release_date]"
               class="date-field"
               size="30"
               value="<%= @event.ticket_release_date %>"/>
      </div>
    </div>
    <% if !is_edit || @event.ticket_state == :alloted_group %>
      <div class="form-row post-label-form-row district-skip-district-transition-field-row">
        <div class="input-container">
          <input type="checkbox"
                 id="kp-allotment-skip-district-transition"
                 name="allotment[skip_district_transition]"
                 class="checkbox"/>
          <label for="kp-allotment-skip-district-transition">Hoppa över övergång till stadsdel</label>
        </div>
      </div>
      <div class="form-row district_transition_date-field-row">
        <label for="kp-allotment-district_transition_date">Övergång till stadsdel:</label>
        <div class="input-container">
          <input type="text"
                 id="kp-allotment-district_transition_date"
                 name="allotment[district_transition_date]"
                 class="date-field <%= "changed" unless @event.district_transition_date.blank? %>"
                 size="30"
                 data-default-interval="<%= APP_CONFIG[:ticket_state][:group_days] %>"
                 value="<%= @event.district_transition_date %>"/>
        </div>
      </div>
    <% end %>
    <% if !is_edit || [:alloted_group, :alloted_district].include?(@event.ticket_state) %>
      <div class="form-row free_for_all_transition_date-field-row">
        <label for="kp-allotment-free_for_all_transition_date">Övergång till hela staden:</label>
        <div class="input-container">
          <input type="text"
                 id="kp-allotment-free_for_all_transition_date"
                 name="allotment[free_for_all_transition_date]"
                 class="date-field <%= "changed" unless @event.free_for_all_transition_date.blank? %>"
                 size="30"
                 data-default-interval="<%= APP_CONFIG[:ticket_state][:group_days] + APP_CONFIG[:ticket_state][:district_days] %>"
                 value="<%= @event.free_for_all_transition_date %>"/>
        </div>
      </div>
    <% end %>

    <div class="form-row num_tickets-field-row">
      <label for="kp-allotment-num_tickets">Antal <%= is_edit ? "ytterligare" : "inköpta" %> biljetter:</label>
      <div class="input-container">
        <input type="text" size="30" id="kp-allotment-num_tickets" name="allotment[num_tickets]"/>
      </div>
    </div>

    <div class="form-row post-label-form-row bus_booking-field-row">
      <div class="input-container">
        <input type="checkbox"
               id="kp-allotment-bus_booking"
               name="allotment[bus_booking]"
               <%= "checked=\"checked\"" if @event.bus_booking? %>
               class="checkbox"
               value="1"/>
        <label for="kp-allotment-bus_booking">Aktivera bussbokning för evenemanget</label>
      </div>
    </div>

    <% unless is_edit -%>
      <div class="form-row ticket_state-field-row">
        <label for="kp-allotment-ticket_state">Fördelningsnivå:</label>
        <div class="input-container">
          <select id="kp-allotment-ticket_state" name="allotment[ticket_state]">
            <option value="<%= Event::ALLOTED_GROUP %>">Grupp</option>
            <option value="<%= Event::ALLOTED_DISTRICT %>">Stadsdel</option>
            <option value="<%= Event::FREE_FOR_ALL %>">Hela staden</option>
          </select>
        </div>
      </div>
    <% end -%>

    <% if !is_edit || [:alloted_group, :alloted_district].include?(@event.ticket_state) %>
      <div class="form-row district_id-field-row">
        <label for="kp-allotment-district_id-all">Stadsdelar:</label>
        <div class="input-container">
          <ul class="allotment-district-list checkbox-list">
            <li>
              <input type="checkbox"
                     name="allotment[district_ids][]"
                     value="-1"
                     id="kp-allotment-district_ids-all"
                     <%= 'checked="checked"' if !is_edit || @event.districts.size == @districts.size %>
                     class="all-toggler"/>
              <label for="kp-allotment-district_ids-all">Alla</label>
            </li>
            <% @districts.each do |district| -%>
              <li>
                <input type="checkbox"
                       name="allotment[district_ids][]"
                       value="<%= district.id %>"
                       id="kp-allotment-district_ids-<%= district.id %>"
                       <% if is_edit %>
                         <% current_district = @event.districts.include?(district) -%>
                         <%= 'disabled="disabled"' if current_district %>
                         <%= 'checked="checked"' if current_district %>
                       <% else -%>
                         checked="checked"
                       <% end -%>/>
                <label for="kp-allotment-district_ids-<%= district.id %>"><%= district.name %></label>
              </li>
            <% end -%>
          </ul>
        </div>
        <div class="clearer"></div>
      </div>
    <% end %>

    <div class="form-buttons">
      <input type="submit" value="Starta fördelning" name="submit"/>
    </div>

  </fieldset>
<% end -%>
