<%= wysiwyg_init %>

<% if @event %>
  <% content_for :section_sub do -%>
    <ul class="section-nav">
      <li>
        <%= link_to "Återvänd till presentationen för #{h(@event.name)}", @event %>
      </li>
    </ul>
  <% end -%>
<% end -%>

<% form_for(
  :information_mail,
  @mail,
  :url => { :action => :create },
  :builder => KPFormBuilder,
  :html => { :class => "information-mail-form context-form" }
) do |f| -%>
    <%= f.title("Skicka e-post med information") %>

    <%= f.validation_error_indicator %>

    <% f.fields do -%>

      <%
      if @event
        recipients = [ [ "Alla bokade till #{@event.name}", @event.id ] ]
      else
        recipients = [
          [ "Alla kontakter", :all_contacts ],
          [ "Alla användare", :all_users ]
        ]
      end
      %>

      <%= f.select(
        :recipients,
        recipients,
        :include_blank => @event.blank?
      ) %>

      <%= f.text_field :subject %>
      <%= f.text_area :body, :size => "40x5", :class => "wysiwyg" %>

      <% f.buttons do -%>
        <%= f.submit "Skicka", :confirm => "Detta skickar meddelandet till alla mottagare du har angett" %>
      <% end -%>
    <% end %>
<% end -%>
