- content_for(:page_title) do
  Sändlistor
  %span.subtitle
    Skicka e-post med information

- content_for(:javascript) do
  = javascript_include_tag "wysiwyg"

%main.admin.with-aside
  - if @event
    %nav.return
      = link_to "Återvänd till presentationen för #{@event.name}", @event

  = simple_form_for @mail, as: :information_mail, url: { action: "create" } do |f|
    = f.error_notification class: "warning"

    = f.input :event_id, as: :hidden, value: @event.id
    = f.input :recipients, as: :select, collection: [ [ "Alla bokade till #{@event.name}", :all_booked ] ]
    = f.input :subject
    = f.input :body, as: :text, input_html: { class: "ckeditor", rows: 10 }

    .form-group
      %span.control-label
      .controls
        = submit_tag "Skicka", class: "btn btn-primary", data: { confirm: "Detta skickar meddelandet till alla mottagare du har angett" }

%aside.admin
  = render partial: "shared/admin_menu"
