<% available_tickets = @group.available_tickets_by_occasion(@occasion) %>

<% if !@is_edit && available_tickets <= 0 %>

  <p class="message alert">
    Tyvärr finns det inga bokningsbara platser för det här evenemanget för den valda klassen/avdelningen.
    <a href="#">Klicka här</a> om du vill få ett meddelande om platser blir tillgängliga senare.
  </p>

<% else %>

  <%= form_for @booking, :builder => KPFormBuilder, :html => { :class => "booking-form" } do |f| %>
    <%= f.validation_error_indicator %>

    <% if @group.age_groups.num_children_by_age_span(@occasion.event.from_age, @occasion.event.to_age) == 0 %>
      <p class="message alert">
        Den valda klassen/avdelningen har elever vars ålder inte är rekommenderad för det här evenemanget.
      </p>
    <% end %>

    <p class="message response">
      <% if @is_edit %>
        Uppdatera bokningen för
        <strong><%= h @group.school.name %>, <%= h @group.name %></strong>.
        Det finns ytterligare 
        <strong><%= available_tickets -%></strong>
        platser tillgängliga för bokning.
      <% else %>
        <%
        case @occasion.event.ticket_state
        when :alloted_group
          %>
          <strong><%= h @group.school.name %>, <%= h @group.name %></strong>
          har
          <strong><%= available_tickets -%></strong>
          platser tillgängliga för bokning.
        <% when :alloted_district %>
          Det finns
          <strong><%= available_tickets -%></strong>
          tillgängliga platser att boka för alla förskolor och skolor i
          <strong><%= h @group.school.district.name %></strong>.
        <% when :free_for_all %>
          Det finns
          <strong><%= available_tickets -%></strong>
          tillgängliga platser att boka. Först till kvarn gäller.
        <% end %>
      <% end %>
    </p>

    <%= f.fields "Antal platser", "seats-container" do %>
      <%= f.text_field :student_count, :size => 30, :class => "num-seats" %>
      <%= f.text_field :adult_count, :size => 30, :class => "num-seats" %>

      <% if @occasion.wheelchair_seats.to_i > 0 %>
        <%= f.text_field(
          :wheelchair_count,
          :size => 30,
          :class => "num-seats",
          :field_help => "#{@occasion.wheelchair_seats.to_i - Ticket.count_wheelchair_by_occasion(@occasion)} rullstolsplatser tillgängligt på den här föreställningen."
        ) %>
      <% end %>
    <% end %>

    <%= f.fields "Medföljande vuxen" do %>
      <%= f.text_field :companion_name %>
      <%= f.text_field :companion_email %>
      <%= f.text_field :companion_phone %>
    <% end %>

    <% if @occasion.bus_booking? %>
      <%= f.fields "Boka kulturbuss" do %>
        <%= f.check_box  :bus_booking %>
        <%= f.text_field :bus_stop %>
        <%= f.radio_button :bus_one_way, false, :label => "Tur och retur" %>
        <%= f.radio_button :bus_one_way, true %>
        <p class="message notice in-form-message">
          <span>Bussbolaget kontaktar medföljande vuxen via epost om hämtningstider</span>
        </p>
      <% end %>
    <% end %>

    <%= f.fields "Speciella krav / Extra information ang. bokning" do %>
      <%= f.text_area :requirement, :rows => 8 %>
    <% end %>

    <%= f.buttons do -%>
      <%= f.hidden_field :group_id %>
      <%= f.hidden_field :occasion_id %>
      <%= f.submit(@is_edit ? "Uppdatera bokning" : "Boka") %>
    <% end -%>
  <% end %>
<% end %>
