<% if bookings.blank? %>

  <p class="message alert">
    Klassen/avdelningen har inga bokningar.
  </p>

<% else %>

  <table class="booking-list">
    <thead>
      <tr>
        <th class="school">Skola</th>
        <th class="group">Klass/avdelning</th>
        <th class="event">Evenemang</th>
        <th class="date">Datum</th>
        <th class="num-tickets">Antal platser</th>
        <th class="booked-by">Bokad av</th>
        <th class="tools"></th>
      </tr>
    </thead>

    <tbody>
      <% bookings.each do |booking|%>
        <tr class="<%= cycle('', 'even') %> <%= "cancelled" if booking.occasion.cancelled %>">
          <td class="school"><%= h booking.group.school.name -%></td>
          <td class="group"><%= h booking.group.name -%></td>
          <td class="event"><%= link_to h(booking.occasion.event.name), booking.occasion.event -%></td>
          <td class="date"><%= h booking.occasion.date -%></td>
          <td class="num-tickets"><%= h booking.num_tickets -%> platser bokade</td>
          <td class="booked-by"><%= h booking.user.name %></td>
          <td class="tools">
            <%= link_to "Bokningsbekräftelse", occasion_booking_path(booking.occasion_id, booking.group_id) %>
            <% if !booking.occasion.cancelled && booking.occasion.date >= Date.today %>
              <%= link_to "Ändra bokning", edit_occasion_booking_path(booking.occasion_id, booking.group_id) %>
              <%= link_to "Avboka",
                occasion_booking_path(booking.occasion_id, booking.group_id),
                :method => :delete,
                :confirm => "Är du säker?"
              %>
            <% end %>
          </td>
        </tr>
      <%  end %>
    </tbody>
  </table>

  <%= will_paginate bookings %>
<% end %>
