<% if bookings.blank? %>

  <p class="message alert">
    Inga bokningar hittades.
  </p>

<% else %>

  <table class="booking-list">
    <thead>
      <tr>
        <th class="school">Skola</th>
        <th class="group">Klass/avdelning</th>
        <th class="event">Evenemang</th>
        <th class="date">Datum</th>
        <th class="num-tickets">Antal platser</th>
        <th class="booked-by">Bokad av</th>
        <th class="tools"></th>
      </tr>
    </thead>

    <tbody>
      <% bookings.each do |booking|%>
        <tr class="<%= cycle('', 'even') %> <%= "cancelled" if booking.occasion.cancelled %>">
          <td class="school"><%= booking.group.school.name -%></td>
          <td class="group"><%= booking.group.name -%></td>
          <td class="event"><%= link_to booking.occasion.event.name, booking.occasion.event -%></td>
          <td class="date"><%= booking.occasion.date -%></td>
          <td class="num-tickets<%= " unbooked" if booking.unbooked %>">
            <% if booking.unbooked %>
              Avbokad <%= booking.unbooked_at.to_date %>
            <% else %>
              <%= booking.total_count -%> platser bokade
            <% end %>
          </td>
          <td class="booked-by"><%= booking.user.name %></td>
          <td class="tools">
            <%= link_to "Bokningsbekräftelse", booking_path(booking) %>
            <% if !booking.unbooked && !booking.occasion.cancelled && booking.occasion.date >= Date.today %>
              <%= link_to "Ändra bokning", edit_booking_path(booking) %>
              <%= link_to "Avboka", unbook_booking_path(booking) %>
            <% end %>
          </td>
        </tr>
      <%  end %>
    </tbody>
  </table>

  <%= will_paginate bookings %>
<% end %>
