<%= render :partial => "menu" %>

<h2 class="form-title">
  Boka platser för
  <%= link_to h(@occasion.event.name), @occasion.event -%>,
  föreställningen <%= h @occasion.date -%>
</h2>

<% if @occasion.event.ticket_state == Event::FREE_FOR_ALL %>
  <p class="message response">
    Det finns totalt
    <%= [
      Ticket.count(:conditions => { :event_id => @occasion.event.id , :state => Ticket::UNBOOKED } ),
      @occasion.available_seats
    ].min -%>
    platser tillgängliga för bokning.
  </p>
<% end %>

<div class="booking-group-selection">
  <%= render :partial => "shared/group_selection", :locals => { :occasion => @occasion } %>

  <div class="notification-request-info">
    <p>
      Hittar du inte din klass/avdelning?
    </p>
    <p>
      <%= link_to "Klicka här", new_event_notification_request_path(@occasion.event) %>
      för att få ett meddelande när platser blir tillgängliga.
    </p>
  </div>

  <%= hidden_field_tag "occasion_id", @occasion.id %>
</div>


<div id="kp-booking-form-container">
  <%= render :partial => "form" if @group %>
</div>
