<%# coding: utf-8 %>
<%= render partial: "menu" %>

<h2 class="form-title">
  Boka platser för
  <%= link_to @occasion.event.name, @occasion.event -%>,
  föreställningen <%= @occasion.date -%>
</h2>

<div class="booking-group-selection">
  <%= render partial: "shared/group_selection",
    locals: { occasion: @occasion, return_to: new_occasion_booking_path(@occasion) }
  %>

  <div class="notification-request-info">
    <p>
      Hittar du inte din klass/avdelning?
    </p>
    <p>
      <%= link_to "Klicka här", new_event_notification_request_path(@occasion.event) %>
      för att få ett meddelande när platser blir tillgängliga.
    </p>
  </div>

  <%= hidden_field_tag "occasion_id", @occasion.id %>
</div>


<div id="kp-booking-form-container">
  <%= render partial: "form" if @group %>
</div>
