<%= render partial: "menu" %>

<% content_for :head do %>
<script type="text/javascript">
  kpConfig.schools.search.url = "<%= search_occasion_schools_path(@occasion) %>";
</script>
<% end %>

<h2 class="form-title">
  Boka platser för
  <%= link_to @occasion.event.name, @occasion.event -%>,
  föreställningen <%= @occasion.date -%>
</h2>

<div class="booking-group-selection">
  <%= group_selection_form(occasion: @occasion) %>

  <div class="notification-request-info">
    <p>
      Hittar du inte din klass/avdelning?
    </p>
    <p>
      <%= link_to "Klicka här", new_event_notification_request_path(@occasion.event) %>
      för att få ett meddelande när platser blir tillgängliga.
    </p>
  </div>

  <%= hidden_field_tag "occasion_id", @occasion.id %>
</div>


<div id="kp-booking-form-container">
  <%= render partial: "form" if @group %>
</div>
