<%= render :partial => "menu" %>

<h2 class="form-title">
  Bokningsbekräftelse för
  <%= h @booking.group.school.name %>, <%= h @booking.group.name %> till
  <%= link_to h(@booking.occasion.event.name), @booking.occasion.event -%>,
  föreställningen <%= h @booking.occasion.date -%>
</h2>

<div class="admin-tools">
  <ul>
    <% if current_user.can_book? && !@booking.occasion.cancelled && @booking.occasion.date >= Date.today %>
      <li><%= link_to "Ändra bokning", edit_booking_path(@booking) %></li>
      <li>
        <%= link_to "Avboka", unbook_booking_path(@booking) %>
      </li>
    <% end %>
    <li><%= link_to_function "Skriv ut", "window.print()" %></li>
  </ul>
</div>

<table class="booking-confirmation-list">
  <tbody>
    <tr class="occasion-header">
      <th colspan="2">Arrangemang</th>
    </tr>
    <tr class="event">
      <th>Namn:</th>
      <td><%= link_to h(@booking.occasion.event.name), @booking.occasion.event %></td>
    </tr>
    <tr class="occasion-date">
      <th>Datum:</th>
      <td><%= h @booking.occasion.date %></td>
    </tr>
    <tr class="occasion-time">
      <th>Tid:</th>
      <td><%= l @booking.occasion.start_time, :format => :only_time %> - <%= l @booking.occasion.stop_time, :format => :only_time %></td>
    </tr>
    <tr class="occasion-address">
      <th>Adress:</th>
      <td><%= linebreakize(@booking.occasion.address) %></td>
    </tr>
    <tr class="occasion-address">
      <th>Beskrivning:</th>
      <td><%= paragraphize(@booking.occasion.description) %></td>
    </tr>

    <tr class="booking-header">
      <th colspan="2">Bokning</th>
    </tr>
    <tr class="num-normal">
      <th>Antal platser för barn:</th>
      <td><%= h @booking.student_count %></td>
    </tr>
    <tr class="num-adult">
      <th>Antal platser för vuxna:</th>
      <td><%= h @booking.adult_count %></td>
    </tr>
    <% if @booking.wheelchair_count > 0 %>
      <tr class="num-wheelchair">
        <th>Antal platser för rullstolsbundna:</th>
        <td><%= h @booking.wheelchair_count %></td>
      </tr>
    <% end %>

    <tr class="companion-header">
      <th colspan="2">Medföljande vuxen</th>
    </tr>
    <tr class="companion-name">
      <th>Namn:</th>
      <td><%= h @booking.companion_name %></td>
    </tr>
    <tr class="companion-email">
      <th>Epostadress:</th>
      <td><%= h @booking.companion_email %></td>
    </tr>
    <tr class="companion-cellphone">
      <th>Mobilnummer:</th>
      <td><%= h @booking.companion_phone %></td>
    </tr>

    <% unless @booking.requirement.blank? %>
      <tr class="requirement-header">
        <th colspan="2">Speciella krav / Extra information ang. bokning</th>
      </tr>
      <tr class="companion-name">
        <th>Extra behov:</th>
        <td><%= paragraphize(@booking.requirement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="cancellation-info">

  <p>Eventuell avbokning av platser görs via er bokningsbekräftelse på
  www.malmo.se/kulturproceduren fram tills dagen före evenemanget.</p>

  <p>Behöver ni avboka era platser samma dag som evenemanget ber vi er ringa
  0709-17 38 77.</p>

</div>
