<%# coding: utf-8 %>
<% show_school ||= false %>

<table>
  <thead>
    <tr>
      <th><%= sort_link "Namn", "name" %></th>
      <% if show_school -%>
        <th><%= sort_link "Skola", "school" %></th>
        <th><%= sort_link "Stadsdel", "district" %></th>
      <% end -%>
      <th><%= sort_link "Aktiv", "active" %></th>
      <th colspan="2"><%= sort_link "Prioritering", "priority" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% groups.each do |group| %>
      <tr class="<%= cycle("", "even") %>">
        <td><%= link_to group.name, group %></td>
        <% if show_school -%>
          <td><%= link_to group.school.name, group.school %></td>
          <td><%= link_to group.school.district.name, group.school.district %></td>
        <% end -%>
        <td><%= group.active ? "Ja" : "Nej" %></td>
        <% return_to = url_for(request.query_parameters.update(request.path_parameters)) %>
        <td>
          <%= link_to 'Flytta först',
            move_first_in_priority_group_path(group, :return_to => return_to) %>
        </td>
        <td>
          <%= link_to 'Flytta sist',
            move_last_in_priority_group_path(group, :return_to => return_to) %>
        </td>
        <td><%= link_to 'Redigera', edit_group_path(group) %></td>
        <td><%= link_to 'Radera', group, :data => {:confirm => 'Är du säker på att du vill radera gruppen?'}, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

