<%= render :partial => "groups/menu" -%>

<div class="model-cnt">

  <h1><%= h @group.name %></h1>

  <ul class="tools">
    <li><%= link_to 'Redigera', edit_group_path(@group) %></li>
    <li><%= link_to 'Radera', @group, :confirm => 'Är du säker på att du vill radera gruppen?', :method => :delete %></li>
  </ul>

  <dl class="meta">
    <dt class="school">Skola:</dt>
    <dd class="school"><%= link_to h(@group.school.name), @group.school %></dd>
    <dt class="district">Stadsdel:</dt>
    <dd class="district"><%= link_to h(@group.school.district.name), @group.school.district %></dd>
    <dt class="elit-id">ELIT-ID:</dt>
    <dd class="elit-id"><%= h @group.elit_id || "-" %></dd>
  </dl>

  <div class="clearer"></div>
</div>

<fieldset>
  <legend>Åldersgrupper</legend>

  <% form_for(@age_group, :html => { :class => "age-group-form" }) do |f| %>

    <%= f.error_messages :id => nil, :class => "form-error-messages" %>

    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.hidden_field :group_id %>
    <%= f.submit(["edit", "update"].include?(params[:action]) ? "Uppdatera åldersgrupp" : "Lägg till åldersgrupp") %>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th>Ålder</th>
        <th>Antal elever</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @group.age_groups.each do |age_group| %>
        <tr class="<%= cycle("", "alt") %>">
          <td><%= h age_group.age %></td>
          <td><%= h age_group.quantity %></td>
          <td><%= link_to 'Redigera', edit_age_group_path(age_group) %></td>
          <td><%= link_to 'Radera', age_group, :confirm => 'Är du säker på att du vill radera åldersgruppen?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</fieldset>
