<%# coding: utf-8 %>
<%= render :partial => "groups/menu" -%>

<div class="model-cnt">

  <h2><%= @group.name %></h2>

  <dl class="meta">
    <dt class="school">Skola:</dt>
    <dd class="school"><%= link_to @group.school.name, @group.school %></dd>
    <dt class="district">Stadsdel:</dt>
    <dd class="district"><%= link_to @group.school.district.name, @group.school.district %></dd>
    <dt class="contacts">Kontaktadresser:</dt>
    <dd class="contacts"><%= @group.contacts %></dd>
  </dl>

  <ul class="admin-tools">
    <li><%= link_to 'Redigera', edit_group_path(@group) %></li>
    <li><%= link_to 'Radera', @group, :data =>{:confirm => 'Är du säker på att du vill radera gruppen?'}, :method => :delete %></li>
  </ul>
</div>

<fieldset class="with-legend">
  <legend><span>Åldersgrupper</span></legend>

  <%= form_for(@age_group, :html => { :class => "age-group-form" }) do |f| %>

    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.hidden_field :group_id %>
    
    <%= f.submit(["edit", "update"].include?(params[:action]) ? "Uppdatera åldersgrupp" : "Lägg till åldersgrupp") %>

    <%#= f.validation_error_message :age %>
    <%#= f.validation_error_message :quantity %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Ålder</th>
        <th>Antal elever</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @group.age_groups.each do |age_group| %>
        <tr class="<%= cycle("", "even") %>">
          <td><%= age_group.age %></td>
          <td><%= age_group.quantity %></td>
          <td><%= link_to 'Redigera', edit_age_group_path(age_group) %></td>
          <td><%= link_to 'Radera', age_group, :data =>{:confirm => 'Är du säker på att du vill radera åldersgruppen?'}, :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</fieldset>
