<h1>Kulturkartan - Påminnelse utvärdering - <%= @answer_form.occasion.event.name %></h1>

<p>Hej!</p>

<p>
  För en tid sedan var du och
  <%= @answer_form.booking.group.name %> på <%= @answer_form.booking.group.school.name %>
  med om <%= @answer_form.occasion.event.name %>.
</p>

<p>Kultur för Barn och Ungas uppdrag är bland annat att:</p>

<ul>
  <li>Väcka barn och ungas lust och nyfikenhet för de olika konstformerna.</li>
  <li>Erbjuda ett brett och kvalitativt kulturutbud för barn och unga under den tid som de är i förskolan och skolan</li>
</ul>

<p>För att veta om vi uppfyller vårt uppdrag är dina och barnens åsikter viktiga.</p>

<p>
  Vi ber er därför svara på några korta frågor om <%= @answer_form.occasion.event.name %>.
  <a href="<%= mail_url(answer_questionnaire_path(@answer_form)) %>">
    Klicka här för att komma till utvärderingen.
  </a>
</p>

<p>
  Tack på förhand!
  <br/>
  <strong>Kultur för Barn och Unga</strong>
</p>

