<h1>Kulturproceduren - Utvärdering av <%= h @occasion.event.name %></h1>

<p>Hej!</p>

<p>
  Nu har du och
  <%= h @companion.group.name %> på <%= h @companion.group.school.name %>
  varit med om <%= h @occasion.event.name %>.
  Vi på Kultur för Barn och Unga är nyfikna på hur ni upplevde
  <%= h @occasion.event.name %>.
</p>

<p>
  Vi ber er därför svara på några korta frågor.
  <a href="<%= mail_url(answer_questionaire_path(@companion.answer_form.id)) %>">
    Klicka här för att komma till utvärderingen.
  </a>
</p>

<p>
  Tack på förhand!
  <br/>
  <strong>Kultur för Barn och Unga</strong>
</p>

