<h1>Kulturkartan - Utvärdering av <%= @occasion.event.name %></h1>

<p>Hej!</p>

<p>
  Nu har du och
  <%= @booking.group.name %> på <%= @booking.group.school.name %>
  varit med om <%= @occasion.event.name %>.
  Vi på Kultur för Barn och Unga är nyfikna på hur ni upplevde
  <%= @occasion.event.name %>.
</p>

<p>
  Vi ber er därför svara på några korta frågor.
  <a href="<%= mail_url(answer_questionnaire_path(@booking.answer_form.id)) %>">
    Klicka här för att komma till utvärderingen.
  </a>
</p>

<p>
  Tack på förhand!
  <br/>
  <strong>Kultur för Barn och Unga</strong>
</p>

