<h1>Föreställning inställd</h1>

<p>
  Vi måste tyvärr informera om att föreställningen <%= h @occasion.event.name %>,
  <%= h @occasion.date %> kl <%= l @occasion.start_time, :format => :only_time %>
  har blivit inställd.
</p>

<p>
  Ni har bokat biljetter till ovanstående tillställning för följande klasser/avdelningar:
</p>

<ul>
  <% @groups.each do |group| %>
    <li><%= h group.school.name %>, <%= h group.name %></li>
  <% end %>
</ul>
