<h1>Kulturkartan - Inställt evenemang - <%= @occasion.event.name %></h1>

<p>Hej!</p>

<p>
  Dessvärre har vi blivit tvungna att ställa in <%= @occasion.event.name %>.
  Era bokade platser gäller därför inte.
</p>

<p>Tänk på att avboka eventuellt bokad Kulturbuss.</p>

<p>
  <a href="<%= mail_url(event_path(@occasion.event)) %>">
    Här finns mer information om varför evenemanget ställts in.
  </a>
</p>

<p>
  På <%= link_to "Kulturkartan", APP_CONFIG[:kp_external_link] %> hittar du
  alla kulturevenemang för barn och unga i Malmö.
</p>

<p>Väl mött vid något av våra andra evenemang.</p>

<p>
  Vänliga hälsningar
  <br/>
  <%= link_to "Kultur för Barn och Unga", APP_CONFIG[:kbu_link] %>.
</p>
