<h1>Kulturkartan - Snart dags för <%= @occasion.event.name %></h1>

<p>Hej!</p>

<p>
  <%= @occasion.date %> kl <%= l @occasion.start_time, format: :only_time %>
  är det dags för
  <%= @booking.group.name %> på <%= @booking.group.school.name %>
  att ta del av
  <%= @occasion.event.name %>.
</p>

<% unless @occasion.address.blank? %>
<p>
  Adress:<br/>
  <%= linebreakize(@occasion.address) %>
</p>
<% end %>

<p>Tänk på</p>

<ul>
  <li>
    att du kan läsa mer om <%= @occasion.event.name %> på
    <%= link_to "Kulturkartan", mail_url(event_path(@occasion.event)) %>.
    Här finns också eventuell lärarhandledning.
  </li>
  <li>
    att om medföljande vuxen är någon annan än du, uppdatera detta i
    <%= link_to "bokningen", mail_url(bookings_path()) %>.
  </li>
</ul>

<p>
  Varmt välkomna!
  <br/>
  <strong>Kultur för Barn och Unga</strong>
</p>
