<%= render :partial => "menu" -%>

<% unless @applications.empty? -%>
  <table>

    <thead>
      <tr>
        <th><%= sort_link "Typ", "role" %></th>
        <th>Meddelande</th>
        <th><%= sort_link "Inskickad", "created_at" %></th>
        <th><%= sort_link "Inskickad av", "user" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @applications.each do |application| -%>
        <tr class="<%= cycle("", "even") %>">
          <td><%= type_string(application) %></td>
          <td><%= application.message %></td>
          <td><%= l application.created_at, :format => :short %></td>
          <td><%= application.user.name %></td>
          <td><%= link_to "Besvara", edit_role_application_path(application) %></td>
        </tr>
      <% end -%>
    </tbody>

  </table>

  <%= will_paginate @applications -%>
<% else -%>
  <p>Det finns inga nya ansökningar</p>
<% end -%>
