<%= render :partial => "menu" -%>

<% unless @applications.empty? -%>
  <table>

    <thead>
      <tr>
        <th><%= sort_link "Typ", "roles.name" %></th>
        <th>Meddelande</th>
        <th><%= sort_link "Inskickad", "created_at" %></th>
        <th><%= sort_link "Inskickad av", "users.name" %></th>
        <th><%= sort_link "Status", "state" %></th>
        <th><%= sort_link "Besvarad", "updated_at" %></th>
        <th>Svar</th>
      </tr>
    </thead>

    <tbody>
      <% @applications.each do |application| -%>
        <tr class="<%= cycle("", "alt") %>">
          <td><%= type_string(application) %></td>
          <td><%= h application.message %></td>
          <td><%= l application.created_at, :format => :short %></td>
          <td><%= link_to h(application.user.name), application.user %></td>
          <td><%= state_string(application) %></td>
          <td><%= l(application.updated_at, :format => :short) unless application.created_at == application.updated_at %></td>
          <td><%= h application.response %></td>
        </tr>
      <% end -%>
    </tbody>

  </table>
<% else -%>
  <p>Det finns inga nya ansökningar</p>
<% end -%>