<%# coding: utf-8 %>
<%= render :partial => "users/menu" -%>

<div class="tabs">
  <ul>
    <li class="<%= "preselect" if @application_type == :booker %>"><a href="#kp-role-application-tab-booker">Ansök om bokningsbehörighet</a></li>
    <li class="<%= "preselect" if @application_type == :culture_worker %>"><a href="#kp-role-application-tab-culture-worker">Ansök om publiceringsbehörighet</a></li>
    <li class="<%= "preselect" if @application_type == :host %>"><a href="#kp-role-application-tab-host">Ansök om värdbehörighet</a></li>
  </ul>

  <div id="kp-role-application-tab-booker">

    <p>
      För att kunna ge dig behörighet att boka evenemang åt elever eller förskolebarn
      behöver vi veta vilken skola du arbetar på. Var god fyll i namnet på skolan i fältet
      nedan. Du kan även komplettera med annan information i fältet.
    </p>
    <p>
      Ditt namn, din epost och ditt mobilnummer bifogas automatiskt från din profil.
    </p>

    <%= form_for(@booker_appl, :builder => KPFormBuilder, :html => { :class => "role-application-booker-form" }) do |f| -%>

      <%= f.validation_error_indicator %>

      <%= f.fields do -%>
        <%= f.text_area :message, :size => "40x5" %>

        <%= f.buttons do -%>
          <%= f.hidden_field :role_id %>
          <%= f.submit("Skicka ansökan") %>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>

  <div id="kp-role-application-tab-culture-worker">

    <p>
      För att kunna ge dig behörighet att publicera evenemang åt elever eller förskolebarn
      behöver vi veta vilken arrangör du arbetar för. Var god välj din arrangör nedan,
      eller skriv namnet på arrangören om du inte hittar den i listan. Du kan även
      lämna meddelanden till administratören som hanterar din ansökan.
    </p>
    <p>
      Ditt namn, din epost och ditt mobilnummer bifogas automatiskt från din profil.
    </p>

    <%= form_for(@culture_worker_appl, :builder => KPFormBuilder, :html => { :class => "role-application-culture-worker-form" }) do |f| -%>

      <%= f.validation_error_indicator %>

      <%= f.fields do -%>
        <%= f.collection_select :culture_provider_id, @culture_providers, :id, :name, { :prompt => "Välj arrangör" } %>
        <%= f.text_field :new_culture_provider_name %>
        <%= f.text_area :message, :size => "40x5" %>

        <%= f.buttons do -%>
          <%= f.hidden_field :role_id %>
          <%= f.submit("Skicka ansökan") %>
        <% end -%>
      <% end -%>

    <% end -%>
  </div>

  <div id="kp-role-application-tab-host">

    <p>
      Ditt namn, din epost och ditt mobilnummer bifogas automatiskt från din profil.
    </p>

    <%= form_for(@host_appl, :builder => KPFormBuilder, :html => { :class => "role-application-host-form" }) do |f| -%>
      <%= f.validation_error_indicator -%>

      <%= f.fields do -%>
        <%= f.text_area :message, :size => "40x5" %>

        <%= f.buttons do -%>
          <%= f.hidden_field :role_id %>
          <%= f.submit("Skicka ansökan") %>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>

</div>

<h2>Ansökningshistorik</h2>

<% unless current_user.role_applications.empty? -%>
  <table>

    <thead>
      <tr>
        <th>Typ</th>
        <th>Inskickad</th>
        <th>Status</th>
        <th>Besvarad</th>
        <th>Svar</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.role_applications.each do |application| -%>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= type_string(application) %></td>
          <td><%= l application.created_at, :format => :short %></td>
          <td><%= state_string(application) %></td>
          <td><%= l(application.updated_at, :format => :short) unless application.created_at == application.updated_at %></td>
          <td><%= application.response %></td>
        </tr>
      <% end -%>
    </tbody>

  </table>
<% else -%>
  <p>
    Du har inte gjort några ansökningar
  </p>
<% end -%>
