<%= render :partial => "menu" %>

<% form_for(@user, :builder => KPFormBuilder, :html => { :class => "user-form" }) do |f| %>

  <%= f.title "Redigera personuppgifter" -%>

  <% f.conditional_hint user_online? && current_user.has_role?(:admin) do -%>
    Uppdaterar persondetaljer för <%= link_to h(@user.get_username), @user %>.
  <% end -%>

  <%= f.validation_error_indicator -%>

  <% f.fields do -%>
    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <%= f.text_field :cellphone %>
    <% f.row do -%>
      <%= f.validation_error_message :district_ids %>
      <label>Stadsdelar:</label>
      <div class="input-container">
        <ul class="checkbox-list">
          <% @districts.each do |district| -%>
            <li>
              <%= check_box_tag "user[district_ids][]", district.id,
                @user.districts.any? { |d| d.id == district.id },
                :id => "kp-user-district_ids-#{district.id}"
              %>

              <label for="kp-user-district_ids-<%= h district.id %>"><%= h district.name %></label>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end -%>

  <% f.buttons do -%>
    <%= f.submit("Uppdatera personuppgifter") %>
  <% end -%>

<% end -%>
