<%= render :partial => "menu" %>

<% if user_online? && current_user.has_role?(:admin) -%>
  <p>
    Byter lösenord för <%= link_to h(@user.username), @user %>.
  </p>
<% end -%>

<% form_for(@user, :url => update_password_user_path(@user)) do |f| -%>
  <fieldset>
    <legend>Byt lösenord</legend>

    <dl class="form-elements">
      <% unless user_online? && current_user.has_role?(:admin) -%>
        <dt>
          <label for="kp-user-current_password">Nuvarande lösenord</label>
        </dt>
        <dd>
          <input type="password" name="current_password" id="kp-user-current_password" size="30"/>
        </dd>
      <% end -%>
      <dt>
        <%= f.label :password %>
      </dt>
      <dd>
        <%= f.password_field :password %>
      </dd>
      <dt>
        <%= f.label :password_confirmation %>
      </dt>
      <dd>
        <%= f.password_field :password_confirmation %>
      </dd>
    </dl>

    <div class="submit-cnt">
      <%= f.submit("Byt lösenord") %>
    </div>

  </fieldset>
<% end -%>