<%= render :partial => "menu" %>

<% if user_online? && current_user.has_role?(:admin) -%>
  <p>
    Uppdaterar persondetaljer för <%= link_to h(@user.username), @user %>.
  </p>
<% end -%>

<% form_for(@user) do |f| %>

  <fieldset>
    <legend>Personuppgifter</legend>

    <dl class="form-elements">
      <dt>
        <%= f.label :name %>
      </dt>
      <dd>
        <%= f.text_field :name %>
        <%= f.error_message_on :name %>
      </dd>
      <dt>
        <%= f.label :email %>
      </dt>
      <dd>
        <%= f.text_field :email %>
        <%= f.error_message_on :email %>
      </dd>
      <dt>
        <%= f.label :mobil_nr %>
      </dt>
      <dd>
        <%= f.text_field :mobil_nr %>
        <%= f.error_message_on :mobil_nr %>
      </dd>
    </dl>
  </fieldset>

  <div class="submit-cnt">
    <%= f.submit("Uppdatera personuppgifter") %>
  </div>

<% end -%>