<%= render :partial => "menu" %>

<%= form_for(@user, :url => update_password_user_path(@user), :builder => KPFormBuilder, :html => { :class => "user-form" }) do |f| -%>

  <%= f.title "Byt lösenord" %>

  <%= f.conditional_hint user_online? && current_user.has_role?(:admin) do -%>
    Byter lösenord för <%= link_to h(@user.get_username), @user %>.
  <% end -%>

  <%= f.validation_error_indicator %>

  <%= f.fields do -%>

    <% unless user_online? && current_user.has_role?(:admin) -%>
      <%= f.row do -%>
        <label for="kp-user-current_password">Nuvarande lösenord:</label>

        <%= f.field do -%>
          <input type="password" name="current_password" id="kp-user-current_password" size="30"/>
        <% end -%>
      <% end -%>
    <% end -%>

    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>

    <%= f.buttons do -%>
      <%= f.submit("Byt lösenord") %>
    <% end -%>

  <% end -%>
<% end -%>
