<%= render :partial => "menu" -%>

<table>

  <thead>
    <tr>
      <th>Användarnamn</th>
      <th>Namn</th>
      <th>Mobilnummer</th>
      <th>Epost</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      
      <tr class="<%= cycle('', 'alt') %>">
        <td><%= h user.username %></td>
        <td><%= h user.name %></td>
        <td><%= h user.mobil_nr %></td>
        <td><%= h user.email %></td>
        <td><%= link_to 'Visa', user %></td>
        <td><%= link_to 'Redigera', edit_user_path(user) %></td>
        <td><%= link_to 'Byt lösenord', edit_password_user_path(user) %></td>
        <td><%= link_to 'Ta bort', user, :confirm => 'Are you säker?', :method => :delete %></td>
      </tr>

    <% end %>
  </tbody>
  
</table>
