<%# coding: utf-8 %>
<%= render :partial => "menu" -%>

<div class="filter-tools">
  <%= form_tag apply_filter_users_path() do %>
    <ul>
      <% filter = (session[:user_list_filter] || {}) -%>
      <li class="district-filter">
        <label for="kp-user-filter-district_id">Stadsdel:</label>
        <%= select_tag "district_id",
          options_from_collection_for_select(@districts, :id, :name, filter[:district_id]).insert(0,'<option value="all">Alla</option>'),
          :id => "kp-user-filter-district_id"
        %>
      </li>
      <li class="name-filter">
        <label for="kp-user-filter-name">Namn/användarnamn:</label>
        <%= text_field_tag "name", filter[:name], :id => "kp-user-filter-name" %>
      </li>
    </ul>
    <div class="button-container">
      <input type="submit" name="search" value="Sök"/>
      <input type="submit" name="clear" value="Rensa"/>
    </div>
  <% end %>
</div>

<table class="multirow">

  <thead>
    <tr>
      <th><%= sort_link "Användarnamn", "username" %></th>
      <th><%= sort_link "Namn", "name" %></th>
      <th><%= sort_link "Mobilnummer", "cellphone" %></th>
      <th><%= sort_link "Epost", "email" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% css_class = cycle('', 'even') %>
      
      <tr class="<%= css_class %>">
        <td><%= user.get_username %></td>
        <td><%= user.name %></td>
        <td><%= user.cellphone %></td>
        <td><a href="mailto:<%= u user.email %>"><%= user.email %></a></td>
      </tr>
      <tr class="<%= css_class %> action-row">
        <td colspan="4">
          <ul>
            <li><%= link_to 'Visa', user %></li>
            <% if current_user.has_role?(:admin) %>
              <li><%= link_to 'Redigera', edit_user_path(user) %></li>
              <li><%= link_to 'Byt lösenord', edit_password_user_path(user) %></li>
              <li><%= link_to 'Ta bort', user, :data => {:confirm => "Är du säker?"}, :method => :delete %></li>
            <% end %>
          </ul>
        </td>
      </tr>

    <% end %>
  </tbody>
  
</table>

<%= will_paginate @users -%>
