<%= render :partial => "menu" -%>

<div class="filter-tools">
  <% form_tag apply_filter_users_path() do %>
    <ul>
      <li class="district-filter">
        <label for="kp-user-filter-district_id">Stadsdel:</label>
        <%= select_tag "district_id",
          '<option value="all">Alla</option>' + options_from_collection_for_select(@districts, :id, :name, (session[:user_list_filter] || {})[:district_id]),
          :id => "kp-user-filter-district_id"
        %>
      </li>
    </ul>
    <div class="button-container">
      <input type="submit" value="Visa"/>
    </div>
  <% end %>
</div>

<table class="multirow">

  <thead>
    <tr>
      <th><%= sort_link "Användarnamn", "username" %></th>
      <th><%= sort_link "Namn", "name" %></th>
      <th><%= sort_link "Mobilnummer", "cellphone" %></th>
      <th><%= sort_link "Epost", "email" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% css_class = cycle('', 'even') %>
      
      <tr class="<%= css_class %>">
        <td><%= h user.get_username %></td>
        <td><%= h user.name %></td>
        <td><%= h user.cellphone %></td>
        <td><a href="mailto:<%= u user.email %>"><%= h user.email %></a></td>
      </tr>
      <tr class="<%= css_class %> action-row">
        <td colspan="4">
          <ul>
            <li><%= link_to 'Visa', user %></li>
            <% if current_user.has_role?(:admin) %>
              <li><%= link_to 'Redigera', edit_user_path(user) %></li>
              <li><%= link_to 'Byt lösenord', edit_password_user_path(user) %></li>
              <li><%= link_to 'Ta bort', user, :confirm => 'Are you säker?', :method => :delete %></li>
            <% end %>
          </ul>
        </td>
      </tr>

    <% end %>
  </tbody>
  
</table>

<%= will_paginate @users -%>
