- content_for(:page_title) do
  Har du glömt ditt lösenord?

%main.with-aside
  .body-copy
    %p
      För att återställa lösenordet fyller du i ditt användarnamn eller din
      epostadress i nedanstående formulär. Om ett användarkonto finns så kommer
      ett meddelande skickas till epostadressen där du får bekräfta att
      lösenordet ska återställas. När bekräftelsen är gjord så får du ett nytt
      lösenord via epost.

  = simple_form_for @user,
    url: send_password_reset_confirmation_users_path,
    html: { class: "basic" } do |f|

    = f.input :username

    .form-group
      %span.control-label
      .controls
        eller

    = f.input :email

    .form-group
      %span.control-label
      .controls
        = f.submit "Skicka mail", class: "btn btn-primary"

= render partial: "menu"
