<%= render partial: "menu" %>

<h2 class="form-title">Återställ lösenord</h2>

<p>Har du glömt ditt lösenord?</p>

<p>
  För att återställa lösenordet fyller du i ditt användarnamn eller din
  epostadress i nedanstående formulär. Om ett användarkonto finns så kommer
  ett meddelande skickas till epostadressen där du får bekräfta att lösenordet
  ska återställas. När bekräftelsen är gjord så får du ett nytt lösenord
  via epost.
</p>

<p class="alert">
  Om du vanligtvis loggar in med användarnamn och lösenord till Malmö Stads
  interna klientplattform så kan du inte återställa ditt lösenord via
  Kulturproceduren.
</p>

<%= form_for(@user, url: send_password_reset_confirmation_users_path(), builder: KPFormBuilder, html: { class: "request-password-reset-form" }) do |f| %>
  <%= f.fields do %>
    <%= f.text_field :username %>
    <%= f.row "eller", "description-form-row" %>
    <%= f.text_field :email %>
  <% end %>

  <%= f.buttons do %>
    <%= f.submit("Skicka mail") %>
  <% end %>
<% end %>
