<%= render :partial => "menu" %>


<fieldset class="with-legend">
  <legend><span>Personuppgifter</span></legend>

  <dl>
    <dt>
      Namn
    </dt>
    <dd>
      <%= h @user.name %>
    </dd>
    <dt>
      Epost
    </dt>
    <dd>
      <%= h @user.email %>
    </dd>
    <dt>
      Mobilnummer
    </dt>
    <dd>
      <%= h @user.cellphone %>
    </dd>
    <dt>
      Stadsdelar
    </dt>
    <dd>
      <% unless @user.districts.empty? %>
        <ul>
          <% @user.districts.each do |district| -%>
            <li><%= h district.name %></li>
          <% end %>
        </ul>
      <% end %>
    </dd>
  </dl>
</fieldset>

<fieldset class="with-legend">
  <legend><span>Kontodetaljer</span></legend>

  <dl class="form-elements">
    <dt>
      Användarnamn
    </dt>
    <dd>
      <%= h @user.get_username -%>
    </dd>
  </dl>
</fieldset>

<fieldset class="privileges-cnt with-legend">
  <legend><span>Behörigheter</span></legend>

  <ul>
    <% if @user.has_role?(:admin) -%>

      <li>
        Användaren är administratör och har fulla rättigheter i systemet.
      </li>

    <% else -%>

      <% if @user.has_role?(:booker) -%>
        <li>
          Användaren kan boka platser.
        </li>
      <% end -%>

      <% if @user.has_role?(:host) -%>
        <li>
          Användaren är evenemangsvärd.
        </li>
      <% end -%>

      <% if @user.has_role?(:coordinator) -%>
        <li>
          Användaren är samordnare.
        </li>
      <% end -%>

      <% if @user.has_role?(:culture_worker) -%>
        <li>
          Användaren kan publicera evenemang och administrera profilen för följande arrangörer:

          <ul>
            <% @user.culture_providers.each do |provider| -%>
              <li>
                <%= link_to h(provider.name), provider %>
              </li>
            <% end -%>
            <% if @user.culture_providers.empty? -%>
              <li>Inga arrangörer.</li>
            <% end -%>
          </ul>
        </li>
      <% end -%>

    <% end -%>

  </ul>

</fieldset>
