<%# coding: utf-8 %>
<%= render :partial => "menu" %>


<fieldset class="with-legend">
  <legend><span>Personuppgifter</span></legend>

  <ul class="admin-tools">
    <li><%= link_to "Redigera", edit_user_path(@user) %></li>
    <% if current_user.has_role?(:admin) %>
      <li><%= link_to "Radera", @user, :data => {:confirm => 'Är du säker?'}, :method => :delete %></li>
    <% end -%>
  </ul>

  <dl>
    <dt>
      Namn
    </dt>
    <dd>
      <%= @user.name %>
    </dd>
    <dt>
      Epost
    </dt>
    <dd>
      <%= @user.email %>
    </dd>
    <dt>
      Mobilnummer
    </dt>
    <dd>
      <%= @user.cellphone %>
    </dd>
    <dt>
      Stadsdelar
    </dt>
    <dd>
      <% unless @user.districts.empty? %>
        <ul>
          <% @user.districts.each do |district| -%>
            <li><%= district.name %></li>
          <% end %>
        </ul>
      <% end %>
    </dd>
  </dl>
</fieldset>

<fieldset class="with-legend">
  <legend><span>Kontodetaljer</span></legend>

  <dl class="form-elements">
    <dt>
      Användarnamn
    </dt>
    <dd>
      <%= @user.get_username -%>
    </dd>
    <dt>
      Lösenord
    </dt>
    <dd>
      <%= link_to "Byt lösenord", edit_password_user_path(@user) %>
    </dd>
  </dl>
</fieldset>

<fieldset class="privileges-cnt with-legend">
  <legend><span>Behörigheter</span></legend>

  <% denom = current_user.has_role?(:admin) ? "Användaren" : "Du" %>

  <% unless current_user.has_role? :admin %>

    <ul class="admin-tools">
      <li><%= link_to "Ansök om behörigheter i systemet", role_applications_path %></li>
    </ul>

  <% end -%>

  <ul>

    <% if @user.roles.empty? && current_user.has_role?(:admin) -%>

      <li>
        <%= denom %> kan inte boka platser.
        <span class="inline-tool">
          <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :booker) %>
        </span>
      </li>
      <li>
        <%= denom %> är inte evenemangsvärd.
        <span class="inline-tool">
          <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :host) %>
        </span>
      </li>
      <li>
        <%= denom %> är inte samordnare.
        <span class="inline-tool">
          <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :coordinator) %>
        </span>
      </li>
      <li>
        <%= denom %> kan inte publicera evenemang och administrera profilen för arrangörer:
        <span class="inline-tool">
          <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :culture_worker) %>
        </span>
      </li>

      <li>
        <%= link_to "Tilldela användaren administratörsrättigheter", grant_role_path(:id => @user.id, :role => :admin) %>
      </li>

    <% elsif @user.has_role?(:admin) -%>

      <li>
        <%= denom %> är administratör och har fulla rättigheter i systemet.
        <% if current_user.has_role?(:admin) -%>
          <span class="inline-tool">
            <%= link_to "Återkalla rättigheter", revoke_role_path(:id => @user.id, :role => :admin) %>
          </span>
        <% end -%>
      </li>

    <% else -%>


      <% if @user.has_role?(:booker) -%>
        <li>
          <%= denom %> kan boka platser.

          <% if current_user.has_role?(:admin) -%>
            <span class="inline-tool">
              <%= link_to "Återkalla rättigheter", revoke_role_path(:id => @user.id, :role => :booker) %>
            </span>
          <% end -%>
        </li>
      <% elsif current_user.has_role?(:admin) -%>
        <li>
          <%= denom %> kan inte boka platser.
          <span class="inline-tool">
            <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :booker) %>
          </span>
        </li>
      <% end -%>

      <% if @user.has_role?(:host) -%>
        <li>
          <%= denom %> är evenemangsvärd.

          <% if current_user.has_role?(:admin) -%>
            <span class="inline-tool">
              <%= link_to "Återkalla rättigheter", revoke_role_path(:id => @user.id, :role => :host) %>
            </span>
          <% end -%>
        </li>
      <% elsif current_user.has_role?(:admin) -%>
        <li>
          <%= denom %> är inte evenemangsvärd.
          <span class="inline-tool">
            <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :host) %>
          </span>
        </li>
      <% end -%>

      <% if @user.has_role?(:coordinator) -%>
        <li>
          <%= denom %> är samordnare.

          <% if current_user.has_role?(:admin) -%>
            <span class="inline-tool">
              <%= link_to "Återkalla rättigheter", revoke_role_path(:id => @user.id, :role => :coordinator) %>
            </span>
          <% end -%>
        </li>
      <% elsif current_user.has_role?(:admin) -%>
        <li>
          <%= denom %> är inte samordnare.
          <span class="inline-tool">
            <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :coordinator) %>
          </span>
        </li>
      <% end -%>

      <% if @user.has_role?(:culture_worker) -%>
        <li>
          <%= denom %> kan publicera evenemang och administrera profilen för följande arrangörer:

          <ul>
            <% @user.culture_providers.each do |provider| -%>
              <li>
                <%= link_to provider.name, provider %>

                <% if current_user.has_role?(:admin) %>
                  <span class="inline-tool">
                    <%= link_to "Ta bort", remove_culture_provider_user_path(:id => @user.id, :culture_provider_id => provider.id) %>
                  </span>
                <% end %>
              </li>
            <% end -%>
            <% if @user.culture_providers.empty? -%>
              <li>Inga arrangörer.</li>
            <% end -%>
          </ul>

          <% if current_user.has_role?(:admin) -%>
            <form action="<%= add_culture_provider_user_path(@user) %>" method="post">
              <div class="inline-form-elements">
                <label for="kp-culture_provider_id">Arrangör:</label>
                <%= select_tag "culture_provider_id", options_from_collection_for_select(CultureProvider.all, "id", "name") %>
                <%= submit_tag("Lägg till arrangör") %>
                <%= hidden_field_tag 'authenticity_token' , form_authenticity_token %>
              </div>
            </form>

            <span class="inline-tool">
              <%= link_to "Återkalla rättigheter", revoke_role_path(:id => @user.id, :role => :culture_worker) %>
            </span>
          <% end -%>
        </li>
      <% elsif current_user.has_role?(:admin) -%>
        <li>
          <%= denom %> kan inte publicera evenemang och administrera profilen för arrangörer:
          <span class="inline-tool">
            <%= link_to "Tilldela rättigheter", grant_role_path(:id => @user.id, :role => :culture_worker) %>
          </span>
        </li>
      <% end -%>

      <% if current_user.has_role?(:admin) -%>
        <li>
          <%= link_to "Tilldela användaren administratörsrättigheter", grant_role_path(:id => @user.id, :role => :admin) %>
        </li>
      <% end %>

    <% end -%>

  </ul>

</fieldset>
