<p>
  <b>User name:</b>
  <%=h @user.user_name %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Mobil nr:</b>
  <%=h @user.mobil_nr %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>