%nav.basic
  %h1 Administration
  %ul
    %li= link_to "Behörigheter", role_applications_path
    %li= link_to "Statistik", statistics_path
    %li= link_to "Enkäter", questionnaires_path
    %li= link_to "Kategorier", categories_path
    %li= link_to "Områden", districts_path
    %li= link_to "Skolor", schools_path
    %li= link_to "Grupper", groups_path
    %li= link_to "Användare", users_path
    %li= link_to "Sändlistor", new_information_path
    %li= link_to "Lämna administrationen", root_path
