<fieldset id="kp-group-selection-form" class="with-legend">
  <legend><span>Välj klass/avdelning</span></legend>

  <div class="form-row school_id-field-row">
    <%= label_tag "group_selection-school_name", "Sök och välj en skola:" %>

    <div class="input-container">
      <%= form_tag(controller: "schools", action: "select") do %>
        <%= hidden_field_tag "return_to", return_to %>
        <%= hidden_field_tag("occasion_id", occasion.id) if occasion %>

        <%= text_field_tag "school_name",
          state[:school_name],
          id: "kp-group_selection-school_name",
          placeholder: "Skriv namnet på skolan" %>

        <noscript>
          <%= submit_tag "Sök och välj skola" %>
        </noscript>
      <% end %>
    </div>
  </div>

  <div class="form-row group_id-field-row">
    <%= label_tag "group_selection-group_id", "Välj klass/avdelning:" %>

    <div class="input-container">
      <%= form_tag(controller: "groups", action: "select") do %>
        <%= hidden_field_tag "return_to", return_to %>
        <%= hidden_field_tag("occasion_id", occasion.id) if occasion %>

        <%= select_tag "group_id",
          options_for_select(group_options, state[:group_id]),
          id: "kp-group_selection-group_id",
          disabled: state[:school_id].blank? %>

        <noscript>
          <%= submit_tag "Välj klass/avdelning" %>
        </noscript>
      <% end %>
    </div>
  </div>
</fieldset>
