<%
  occasion ||= nil
  hide_title ||= nil
  return_to ||= url_for(request.query_parameters.update(request.path_parameters))
%>

<fieldset id="kp-group-selection-form" class="with-legend">
  <legend><span>Välj klass/avdelning</span></legend>

  <div class="form-row district_id-field-row">
    <%= label_tag "group_selection-district_id", "Välj område:" %>

    <div class="input-container">
      <%= form_tag({ controller: "districts", action: "select" }) do %>
        <%= hidden_field_tag "return_to", return_to %>
        <%= hidden_field_tag("occasion_id", occasion.id) if occasion  %>

        <%= select_tag(
          "district_id",
          options_from_collection_for_select(@group_selection_collections[:districts], :id, :name, session[:group_selection][:district_id]),
          { id: "kp-group_selection-district_id", prompt: "Välj område" })
        %>

        <noscript>
          <%= submit_tag "Välj område" %>
        </noscript>
      <% end %>
    </div>
  </div>

  <div class="form-row school_id-field-row">
    <%= label_tag "group_selection-school_id", "Välj skola:" %>

    <div class="input-container">
      <%= form_tag({ controller: "schools", action: "select" }) do %>
        <%= hidden_field_tag "return_to", return_to %>
        <%= hidden_field_tag("occasion_id", occasion.id) if occasion %>

        <% if @group_selection_collections[:schools] %>
          <%= select_tag(
            "school_id",
            options_from_collection_for_select(@group_selection_collections[:schools], :id, :name, session[:group_selection][:school_id]),
            { id: "kp-group_selection-school_id", prompt: "Välj skola" })
          %>

          <noscript>
            <%= submit_tag "Välj skola" %>
          </noscript>

        <% else %>

          <%= select_tag(
            "school_id",
            "<option>Välj område först</option>".html_safe,
            disabled: true, id: "kp-group_selection-school_id")
          %>

        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-row group_id-field-row">
    <%= label_tag "group_selection-group_id", "Välj klass/avdelning:" %>

    <div class="input-container">
      <%= form_tag({ controller: "groups", action: "select" }) do %>
        <%= hidden_field_tag "return_to", return_to %>

        <% if @group_selection_collections[:groups] %>
          <%
            if occasion
          %>
          <%= hidden_field_tag("occasion_id", occasion.id) %>
          <%
            opts = options_for_select(
              @group_selection_collections[:groups].map { |g|
              [
                g.name + (occasion.event.alloted_group? ? " (#{g.available_tickets_by_occasion(occasion)} platser)" : ""),
                g.id
              ]
            },
              session[:group_selection][:group_id]
            )
            else
              opts = options_from_collection_for_select(
                @group_selection_collections[:groups],
                :id,
                :name,
                session[:group_selection][:group_id])
            end
          %>

          <%= select_tag(
            "group_id",
            ("<option>Välj klass/avdelning</option>" + opts).html_safe,
            { id: "kp-group_selection-group_id" })
          %>

          <noscript>
            <%= submit_tag "Välj klass/avdelning" %>
          </noscript>

        <% else %>
          <%= select_tag(
            "group_id",
            "<option>Välj skola först</option>".html_safe,
            disabled: true, id: "kp-group_selection-group_id")
          %>
        <% end %>
      <% end %>
    </div>
  </div>

</fieldset>
