<div class="model-cnt">

  <% if event.main_image -%>
    <div class="main-image">

      <% if user_online? && current_user.can_administrate?(event.culture_provider) -%>
        <ul class="tools">
          <li><%= link_to "Ladda upp ny logotyp", new_ev_main_img_path(:event_id => event.id) -%></li>
        </ul>
      <% end -%>

      <img src="<%= h event.main_image.image_url %>" alt="<%= h event.main_image.name %>"/>
    </div>
  <% elsif user_online? && current_user.can_administrate?(event.culture_provider) -%>
    <div class="main-image">
      <ul class="tools">
        <li><%= link_to "Ladda upp ny logotyp", new_ev_main_img_path(:event_id => event.id) -%></li>
      </ul>
    </div>
  <% end -%>

  <h1><%= h event.name %></h1>

  <% if user_online? -%>
    <ul class="tools">
      <% if current_user.can_administrate?(event.culture_provider) -%>
        <li><%= link_to 'Redigera', edit_event_path(event) %></li>
      <% end -%>
      <% if current_user.has_role?(:admin) && event.show_date > Date.today -%>
        <li><%= link_to 'Fördela inköpta biljetter', :controller => "allotment", :action => "init", :id => event.id %></li>
      <% end -%>
    </ul>
  <% end -%>

  <% if !event.images.empty? %>

    <div class="images-cnt">

      <% if user_online? && current_user.can_administrate?(event.culture_provider) -%>
        <ul class="tools">
          <li><%= link_to "Ladda upp ny bild", new_ev_img_path(:event_id => event.id) -%></li>
        </ul>
      <% end -%>

      <ul class="images">
        <% event.images.each do |image| -%>
          <li>
            <img src="<%= h image.thumb_url %>" alt="<%= h image.name %>"/>
          </li>
        <% end -%>
      </ul>
    </div>

  <% elsif user_online? && current_user.can_administrate?(event.culture_provider) -%>

    <div class="images-cnt">
      <ul class="tools">
        <li><%= link_to "Ladda upp ny bild", new_ev_img_path(:event_id => event.id) -%></li>
      </ul>
    </div>

  <% end -%>

  <dl class="meta">
    <% if event.show_date > Date.today && user_online? && current_user.can_administrate?(event.culture_provider) %>
      <dt class="show-date">Publiceras</dt>
      <dd class="show-date"><%= h event.show_date %></dd>
    <% end -%>
    <% unless empty? event.booking_url -%>
      <dt class="booking-url">Bokning</dt>
      <dd class="booking-url"><%= link_to h(event.booking_url), event.booking_url %></dd>
    <% end -%>
    <% unless empty? event.cost -%>
      <dt class="cost">Kostnad</dt>
      <dd class="cost"><%= linebreakize(event.cost) %></dd>
    <% end -%>
    <dt class="culture-provider">Arrangör</dt>
    <dd class="culture-provider"><%= link_to h(event.culture_provider.name), culture_provider_path(event.culture_provider) %></dd>
    <dt class="ages">För åldrar</dt>
    <dd class="ages"><%= event.from_age %>-<%= event.to_age %> år</dd>
    <% unless empty? event.opening_hours -%>
      <dt class="opening-hours">Öppettider</dt>
      <dd class="opening-hours"><%= linebreakize(event.opening_hours) %></dd>
    <% end -%>
    <% unless empty? event.url -%>
      <dt class="url">Extern länk</dt>
      <dd class="url"><%= link_to h(event.url), event.url %></dd>
    <% end -%>
    <% unless empty? event.movie_url -%>
      <dt class="movie-url">Youtube-länk</dt>
      <dd class="movie-url"><%= link_to h(event.movie_url), event.movie_url %></dd>
    <% end -%>
  </dl>

  <%= paragraphize(event.description, 'class="description"') %>

  <div class="clearer"></div>
</div>