<%= render :partial => "menu" -%>

<h1>Evenemang</h1>

<table>
  <tr>
    <th>Namn</th>
    <th>Ålder</th>
    <th>Beskrivning</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%=h event.name %></td>
      <td><%=h event.from_age %>-<%=h event.to_age %></td>
      <td><%=h event.description %></td>
      <td><%= link_to 'Visa', event %></td>
    </tr>
  <% end %>
</table>