<%= render :partial => "menu" -%>

<h1>Evenemang</h1>

<table>
  <tr>
    <th>Namn</th>
    <th>Arrangör</th>
    <th>Ålder</th>
    <th>Beskrivning</th>
    <th colspan="2"></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to h(event.name), event %></td>
      <td><%= link_to h(event.culture_provider.name), event.culture_provider %></td>
      <td><%= h event.from_age %>-<%=h event.to_age %></td>
      <td><%= h event.description %></td>
      <td><%= link_to 'Redigera', edit_event_path(event) %></td>
      <td><%= link_to 'Radera', event, :method => :delete, :confirm => "Är du säker på att du vill radera evenemanget?" %></td>
    </tr>
  <% end %>
</table>