<%= render :partial => "menu" -%>

<% is_edit = ["edit", "update"].include?(params[:action]) -%>

<% form_for(@event, :builder => KPFormBuilder, :html => { :class => "event-form" }) do |f| %>

  <%= f.title(is_edit ? "Redigera evenemang" : "Skapa evenemang") %>

  <%= f.validation_error_indicator %>

  <% f.fields do -%>

    <% unless is_edit -%>
      <%= f.collection_select :culture_provider_id, @culture_providers, :id, :name %>
    <% end -%>

    <%= f.text_field :name %>

    <%= f.check_box :further_education %>

    <%= f.select :from_age, (0..19).to_a, :row_hidden => is_edit && @event.further_education %>
    <%= f.select :to_age, (0..19).to_a, :row_hidden => is_edit && @event.further_education %>

    <% if !is_edit || @event.ticket_release_date.nil? || @event.ticket_release_date > Date.today %>
      <%= f.text_field :visible_from, :class => "date-field auto" %>
    <% end -%>

    <%= f.text_field :visible_to, :class => "date-field auto" %>
    <%= f.text_area :description %>

    <% @category_groups.each do |category_group| -%>
      <% unless category_group.categories.empty? -%>
        <% f.row do -%>
          <label><%= h category_group.name %>:</label>

          <ul class="checkbox-list">
            <% category_group.categories.each do |category| -%>
              <li>
                <%= check_box_tag "category_ids[]", category.id,
                  @event.categories.any? { |c| c.id == category.id },
                  :id => "kp-event-category_ids-#{category.id}" %>

                <label for="kp-event-category_ids-<%= h category.id %>"><%= h category.name %></label>
              </li>
            <% end -%>
          </ul>
        <% end -%>
      <% end -%>
    <% end -%>

    <%= f.text_field :url %>
    <%= f.text_field :booking_info %>
    <%= f.text_field :movie_url %>
    <%= f.text_area :opening_hours, :rows => 5 %>
    <%= f.text_area :cost, :rows => 5 %>

    <% f.buttons do -%>
      <%= f.submit(is_edit ? "Uppdatera" : "Spara") %>
    <% end -%>

  <% end -%>
<% end %>
