<%= render :partial => "menu" -%>

<% is_edit = ["edit", "update"].include?(params[:action]) -%>

<% form_for(@event) do |f| %>

  <fieldset>
    <legend><%= is_edit ? "Redigera" : "Skapa" %> evenemang</legend>

    <dl class="form-elements">
      <% unless is_edit -%>
        <dt>
          <%= f.label :culture_provider_id %>
        </dt>
        <dd>
          <%= f.collection_select :culture_provider_id, @culture_providers, :id, :name %>
        </dd>
      <% end -%>
      <dt>
        <%= f.label :name %>
      </dt>
      <dd>
        <%= f.text_field :name %>
        <%= f.error_message_on :name %>
      </dd>
      <dt>
        <%= f.label :from_age %>
      </dt>
      <dd>
        <%= f.select :from_age, (0..19).to_a %>
        <%= f.error_message_on :from_age %>
      </dd>
      <dt>
        <%= f.label :to_age %>
      </dt>
      <dd>
        <%= f.select :to_age, (0..19).to_a %>
        <%= f.error_message_on :to_age %>
      </dd>
      <dt>
        <%= f.label :further_education %>
      </dt>
      <dd>
        <%= f.check_box :further_education %>
      </dd>
      <% unless is_edit && @event.visible_from <= Date.today %>
        <dt>
          <%= f.label :visible_from %>
        </dt>
        <dd>
          <%= f.text_field :visible_from, :class => "date-input-field" %>
        </dd>
      <% end -%>
      <dt>
        <%= f.label :visible_to %>
      </dt>
      <dd>
        <%= f.text_field :visible_to, :class => "date-input-field" %>
      </dd>
      <dt class="textarea-label-cnt">
        <%= f.label :description %>
        <%= f.error_message_on :description %>
      </dt>
      <dd class="textarea-cnt">
        <%= f.text_area :description %>
      </dd>

      <% @category_groups.each do |category_group| -%>
        <% unless category_group.categories.empty? -%>
          <dt class="checkbox-list-label-cnt"><%= h category_group.name %></dt>
          <dt class="checkbox-list-cnt">
            <ul class="checkbox-list">
              <% category_group.categories.each do |category| -%>
                <li>
                  <%= check_box_tag "category_ids[]", category.id,
                    @event.categories.any? { |c| c.id == category.id },
                    :id => "kp-event-category_ids-#{category.id}" %>
                    
                  <label for="kp-event-category_ids-<%= h category.id %>"><%= h category.name %></label>
                </li>
              <% end -%>
            </ul>
          </dt>
        <% end -%>
      <% end -%>

      <dt>
        <%= f.label :url %>
      </dt>
      <dd>
        <%= f.text_field :url %>
      </dd>
      <dt>
        <%= f.label :booking_info %>
      </dt>
      <dd>
        <%= f.text_field :booking_info %>
      </dd>
      <dt>
        <%= f.label :movie_url %>
      </dt>
      <dd>
        <%= f.text_field :movie_url %>
      </dd>
      <dt class="textarea-label-cnt">
        <%= f.label :opening_hours %>
      </dt>
      <dd class="textarea-cnt">
        <%= f.text_area :opening_hours, :rows => 5 %>
      </dd>
      <dt class="textarea-label-cnt">
        <%= f.label :cost %>
      </dt>
      <dd class="textarea-cnt">
        <%= f.text_area :cost, :rows => 5 %>
      </dd>
    </dl>

    <div class="submit-cnt">
      <%= f.submit(is_edit ? "Uppdatera" : "Spara") %>
    </div>

  </fieldset>
<% end %>
