<h1>Skapa evenemang</h1>

<% form_for(@event) do |f| %>

  <%= f.error_messages :id => nil, :class => "form-error-messages" %>

  <dl class="form-elements">
    <dt>
      <%= f.label :name %>:
    </dt>
    <dd>
      <%= f.text_field :name %>
    </dd>
    <dt>
      <%= f.label :from_age %>:
    </dt>
    <dd>
      <%= f.text_field :from_age %>
    </dd>
    <dt>
      <%= f.label :to_age %>:
    </dt>
    <dd>
      <%= f.text_field :to_age %>
    </dd>
    <dt class="textarea-label-cnt">
      <%= f.label :description %>:
    </dt>
    <dd class="textarea-cnt">
      <%= f.text_area :description %>
    </dd>
  </dl>

  <div class="submit-cnt">
    <%= f.submit 'Skapa' %>
  </div>

<% end %>
