<%= render :partial => "menu" -%>

<% is_edit = ["edit", "update"].include?(params["action"]) -%>

<h1><%= is_edit ? "Redigera" : "Skapa" %> evenemang</h1>

<% form_for(@event) do |f| %>

  <%= f.error_messages :id => nil, :class => "form-error-messages" %>

  <dl class="form-elements">
    <% unless is_edit -%>
      <dt>
        <%= f.label :culture_provider_id %>
      </dt>
      <dd>
        <%= f.collection_select :culture_provider_id, @culture_providers, :id, :name %>
      </dd>
    <% end -%>
    <dt>
      <%= f.label :name %>
    </dt>
    <dd>
      <%= f.text_field :name %>
    </dd>
    <dt>
      <%= f.label :from_age %>
    </dt>
    <dd>
      <%= f.text_field :from_age %>
    </dd>
    <dt>
      <%= f.label :to_age %>
    </dt>
    <dd>
      <%= f.text_field :to_age %>
    </dd>
    <dt>
      <%= f.label :show_date, nil, :for => "kp-event-show_date-1i" %>
    </dt>
    <dd>
      <%= f.date_select :show_date %>
    </dd>
    <dt
    <dt class="textarea-label-cnt">
      <%= f.label :description %>
    </dt>
    <dd class="textarea-cnt">
      <%= f.text_area :description %>
    </dd>
  </dl>

  <div class="submit-cnt">
    <%= f.submit(is_edit ? "Uppdatera" : "Spara") %>
  </div>

<% end %>
