<%= render :partial => "events/menu" -%>

<% if user_online? && current_user.can_administrate?(@event.culture_provider) -%>
  <div class="admin-tools">
    <h4>Administrera <%= h @event.name %></h4>
    <ul>
      <li><%= link_to 'Redigera', edit_event_path(@event) %></li>

      <% unless @event.bookable? %>
        <li>
          <%= link_to 'Radera', event_path(@event), :method => :delete, :confirm => "Är du säker på att du vill radera evenemanget?" %>
        </li>
      <% end %>

      <li><%= link_to 'Hantera bilder', event_images_path(@event) %></li>
      <li><%= link_to 'Hantera filer', event_attachments_path(@event) %></li>
      <li>
        <%= link_to 'Hantera länkade arrangörer',
          event_culture_provider_links_path(:event_id => @event.id)
        %>
      </li>
      <li>
        <%= link_to 'Hantera länkade evenemang',
          event_event_links_path(:event_id => @event.id)
        %>
      </li>

      <% if current_user.has_role?(:admin) && !@event.further_education && (@event.ticket_release_date.nil? || @event.ticket_release_date > Date.today) -%>
        <li><%= link_to 'Fördela inköpta biljetter', :controller => "allotment", :action => "init", :id => @event.id %></li>
      <% end -%>

      <% if current_user.has_role?(:admin) && !@event.tickets.empty? %>
        <li><%= link_to 'Visa biljettfördelning', ticket_allotment_event_path(@event) %></li>
      <% end %>

      <% if current_user.can_view_bookings? %>
        <li>
          <%= link_to "Bokningar", event_bookings_path(@event) %>
        </li>
      <% end %>

      <% if @event.reportable? %>
        <li><%= link_to 'Hantera närvaro', event_attendance_index_path(@event) %></li>
      <% end %>

      <% if current_user.has_role?(:admin) && @event.has_booking? %>
        <li><%= link_to "Skicka e-post till alla bokade", new_event_information_path(@event) %></li>
      <% end %>
    </ul>
  </div>
<% elsif user_online? && current_user.has_role?(:host) && @event.reportable? %>
  <div class="admin-tools">
    <h4>Administrera <%= h @event.name %></h4>
    <ul>
      <li><%= link_to 'Hantera närvaro', event_attendance_index_path(@event) %></li>
    </ul>
  </div>
<% elsif user_online? && current_user.has_role?(:coordinator) %>
  <div class="admin-tools">
    <h4>Administrera <%= h @event.name %></h4>
    <ul>
      <li>
        <%= link_to "Bokningar", event_bookings_path(@event) %>
      </li>
    </ul>
  </div>
<% end -%>

<div id="kp-pri-content" class="event-pri-content">

  <div class="model-cnt">

    <% if !@event.images_excluding_main.empty? %>
      <div class="images-cnt">
        <div class="images-inner-cnt">
          <div class="images">
            <% @event.images_excluding_main.each do |image| -%>
              <div class="image">
                <%= uploaded_image_tag image %>

                <% unless image.description.blank? %>
                  <span class="image-description"><%= h image.description %></span>
                <% end %>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>

    <h2><%= h @event.name %></h2>

    <%= show_description(@event.description) %>

    <% unless @event.linked_culture_providers.empty? && @event.linked_events.empty? %>
      <div class="linked-entities clearfix">
        <h3>Se även</h3>

        <% unless @event.linked_culture_providers.empty? %>
          <ul class="culture-provider-list">
            <% @event.linked_culture_providers.each do |link| %>
              <li><%= link_to h(link.name), link %></li>
            <% end %>
          </ul>
        <% end %>

        <% unless @event.linked_events.empty? %>
          <ul class="event-list">
            <% @event.linked_events.each do |link| %>
              <li><%= link_to h(link.name), link %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <% if user_online? -%>
      <% if current_user.can_administrate?(@event.culture_provider) -%>
        <%= render :partial => "occasions/form", :locals => { :event => @event } %>
      <% end %>

      <% if current_user.can_book? && @event.bookable? && @event.fully_booked? -%>
        <div class="fully-booked-notification alert">
          Evenemanget är fullbokat, men du kan
          <%= link_to "klicka här", new_event_notification_request_path(@event) %>
          för att få ett meddelande om reservplatser blir tillgängliga.
        </div>
      <% end %>
    <% end -%>
  </div>
</div>

<div id="kp-sec-content" class="event-sec-content">
  <%= render :partial => "culture_providers/info_box", :locals => { :culture_provider => @event.culture_provider } -%>
</div>


<div class="tabs">
  <ul>
    <li><a href="#kp-ev-meta-info">Information</a></li>
    <% unless @event.occasions.empty? -%>
      <li class="<%= "preselect" if @selected_occasion %>"><a href="#kp-ev-meta-occasions">Datum och tider</a></li>
    <% end -%>
  </ul>

  <div id="kp-ev-meta-info">
    <table class="meta">
      <% unless @event.map_address.blank? %>
        <tr class="map-address">
          <th>Hitta till oss</th>
          <td>
            <%= link_to "Visa på karta", "#", :class => "map-address-link", :title => h(@event.map_address) %>
          </td>
        </tr>
      <%end %>
      <% if user_online? && current_user.can_administrate?(@event.culture_provider) %>
        <tr class="show-date">
          <th>Visas mellan</th>
          <td><%= h @event.visible_from %> och <%= h @event.visible_to %></td>
        </tr>
        <% unless @event.ticket_release_date.blank? -%>
          <tr class="ticket-release-date">
            <th>Biljettsläpp</th>
            <td><%= h @event.ticket_release_date %></td>
          </tr>
        <% end -%>
        <% unless @event.district_transition_date.blank? -%>
          <tr class="district-transition-date">
            <th>Släpp till stadsdel</th>
            <td><%= h @event.district_transition_date %></td>
          </tr>
        <% end -%>
        <% unless @event.free_for_all_transition_date.blank? -%>
          <tr class="free-for-all-transition-date">
            <th>Släpp till hela staden</th>
            <td><%= h @event.free_for_all_transition_date %></td>
          </tr>
        <% end -%>
      <% end -%>
      <% if !@event.booking_info.blank? && !@event.bookable? -%>
        <tr class="booking-info">
          <th>Bokningsinformation</th>
          <td><%= auto_link h(@event.booking_info) %></td>
        </tr>
      <% elsif @event.bookable? && !user_online? %>
        <tr class="booking-info">
          <th>Bokningsinformation</th>
          <td>
            Platserna är fördelade. <%= login_link "Logga in" %> och välj önskad dag och plats.
          </td>
        </tr>
      <% end -%>
      <% unless @event.cost.blank? -%>
        <tr class="cost">
          <th>Kostnad</th>
          <td><%= linebreakize(@event.cost) %></td>
        </tr>
      <% end -%>
      <tr class="culture-provider">
        <th>Arrangör</th>
        <td><%= link_to h(@event.culture_provider.name), culture_provider_path(@event.culture_provider) %></td>
      </tr>
      <% if @event.further_education -%>
        <tr class="further-education">
          <th>Fortbildning pedagoger/vuxna</th>
          <td>Ja</td>
        </tr>
      <% else %>
        <tr class="ages">
          <th>För åldrar</th>
          <td><%= @event.from_age %>-<%= @event.to_age %> år</td>
        </tr>
      <% end -%>

      <% @category_groups.each do |category_group| -%>
        <% category_names = @event.categories.select { |c| c.category_group_id == category_group.id }.map { |c| c.name } %>

        <% unless category_names.empty? -%>
          <tr class="categories">
            <th><%= h category_group.name %></th>
            <td>
              <%= h(category_names.join(", ")) %>
            </td>
          </tr>
        <% end -%>
      <% end -%>

      <% unless @event.opening_hours.blank? -%>
        <tr class="opening-hours">
          <th>Öppettider</th>
          <td><%= linebreakize(@event.opening_hours) %></td>
        </tr>
      <% end -%>
      <% unless @event.url.blank? -%>
        <tr class="url">
          <th>Extern länk</th>
          <td>
            <a href="<%= qualified_url(@event.url) %>"><%= h(@event.url) %></a>
          </td>
        </tr>
      <% end -%>
      <% unless @event.movie_url.blank? -%>
        <tr class="movie-url">
          <th>Filmlänk</th>
          <td>
            <a href="<%= qualified_url(@event.movie_url) %>"><%= h(@event.movie_url) %></a>
          </td>
        </tr>
      <% end -%>

      <% if user_online? && !@event.attachments.empty? %>
        <tr class="attachments">
          <th>Bifogade filer</th>
          <td>
            <ul>
              <% @event.attachments.each do |attachment| -%>
                <li>
                  <%= link_to h(attachment.description), event_attachment_path(@event, attachment) %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>

      <% if user_online? && current_user.has_role?(:admin) && !@event.occasions.empty? %>
        <tr class="visitor-statistics">
          <%
            min = @event.occasions.minimum("date")
            max = @event.occasions.maximum("date")
          %>
          <th>Besöksstatistik</th>
          <td>
            <ul>
              <% while min < max %>
                <li><%= link_to to_term(min), visitors_event_statistic_path(@event, to_term(min)) %></li>
                <% min += 6.months %>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <% cache occasion_list_cache_key(@event) do %>
    <% unless @event.occasions.empty? -%>
      <div id="kp-ev-meta-occasions">
        <table class="occasion-list multirow">
          <thead>
            <tr>
              <th class="date-time">Datum/tid</th>
              <% unless @event.tickets.empty? %>
                <th class="num-seats">Lediga platser</th>
              <% else %>
                <th class="num-seats">Antal platser</th>
              <% end %>
              <th class="address">Adress</th>
              <th class="description">Beskrivning</th>
              <th class="tools"></th>
            </tr>
          </thead>

          <tbody>
            <% @event.occasions.each do |occasion| %>
              <%
              available_seats = [ occasion.available_seats.to_i, @event.unbooked_tickets.to_i ].min
              row_class = cycle('', 'even')
              %>
              <tr class="<%= row_class %> <%= "cancelled" if occasion.cancelled %>">

                <td class="date-time">
                  <span class="date"><%= h occasion.date %></span>
                  <span class="time">
                    <%= l occasion.start_time, :format => :only_time %> - <%= l occasion.stop_time, :format => :only_time %>
                  </span>
                </td>

                <td class="num-seats">
                  <% unless @event.tickets.empty? %>
                    <%= h(available_seats) %>
                  <% else %>
                    <%= h(occasion.seats.to_i + occasion.wheelchair_seats.to_i) %>
                  <% end %>
                  <%= image_tag "icon_rullstol.png", :alt => "Rullstolsplatser finns", :title => "Rullstolsplatser finns" if occasion.wheelchair_seats.to_i > 0 %>
                </td>

                <td class="address">
                  <%= linebreakize(occasion.address) unless occasion.address.blank? %>

                  <% unless occasion.map_address.blank? %>
                    <% unless occasion.address.blank? %>
                      <br/>
                    <% end %>

                    <%= link_to "Visa på karta", "#",
                      :class => "map-address-link",
                      :title => h(occasion.map_address)
                    %>
                  <% end %>
                </td>

                <td class="description"><%= linebreakize(occasion.description) %></td>
              </tr>

              <tr class="<%= row_class %> action-row <%= "cancelled" if occasion.cancelled %>">
                <td class="tools" colspan="4">
                  <ul>
                    <% if occasion.cancelled %>
                      <li><span class="cancelled">Inställd</span></li>
                    <% elsif user_online? -%>
                      <% if @event.bookable? && current_user.can_book? -%>

                        <li>
                          <% if available_seats > 0 %>
                            <%= link_to "Boka",
                              new_occasion_booking_path(occasion),
                              :title => "#{available_seats} lediga platser"
                            %>
                          <% else %>
                            <span class="sold-out">Fullbokat</span>
                          <% end %>
                        </li>
                      <% end -%>

                      <% if current_user.can_administrate?(@event.culture_provider) -%>
                        <%= link_to "Redigera", edit_occasion_path(occasion) %>

                        <% if @event.bookable? %>
                          <% if occasion.date >= Date.today && !occasion.cancelled %>
                            <li>
                              <%= link_to "Ställ in",
                                cancel_occasion_path(occasion),
                                :method => "delete",
                                :confirm => "Är du säker på att du vill ställa in föreställningen?"
                              %>
                            </li>
                          <% end %>
                        <% else %>
                          <li>
                            <%= link_to "Ta bort", occasion,
                              :method => "delete",
                              :confirm => "Är du säker på att du vill radera föreställningen?"
                            %>
                          </li>
                        <% end %>
                      <% end -%>

                      <% if current_user.can_view_bookings? %>
                        <li>
                          <%= link_to "Bokningar", occasion_bookings_path(occasion) %>
                        </li>
                      <% end %>

                      <% if occasion.date >= Date.today %>
                        <li>
                          <%= link_to "Närvarolista", occasion_attendance_index_path(occasion) %>
                        </li>
                      <% elsif !occasion.cancelled && current_user.has_role?(:admin, :host) %>
                        <li>
                          <%= link_to "Rapportera närvaro", report_occasion_attendance_path(occasion) %>
                        </li>
                      <% end %>
                    <% elsif @event.bookable? %>
                      <li>
                        <span>
                          <%= login_link "Logga in", new_occasion_booking_path(occasion) %>
                          för att boka
                        </span>
                      </li>
                    <% end %>
                  </ul>
                </td>

              </tr>
            <% end -%>
          </tbody>

        </table>
      </div>
    <% end -%>
  <% end %>

</div>

