<%= render :partial => "menu" -%>

<h2 class="form-title">
  Fördelning för <%= link_to h(@event.name), @event %>
</h2>

<div class="admin-tools">
  <h4>Administrera <%= h @event.name %></h4>
  <ul>
    <% if current_user.has_role?(:admin) && !@event.further_education && (@event.ticket_release_date.nil? || @event.ticket_release_date > Date.today) -%>
      <li><%= link_to 'Ändra fördelning', :controller => "allotment", :action => "init", :id => @event.id %></li>
    <% end -%>
  </ul>
</div>

<table id="kp-ticket-allotment-list">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Antal biljetter</th>
    </tr>
  </thead>

  <tbody>
    <%
    prev_district_id = nil
    prev_school_id = nil
    %>
    <% @event.allotments.each do |allotment| %>
      <% if allotment.for_group? %>
        <% if allotment.district_id != prev_district_id %>
          <tr class="district-row">
            <td class="name"><%= h allotment.district.name %></td>
            <td class="count"></td>
            <% prev_district_id = allotment.district_id %>
          </tr>
        <% end %>
        <% if allotment.group.school_id != prev_school_id %>
          <tr class="school-row">
            <td class="name"><%= h allotment.group.school.name %></td>
            <td class="count"></td>
            <% prev_school_id = allotment.group.school_id %>
          </tr>
        <% end %>
      <% end %>
      <tr class="<%= allotment.for_group? ? "group" : "district" %>-row">
        <td class="name">
          <% if allotment.for_group? %>
            <%= h allotment.group.name %>
          <% elsif allotment.for_district? %>
            <%= h allotment.district.name %>
          <% else %>
            Hela staden
          <% end %>
        </td>
        <td class="count"><%= h allotment.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
