<%= render partial: "menu" -%>

<h2 class="form-title">
  Manuell fördelningsövergång för <%= link_to @event.name, @event %>
</h2>

<% if @event.ticket_release_date > Date.today %>
  <% submit_copy = "Släpp biljetterna" %>
  <div class="alert">
    Evenemangets nästa steg är att släppa biljetter. Klicka på knappen nedan
    för att släppa biljetterna och göra evenemanget bokningsbart.
  </div>
<% elsif @event.alloted_group? %>
  <% submit_copy = "Släpp biljetterna till områden" %>
  <div class="alert">
    Evenemangets nästa steg är att biljetterna blir tillgängliga för områdena.
    Klicka på knappen nedan för att övergå till områden.
  </div>
<% elsif @event.alloted_district? %>
  <% submit_copy = "Släpp biljetterna till alla i hela staden" %>
  <div class="alert">
    Evenemangets nästa steg är att biljetterna blir tillgängliga för alla i
    hela staden.  Klicka på knappen nedan för att övergå till hela staden.
  </div>
<% else %>
  <% submit_copy = false %>
  <div class="response">
    Evenemanget är redan fritt för alla att boka.
  </div>
<% end %>

<% if submit_copy %>
  <%= form_for @event, url: next_transition_event_path(@event), builder: KPFormBuilder do |f| %>
    <%= f.buttons do %>
      <%= f.submit(submit_copy) %>
      <%= link_to("Avbryt", @event) %>
    <% end %>
  <% end %>
<% end %>
