<h1>Kulturproceduren - Avbokning</h1>

<p>
  Biljetterna för
  <%= @booking.group.name %>, <%= @booking.group.school.name %>
  till
  <%= @booking.occasion.event.name %>,
  föreställningen
  <%= @booking.occasion.date %> kl <%= l @booking.occasion.start_time, :format => :only_time %>
  har avbokats av
  <%= @user.name %> (<%= @user.email %>, <%= @user.cellphone %>).
</p>

<% if @booking.bus_booking? %>
<p>
  Denna bokning innehåller en bussbokning:
</p>
<ul>
  <li><strong>Från hållplats:</strong> <%= @booking.bus_stop %></li>
  <li><strong>Bokningstyp:</strong> <%= @booking.bus_one_way ? "Enkel resa" : "Tur och retur" %></li>
</ul>
<% end %>

<% if @answer_form %>
  <p>
    <b>Enkätsvar:</b>
    <ul>
      <% @answer_form.answers.each do |answer| -%>
        <% question = answer.question -%>
        <li>
          <b><%= question.question %>:</b>
          <%=
          case question.qtype
          when "QuestionMark", "QuestionText" then answer.answer_text
          when "QuestionBool" then answer.answer_text == "y" ? "Ja" : "Nej"
          when "QuestionMchoice"
            choices = YAML.load(answer.answer_text).collect { |c| "<li>#{h(c)}</li>".html_safe }
            "<ul>#{choices}</ul>".html_safe
          end
          -%>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

