<h1>Kulturkartan - Avbokning</h1>

<p>
  Biljetterna för
  <%= @booking.group.name %>, <%= @booking.group.school.name %>
  till
  <%= @booking.occasion.event.name %>,
  föreställningen
  <%= @booking.occasion.date %> kl <%= l @booking.occasion.start_time, format: :only_time %>
  har avbokats av
  <%= @user.name %> (<%= @user.email %>, <%= @user.cellphone %>).
</p>

<% if @booking.bus_booking? %>
<p>
  Denna bokning innehåller en bussbokning:
</p>
<ul>
  <li><strong>Från hållplats:</strong> <%= @booking.bus_stop %></li>
  <li><strong>Bokningstyp:</strong> <%= @booking.bus_one_way ? "Enkel resa" : "Tur och retur" %></li>
</ul>
<% end %>

<% if @answer_form %>
  <%-
    answers = {}
    @answer_form.answers.each do |answer|
      answers[answer.question] ||= []
      answers[answer.question] << case answer.question.qtype
      when "QuestionBool"
        answer.answer_text == "y" ? "Ja" : "Nej"
      else
        answer.answer_text
      end
    end
  -%>
  <p>
    <b>Enkätsvar:</b>
    <ul>
      <% answers.each do |question, answers| -%>
        <li>
          <b><%= question.question %>:</b>
          <% if answers.length > 1 -%>
            <ul>
              <% answers.each do |answer| -%>
                <li><%= answer %></li>
              <% end -%>
            </ul>
          <% else -%>
            <%= answers.first %>
          <% end -%>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

