<h1>New answer</h1>

<% form_for(@answer) do |f| %>
  <%= f.error_messages :id => nil, :class => "form-error-messages" %>

  <p>
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </p>
  <p>
    <%= f.label :occasion_id %><br />
    <%= f.text_field :occasion_id %>
  </p>
  <p>
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', answers_path %>
