<p>
  <b>Question:</b>
  <%=h @answer.question_id %>
</p>

<p>
  <b>Occasion:</b>
  <%=h @answer.occasion_id %>
</p>

<p>
  <b>Group:</b>
  <%=h @answer.group_id %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>