<p>
  <b>Requirement:</b>
  <%=h @booking_requirement.requirement %>
</p>

<p>
  <b>Occasion:</b>
  <%=h @booking_requirement.occasion_id %>
</p>

<p>
  <b>Group:</b>
  <%=h @booking_requirement.group_id %>
</p>


<%= link_to 'Edit', edit_booking_requirement_path(@booking_requirement) %> |
<%= link_to 'Back', booking_requirements_path %>