<%# coding: utf-8 %>
<%= render :partial => "users/menu" -%>
<%= render :partial => "form" -%>

<% unless @result.empty? %>
  <table>
    <thead>
      <tr>
        <th>Namn</th>
        <th>Epost</th>
        <th>Mobilnr</th>
        <th>Användarnamn</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @result.each do |userdata| -%>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= userdata[:name] %></td>
          <td><%= userdata[:email] %></td>
          <td><%= userdata[:cellphone] %></td>
          <td><%= userdata[:username] %></td>
          <td><%= link_to "Hantera", ldap_handle_path(userdata[:username]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
