<%= render :partial => "categories/menu" -%>

<% form_for @category_group, :builder => KPFormBuilder, :html => { :class => "category-group-form context-form" } do |f| -%>

  <%= f.title(@category_group.id.to_i > 0 ? "Redigera kategorigrupp" : "Lägg till kategorigrupp")  %>

  <%= f.validation_error_indicator %>

  <% f.fields do -%>
    <%= f.text_field :name %>

    <% f.buttons do %>
      <%= f.submit "Ok" %>
    <% end -%>
  <% end -%>
<% end -%>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <% @category_groups.each do |category_group| %>
    <tr class="<%= cycle('', 'alt') %>">
      <td><%= h category_group.name %></td>
      <td><%= link_to 'Redigera', edit_category_group_path(category_group) %></td>
      <td><%= link_to 'Radera', category_group, :confirm => 'Är du säker?', :method => :delete %></td>
    </tr>
  <% end %>

</table>
