<% extra_title ||= nil %>
<table class="versions-table">
  <thead>
    <tr>
      <% fields.each do |field| %>
        <th><%= model.human_attribute_name(field) %></th>
      <% end %>
      <% if extra_title %>
        <th><%= extra_title %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% versions.each do |version| %>
      <tr class="<%= cycle("", "even") %>">
        <% old_object = version.object ? PaperTrail.serializer.load(version.object) : {} %>
        <% fields.each do |field| %>
          <td><%= old_object[field] %></th>
        <% end %>
        <% if extra_title %>
          <td class="extra-data">
            <% unless version.extra_data.blank? %>
              <ul>
                <% version.extra_data.each do |k,v| %>
                  <li>
                    <b><%= k %>:</b>
                    <%= v %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to "Återställ",
            revert_version_path(version.id),
            data: { confirm: "Är du säker på att du vill återställa till den här versionen?" },
            method: :put %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
