<%# coding: utf-8 %>
<%= render :partial => "menu" -%>

<table>
  <thead>
    <tr>
      <th><%= sort_link "Namn", "name" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr class="<%= cycle("", "even") %>">
        <td><%= link_to district.name, district %></td>
        <td><%= link_to 'Redigera', edit_district_path(district) %></td>
        <td><%= link_to 'Radera', district, :data => {:confirm => 'Är du säker på att du vill radera stadsdelen'}, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @districts %>
