<%= render :partial => "menu" -%>

<% is_edit = ["edit", "update"].include?(params[:action]) -%>

<fieldset>
  <legend><%= is_edit ? "Redigera" : "Skapa ny" %> stadsdel</legend>

  <% if is_edit -%>
    <p class="details">
      Redigerar stadsdelen <%= link_to h(@district.name), @district %>.
    </p>
  <% end -%>

  <% form_for(@district) do |f| %>

    <dl class="form-elements">
      <dt><%= f.label :name %></dt>
      <dd>
        <%= f.text_field :name %>
        <%= f.error_message_on :name %>
      </dd>
    </dl>

    <div class="submit-cnt">
      <%= f.submit(is_edit ? "Uppdatera" : "Skapa") %>
    </div>
  <% end %>

</fieldset>