<%= render :partial => "menu" -%>

<% is_edit = ["edit", "update"].include?(params[:action]) -%>

<h1><%= is_edit ? "Redigera" : "Skapa ny" %> stadsdel</h1>

<% if is_edit -%>
  <p class="details">
    Redigerar stadsdelen <%= link_to h(@district.name), @district %>.
  </p>
<% end -%>

<% form_for(@district) do |f| %>

  <%= f.error_messages %>

  <dl class="form-elements">
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>
  </dl>

  <div class="submit-cnt">
    <%= f.submit(is_edit ? "Uppdatera" : "Skapa") %>
  </div>
<% end %>
