- content_for(:page_title) do
  = @district.name_was

%main.admin.with-aside
  .context-actions
    = link_to "Historik",
      history_district_path(@district),
      class: "btn btn-default"

  = render partial: "form", locals: { district: @district, school_types: @school_types }

  %h2 Skolor i området

  .context-actions
    = link_to "Lägg till skola",
      new_school_path(district_id: @district.id),
      class: "btn btn-default"

  %table
    = render partial: "schools/list", locals: { schools: @district.schools }

%aside.admin
  = render partial: "menu"
  = render partial: "shared/admin_menu"
