<%= render :partial => "menu" -%>

<div class="model-cnt">

  <h2><%= h @district.name %></h2>

  <dl class="meta">
    <dt class="contacts">Kontaktadresser:</dt>
    <dd class="contacts"><%= h(@district.contacts) %></dd>
  </dl>

  <ul class="admin-tools">
    <li><%= link_to 'Redigera', edit_district_path(@district) %></li>
    <li><%= link_to 'Radera', @district, :confirm => 'Är du säker på att du vill radera stadsdelen', :method => :delete %></li>
  </ul>

</div>

<fieldset class="with-legend">
  <legend><span>Skolor i stadsdelen</span></legend>

  <ul class="admin-tools">
    <li><%= link_to 'Lägg till skola', new_school_path(:district_id => @district.id) %></li>
  </ul>

  <%= render :partial => "schools/list", :locals => { :schools => @district.schools } %>

</fieldset>
