<% content_for :section_sub do -%>
  <ul class="section-nav">
    <li class="<%= active_by_action "questionnaires", "index" %>"><%= link_to 'Lista enk채ter', questionnaires_path %></li>
    <li class="<%= active_by_action "questionnaires", "new" %>"><%= link_to 'L채gg till enk채t', new_questionnaire_path %></li>
    <li class="<%= active_by_action "questions", "index" %>"><%= link_to 'Hantera mallfr책gor', questions_path %></li>
  </ul>
<% end -%>
