<%= render :partial => "menu" %>

<% is_edit = ["edit", "update"].include?(params[:action]) -%>

<% if is_edit || !@events.empty? %>

  <%= form_for @questionnaire, :builder => KPFormBuilder, :html => { :class => "questionnaire-form" } do |f| %>

    <%= f.title(is_edit ? "Redigera enkät" : "Lägg till enkät") -%>

    <%= f.conditional_hint is_edit do -%>
      <% if @questionnaire.for_event? %>
        Redigerar enkät för <%= link_to @questionnaire.event.name, @questionnaire %>
      <% else %>
        Redigerar avbokningsenkät
      <% end %>
    <% end -%>

    <%= f.validation_error_indicator -%>

    <%= f.fields do -%>
      <% unless is_edit -%>
        <%= f.collection_select :event_id, @events, :id, :name %>
      <% end -%>
      <%= f.text_field :description %>

    <% end -%>

    <%= f.buttons do -%>
      <%= f.submit(is_edit ? "Uppdatera" : "Spara") %>
    <% end -%>
  <% end %>

<% else -%>

  <p>
    Alla evenemang har redan enkäter.
  </p>

<% end -%>
