<%= render partial: "questionnaires/menu" %>

<div class="model-cnt">
  <h2>
    <% if @questionnaire.for_event? %>
      Utvärderingsformulär för <%= link_to @questionnaire.event.name, @questionnaire.event %>
    <% else %>
      Avbokningsenkät
    <% end %>
  </h2>

  <ul class="admin-tools">
    <li><%= link_to "Redigera", edit_questionnaire_path(@questionnaire) %></li>
    <% unless @questionnaire.for_unbooking? %>
      <li><%= link_to "Radera", @questionnaire, data:{confirm: "Är du säker?"}, method: :delete %></li>
    <% end %>
  </ul>

  <p class="description">
    <%= @questionnaire.description %>
  </p>

  <div class="context-form">
    <% unless @template_questions.blank? %>
      <fieldset class="with-legend">
        <legend><span>Välj en mallfråga</span></legend>

        <form action="<%= add_template_question_questionnaire_path(@questionnaire) %>"
              method="post"
              class="add-template-question-form"
              name="add_template_question_form">

          <div>
            <select name="question_id">
              <%= options_from_collection_for_select @template_questions, :id, :question %>
            </select>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
            <input type="submit" value="Lägg till mallfråga" name="do_submit"/>
          </div>
        </form>
      </fieldset>

      <fieldset class="with-legend">
        <legend><span>eller lägg till ny fråga</span></legend>
        <%= render(
          partial: "questions/form",
          locals: {
            question: @question,
            questionnaire: @questionnaire
          }
        ) %>
      </fieldset>
    <% else %>
      <%= render(
        partial: "questions/form",
        locals: {
          question: @question,
          questionnaire: @questionnaire,
          with_header: true
        }
      ) %>
    <% end -%>
  </div>


  <% unless @questionnaire.questions.empty? -%>

    <table>
      <thead>
        <tr>
          <th>Fråga</th>
          <% if @questionnaire.for_event? %>
            <th>Mallfråga</th>
          <% end %>
          <th>Obligatorisk</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>

        <% @questionnaire.questions.each do |question| -%>
          <tr class="<%= cycle("", "even") %>">
            <td><%= question.question %></td>
            <% if @questionnaire.for_event? %>
              <td><%= "Ja" if question.template %></td>
            <% end %>
            <td><%= "Ja" if question.mandatory -%></td>
            <td><%= link_to "Redigera", edit_questionnaire_question_path(@questionnaire, question) unless question.template %></td>
            <% if question.template -%>
              <td>
                <%= link_to "Ta bort från enkät", remove_template_question_questionnaire_path(@questionnaire, question_id: question.id), method: :delete %>
              </td>
            <% else -%>
              <td>
                <%= link_to "Ta bort från enkät", questionnaire_question_path(@questionnaire, question),
                  data:{confirm: "Är du säker?"}, method: :delete %>
              </td>
            <% end -%>
          </tr>
        <% end -%>

      </tbody>
    </table>

  <% end -%>

</div>
