<% content_for :section_sub do -%>
  <ul class="section-nav">
    <li class="<%= active_by_action "questionaires", "index" %>"><%= link_to 'Lista enk채ter', questionaires_path %></li>
    <li class="<%= active_by_action "questionaires", "new" %>"><%= link_to 'L채gg till enk채t', new_questionaire_path %></li>
    <li class="<%= active_by_action "questions", "index" %>"><%= link_to 'Hantera mallfr책gor', questions_path %></li>
  </ul>
<% end -%>