<%= render :partial => "menu" -%>

<table>
  <thead>
    <tr>
      <th><%= sort_link "Arrangemang", "event" %></th>
      <th>Beskrivning</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <% @questionaires.each do |questionaire| %>
    <tr>
      <td><%= h(questionaire.event.name) %></td>
      <td><%= h questionaire.description %></td>
      <td><%= link_to 'Visa enkät', questionaire %></td>
      <td><%= link_to 'Radera enkät', questionaire, :confirm => 'Är du säker?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @questionaires %>
