
Mina enkäter

<ul>
  <%
  @questionaires.each do |q|
    q.event.occasions.each do |o|
      (o.groups & @user.groups).each do |g|
        if Answer.find(:all, :conditions => "occasion_id = #{o.id} and group_id = #{g.id}" ).length == 0 -%>
          <li><%= o.event.name %><%= o.date %><br/><%= g.school.name %><%= g.name %>
            <a href="/questionaires/<%= q.id -%>/answer/<%= o.id -%>/<%= g.id -%>"> Besvara enkäten </a>
          </li>
        <% end
      end
    end
  end -%>
</ul>
