<%= render :partial => "menu" %>

<% is_edit = ["edit", "update"].include?(params[:action]) -%>

<% if is_edit || !@events.empty? %>

  <% form_for @questionaire, :builder => KPFormBuilder, :html => { :class => "questionaire-form" } do |f| %>

    <%= f.title(is_edit ? "Redigera enkät" : "Lägg till enkät") -%>

    <% f.conditional_hint is_edit do -%>
      Redigerar enkät för <%= link_to h(@questionaire.event.name), @questionaire %>
    <% end -%>

    <%= f.validation_error_indicator -%>

    <% f.fields do -%>
      <% unless is_edit -%>
        <%= f.collection_select :event_id, @events, :id, :name %>
      <% end -%>
      <%= f.text_field :description %>

    <% end -%>

    <% f.buttons do -%>
      <%= f.submit(is_edit ? "Uppdatera" : "Spara") %>
    <% end -%>
  <% end %>

<% else -%>

  <p>
    Alla evenemang har redan enkäter.
  </p>

<% end -%>
