<p class="questionaire-pagetitle">
Utvärderingsenkät för <%= Occasion.find_by_id(params[:occasion_id]).event.name %>,
föreställningen den <%= Occasion.find_by_id(params[:occasion_id]).date.to_s %>
med gruppen <%= Group.find_by_id(params[:group_id]).school.name %> <%= Group.find_by_id(params[:group_id]).name %>
</p>
<form action="/questionaires/<%=params[:questionaire_id]-%>/answer/<%=params[:occasion_id]-%>/<%=params[:group_id]-%>" method="post">
<% @questionaire.questions.each do |q| %>
  <% if ( ( @qids.nil?) or (@qids.keys.include?(q.id.to_s) ) ) %>
    <div class ="question-answer-cnt">
  <% else %>
    <div class ="unanswered-question-cnt">
      Du måste svara på frågan.
  <% end %>
    <div class="question-cnt">
      <%= to_html(q) %>
    </div>
<% end %>
<%= hidden_field_tag 'authenticity_token' , form_authenticity_token %>
<%= hidden_field_tag 'group_id', params[:group_id] %>
<%= hidden_field_tag 'occasion_id', params[:occasion_id] %>
<%= submit_tag 'Besvara' %>
</form>
