<% content_for :section_sub do -%>
  <div class="section-info">
    <% if @event %>
      <%= link_to "Återvänd till presentationen för #{h(@event.name)}", @event %>
    <% end %>
  </div>
<% end -%>

<h2 class="form-title">
  Närvarolista för
  <%= link_to h(@event.name), @event %>,

  <% if @occasion %>
    föreställningen
    <%= @occasion.date %>
    kl
    <%= l @occasion.start_time, :format => :only_time %> - <%= l @occasion.stop_time, :format => :only_time %>
  <% else %>
    alla föreställningar
  <% end %>
</h2>

<% is_admin = current_user.has_role?(:host, :admin) %>

<% if is_admin -%>
  <div class="admin-tools">
    <h4>Hantera närvaro</h4>
    <ul>
      <% if @occasion %>
        <%= link_to "Rapportera närvaro", report_occasion_attendance_path(@occasion) %>
      <% else %>
        <%= link_to "Rapportera närvaro för hela evenemanget", report_event_attendance_path(@event) %>
      <% end %>
    </ul>
  </div>
  <p>
    <% if @occasion %>
      <%= link_to "Ladda ner som PDF", occasion_attendance_index_path(@occasion, :format => "pdf") %>
    <% else %>
      <%= link_to "Ladda ner som PDF", event_attendance_index_path(@event, :format => "pdf") %>
    <% end %>
  </p>
<% end -%>

<table class="attendant-list" >
  <thead>
    <tr>
      <th>
        Stadsdel<br/>
        Skola<br/>
        Grupp
      </th>
      <th>Medföljande vuxen</th>
      <th>Antal barn</th>
      <th>Antal vuxna</th>
      <th>Antal rullstolsplatser</th>
      <% if is_admin -%>
        <th>Övriga önskemål</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% occasions = @occasion ? [@occasion] : @event.occasions %>

    <% occasions.each do |occasion| %>
      <% unless @occasion %>
        <tr class="occasion-row">
          <th colspan="<%= is_admin ? 6 : 5 %>" class="<%= cycle('', 'even') %>">
            <% link_to occasion_attendance_index_path(occasion) do %>
              Föreställningen
              <%= h occasion.date %>
              kl
              <%= l occasion.start_time, :format => :only_time %> - <%= l occasion.stop_time, :format => :only_time %>
            <% end %>
          </th>
        </tr>
      <% end %>

      <% occasion.bookings.hierarchically_ordered.each do |booking| %>
        <tr class="<%= cycle('', 'even') %>">
          <td>
            <%= h booking.group.school.district.name -%><br/>
            <%= h booking.group.school.name -%><br/>
            <%= h booking.group.name -%>
          </td>
          <td>
            <%= h booking.companion_name -%><br/>
            <%= h booking.companion_phone -%><br/>
            <a href="mailto:<%= u booking.companion_email %>"><%= h booking.companion_email -%></a>
          </td>
          <td><%= h booking.student_count -%></td>
          <td><%= h booking.adult_count -%></td>
          <td><%= h booking.wheelchair_count -%></td>
          <% if is_admin -%>
            <td><%= linebreakize(booking.requirement) unless booking.requirement.blank? -%></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
