<%
group ||= nil
occasion ||= nil
%>

<% if group.blank? %>
  <p>
    Ingen grupp vald
  </p>
<% elsif occasions.blank? %>
  <p>
    Inga bokningar för vald grupp
  </p>
<% else %>

  <table>
    <thead>
      <tr>
        <th>Skola</th>
        <th>Grupp</th>
        <th>Evenemang</th>
        <th>Datum</th>
        <th>Antal biljetter</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% occasions.each do |o|%>
        <tr class="<%= cycle('', 'even') %>">
          <td><%= h group.school.name  -%></td>
          <td><%= h group.name  -%></td>
          <td><%= h o.event.name -%></td>
          <td><%= h o.date.to_s -%></td>
          <td><%= group.available_tickets_by_occasion(o,Ticket::BOOKED) -%> biljetter bokade</td>
          <td>
            <a href="<%= url_for :controller => "booking" , :action => "book" , :occasion_id =>  o.id , :group_id => group.id , :commit => "Välj grupp" -%>">Ändra bokning</a>
          </td>
          <td>
            <%= link_to "Avboka" , { :controller => "booking" , :action => "unbook" ,  :occasion_id =>  o.id , :group_id => group.id  } , :confirm => "Är du säker?" -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>
