<%

  companion ||= nil
  nticks ||= nil
  naticks ||= nil
  nwticks ||= nil
  br ||= nil
  edit ||= nil
  group ||= nil

  if group
    if group.age_groups.num_children_by_age_span(occasion.event.from_age, occasion.event.to_age) == 0 %>

    <p class="message alert">
      OBS - Den valda gruppen har elever vars ålder inte är rekomenderad för det här evenemanget!
    </p>

  <% end %>

  <% if group && occasion.event.ticket_state != Event::FREE_FOR_ALL %>
    <p class="message response">
      <strong><%= h group.school.name %>, <%= h group.name %></strong>
      har <strong><%= group.ntickets_by_occasion(occasion) -%></strong>
      biljetter tillgängliga för bokning.
    </p>
  <% end %>

  <% if group.ntickets_by_occasion(occasion) == 0 && ( not edit ) %>
    <p class="message alert">
      Tyvärr finns det inga bokningsbara biljetter för det här evenamnget för den valda gruppen.
      <a href="#">Klicka här</a> om du vill få ett meddelande om biljetter blir tillgängliga senare.
    </p>
  <% else %>

    <fieldset class="booking-seats-container">
      <legend>Antal platser</legend>

      <div class="form-row seats_students-field-row">
        <%= label_tag "seats_students", "Antal platser för elever:" %>

        <div class="input-container">
          <%= text_field_tag "seats_students",
            nticks.blank? || nticks == 0 ? "" : nticks,
            { :class => "seats" }
          %>
        </div>
      </div>

      <div class="form-row seats_adult-field-row">
        <%= label_tag "seats_adult", "Antal platser för vuxna:" %>

        <div class="input-container">
          <%= text_field_tag "seats_adult",
            naticks.blank? || naticks == 0 ? "" : naticks,
            { :class => "seats" }
          %>
        </div>
      </div>

      <div class="form-row seats_wheelchair-field-row">
        <%= label_tag "seats_wheelchair" , "Antal rullstolsanpassade platser:" %>
        <div class="input-container">
          <%= text_field_tag "seats_wheelchair",
            nwticks.blank? || nwticks == 0 ? "" : nwticks,
            {:class => "seats" }
          -%>
          <span class="field-help">
            <%= nwticks.blank? || nwticks == 0 ? "" : "Ytterligare" -%>
            <%= @occasion.wheelchair_seats - Ticket.count(
              :all,
              :conditions => { :occasion_id => @occasion.id , :wheelchair => true })
            -%>
          rullstolsplatser tillgängligt på den här föreställningen.</span>
        </div>
      </div>

      <p id="kp-booking-count" class="booking-count message response">Du har angett totalt 0 biljetter.</p>
    </fieldset>

    <fieldset class="booking-companion">
      <legend>Medföljande vuxen</legend>


      <div class="form-row companion_name-field-row <%= "validation-error" unless @errors["companion_email"].blank? %>">

        <% if not @errors["companion_name"].blank? %>
          <div class="validation-error-message alert-field"><%= @errors["companion_name"] -%></div>
        <% end %>

        <%= label_tag "companion_name" , "Namn:" %>

        <div class="input-container">
          <%= text_field_tag "companion_name",
            companion.blank? || companion.name.blank? ? "" : companion.name
          %>
        </div>
      </div>

      <div class="form-row companion_email-field-row <%= "validation-error" unless @errors["companion_email"].blank? %>">
        <% if not @errors["companion_email"].blank? %>
          <div class="validation-error-message alert-field"><%= @errors["companion_email"] -%></div>
        <% end %>

        <%= label_tag "companion_email" , "Epost:" %>

        <div class="input-container">
          <%= text_field_tag "companion_email",
            companion.blank? || companion.email.blank? ? "" : companion.email
          %>
        </div>
      </div>

      <div class="form-row companion_telnr-field-row <%= "validation_error" unless @errors["companion_telnr"].blank? %>">
        <% if not @errors["companion_telnr"].blank? %>
          <div class="validation-error-message alert-field"><%= @errors["companion_telnr"] -%></div>
        <% end %>

        <%= label_tag "companion_telnr", "Telefonnummer (mobil):" %>

        <div class="input-container">
          <%= text_field_tag "companion_telnr",
            companion.blank? || companion.tel_nr.blank? ? "" : companion.tel_nr
          %>
        </div>
      </div>
    </fieldset>

    <fieldset class="booking-request">
      <legend>Speciella krav / Extra information ang. bokning</legend>

      <div class="form-row booking_request-field-row">
        <%= label_tag "Extra behov:" %>
        <div class="input-container">
          <%= text_area_tag "booking_request",
            br.blank? || br.requirement.blank? ? "" : br.requirement,
            :rows => 7, :cols => 35
          %>
        </div>
      </div>
    </fieldset>

    <div class="form-buttons">
      <%= edit.blank? ? submit_tag("Boka") : submit_tag("Ändra bokning") %>
      <%= submit_tag("Börja om") -%>
    </div>

  <% end %>

<% end %>
