<div class="kp-booking-pagetitle">
  <p>
    Boka biljetter
  </p>
</div>
<div class="kp-booking-pageheader">
  <p>
    <%= @occasion.event.name %> - Föreställning <%= @occasion.date.to_s %>
  </p>
</div>
<div class="kp-booking-form">
<%  form_for :booking do |f|%>
  <fieldset>
    <legend>Boka biljetter</legend>
    <dl>
      <dt><%= f.label :group_id, 'Välj grupp' %></dt>
      <dd><%= select("group_id","", @bookable_tickets.keys.collect {|k| [Group.find_by_id(k).name + " - " + @bookable_tickets["#{k}"].length.to_s + " biljetter", k ]})  %></dd>
      <dt><%= f.label :no_tickets , 'Antal Biljetter att boka' %></dt>
      <dd><input name="no_tickets"></dd>
      <input type="hidden" name="occasion_id" value="<%= @occasion.id %>">
      <input type="hidden" name="what" value="book">
      <div><%= submit_tag "Boka" %></div>
    </dl>
  </fieldset>
<%  end %>
</div>

