<h2 class="kp-booking-pagetitle">
  Boka biljetter
</h2>
<p class="kp-booking-pageheader">
  <%= @occasion.event.name %> - Föreställning <%= @occasion.date.to_s %>
</p>
<p>
  Det finns <%= @seats_available %> platser på den här föreställningen som är obokade.
  <% if @overflow_warn == 1 %>
     <p class="kp-booking-overflow-warning">OBS - Det finns grupper som du administrerar som har fler biljetter tilldelade på detta evenemang än vad det finns platser över på den här föreställningen</p>
  <% end %>
</p>
<%  form_for :booking, :html => { :class => "kp-booking-form" } do |f|%>
  <fieldset>
    <legend>Boka biljetter</legend>
    <dl>
      <dt><%= f.label :group_id, 'Välj grupp' %></dt>
      <dd><%= select("group_id","", @bookable_tickets.keys.collect {|k| [Group.find_by_id(k).name + " - " + @bookable_tickets["#{k}"].length.to_s + " biljetter", k ]})  %></dd>
      <dt><%= f.label :no_tickets , 'Antal Biljetter att boka' %></dt>
      <dd><input name="no_tickets"></dd>
      <input type="hidden" name="occasion_id" value="<%= @occasion.id %>">
      <input type="hidden" name="what" value="book">
      <div><%= submit_tag "Boka" %></div>
    </dl>
  </fieldset>
<%  end %>
<a href="/login/logout">Logga ut</a>

