<%= render :partial => "menu" -%>

<table>
  <thead>
    <tr>
      <th>Skola</th>
      <th>Grupp</th>
      <th>Evenemang</th>
      <th>Datum</th>
      <th>Antal biljetter</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.bookings.each do |b|%>
      <tr class="<%= cycle('', 'even') %>">
        <td><%= b["group"].school.name -%></td>
        <td><%= b["group"].name -%></td>
        <td><%= b["occasion"].event.name -%></td>
        <td><%= b["occasion"].date.to_s -%></td>
        <td><%= b["group"].booked_tickets_by_occasion(b["occasion"]) -%> biljetter bokade</td>
        <td>
          <%= link_to "Ändra bokning",
            select_groups_path(
              :group_id => b["group"].id,
              :return_to => booking_path(b["occasion"].id)
          ) %>
        </td>
        <td>
          <%= link_to "Avboka" , { :controller => "booking" , :action => "unbook" , :return_to => "show", :occasion_id =>  b["occasion"].id , :group_id => b["group"].id  } , :confirm => "Är du säker?" -%>
        </td>
      </tr>
    <%  end %>
  </tbody>
</table>
