<h2 class="kp-booking-pagetitle">
  Mina biljettbokningar
</h2>
<ul>
<%  @user.bookings.each do |b|%>
  <li>
    <%= b["group"].school.name -%> , 
    <%= b["group"].name -%> , 
    <%= b["occasion"].event.name -%> , 
    <%= b["occasion"].date.to_s -%> - 
    <%= b["group"].ntickets_by_occasion(b["occasion"],Ticket::BOOKED) -%> biljetter bokade.
  </li>
<%  end %>
</ul>

