<h2 class="kp-booking-pagetitle">Avboka biljetter</h2>

<p class="kp-booking-pageheader">
  <%= @occasion.event.name %> - Föreställning <%= @occasion.date.to_s %>
</p>

<% form_for :booking, :html => { :class => "kp-booking-form" } do |f| %>
  <fieldset>
    <legend>Boka biljetter</legend>

    <dl class="form-elements">
      <dt><%= f.label :group_id, 'Välj grupp:' %></dt>
      <dd><%= select("group_id","", @unbookable_tickets.keys.collect {|k| [Group.find_by_id(k).name + " - " + @unbookable_tickets["#{k}"].length.to_s + " biljetter", k ]})  %></dd>
      <dt><%= f.label :no_tickets , 'Antal biljetter att avboka:' %></dt>
      <dd><input name="no_tickets"></dd>
    </dl>

    <div class="submit-cnt">
      <input type="hidden" name="occasion_id" value="<%= @occasion.id %>">
      <input type="hidden" name="what" value="unbook">
      <div><%= submit_tag "Avboka" %></div>
    </div>
  </fieldset>
<%  end %>

<a href="/login/logout">Logga ut</a>
