<p>
  <b>Age:</b>
  <%=h @age_group.age %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @age_group.quantity %>
</p>

<p>
  <b>Group:</b>
  <%=h @age_group.group_id %>
</p>


<%= link_to 'Edit', edit_age_group_path(@age_group) %> |
<%= link_to 'Back', age_groups_path %>