= simple_form_for school, html: { class: "basic" } do |f|
  = f.error_notification class: "warning"

  - if school.new_record?
    = f.input :district_id,
      as: :select,
      collection: districts
  = f.input :name
  = f.input :contacts, hint: "Ange e-postadresser, separerade med kommatecken"

  .form-group
    %span.control-label
    .controls
      = submit_tag "Spara", class: "btn btn-primary"
      - if school.new_record?
        = link_to "Avbryt", schools_path, class: "btn btn-default"
      - else
        = link_to "Ta bort",
          @school,
          method: :delete,
          data: { confirm: "Är du säker?" },
          class: "btn btn-danger"
