<%
show_district ||= false
-%>

<table>
  <thead>
    <tr>
      <th><%= sort_link "Namn", "name" %></th>

      <% if show_district -%>
        <th><%= sort_link "Stadsdel", "district" %></th>
      <% end -%>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% schools.each do |school| %>
      <tr class="<%= cycle("", "even") %>">
        <td><%= link_to school.name, school %></td>

        <% if show_district -%>
          <td><%= link_to school.district.name, school.district %></td>
        <% end -%>

        <td><%= link_to 'Redigera', edit_school_path(school) %></td>
        <td><%= link_to 'Radera', school, data: {confirm: 'Är du säker på att du vill radera skolan?'}, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
