<%
show_district ||= false
show_prio_tools ||= false
-%>

<table>
  <thead>
    <tr>
      <th><%= sort_link "Namn", "name", :unless => show_prio_tools %></th>

      <% if show_district -%>
        <th><%= sort_link "Stadsdel", "district", :unless => show_prio_tools %></th>
      <% end -%>

      <% if show_prio_tools -%>
        <th colspan="2">Prioritering</th>
      <% else -%>
        <th><%= sort_link "ELIT-ID", "elit_id", :unles => show_prio_tools %></th>
      <% end -%>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% schools.each do |school| %>
      <tr class="<%= cycle("", "even") %>">
        <td><%= link_to h(school.name), school %></td>

        <% if show_district -%>
          <td><%= link_to h(school.district.name), school.district %></td>
        <% end -%>

        <% if show_prio_tools -%>
          <td><%= link_to "Upp", :controller => "school_prios", :action => "move_up", :id => school.id %></td>
          <td><%= link_to "Ner", :controller => "school_prios", :action => "move_down", :id => school.id %></td>
        <% else -%>
          <td><%= h school.elit_id %></td>
        <% end -%>

        <td><%= link_to 'Redigera', edit_school_path(school) %></td>
        <td><%= link_to 'Radera', school, :confirm => 'Är du säker på att du vill radera skolan?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
