<h1>Editing school</h1>

<% form_for(@school) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :elit_id %><br />
    <%= f.text_field :elit_id %>
  </p>
  <p>
    <%= f.label :district_id %><br />
    <%= f.text_field :district_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @school %> |
<%= link_to 'Back', schools_path %>