- content_for(:page_title) do
  Historik för
  = @school.name

%main.admin.with-aside
  %nav.return
    = link_to "Återvänd till #{@school.name}", @school

  = render partial: "versions/versions",
    object: @school.versions.updates,
    locals: { model: School, fields: %w(name contacts) }

%aside.admin
  = render partial: "menu"
  = render partial: "shared/admin_menu"
