<%= render :partial => "menu" -%>

<div class="model-cnt">

  <h1><%= h @school.name %></h1>

  <ul class="tools">
    <li><%= link_to 'Redigera', edit_school_path(@school) %></li>
    <li><%= link_to 'Radera', @school, :confirm => 'Är du säker på att du vill radera skolan?', :method => :delete %></li>
  </ul>

  <ul class="meta">
    <li class="district">Stadsdel: <%= link_to h(@school.district.name), @school.district %></li>
    <li class="elit-id">ELIT-ID: <%= h @school.elit_id || "-" %></li>
  </ul>

  <div class="clearer"></div>
</div>

<h2>Grupper i skolan</h2>

<%= render :partial => "groups/list", :locals => { :groups => @school.groups } %>