<p>
  <b>Name:</b>
  <%=h @school.name %>
</p>

<!-- <p>
  <b>Elit:</b>
  <%=h @school.elit_id %>
</p> -->

<p>
  <b>District:</b>
  <%=h @district_name %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
