<%= render :partial => "menu" -%>

<div class="model-cnt">

  <h1><%= h @school.name %></h1>

  <ul class="tools">
    <li><%= link_to 'Redigera', edit_school_path(@school) %></li>
    <li><%= link_to 'Radera', @school, :confirm => 'Är du säker på att du vill radera skolan?', :method => :delete %></li>
  </ul>

  <dl class="meta">
    <dt class="district">Stadsdel:</dt>
    <dd class="district"><%= link_to h(@school.district.name), @school.district %></dd>
    <dt class="elit-id">ELIT-ID:</dt>
    <dd class="elit-id"><%= h @school.elit_id || "-" %></dd>
  </dl>

  <div class="clearer"></div>
</div>

<h2>Grupper i skolan</h2>

<ul class="tools">
  <li><%= link_to 'Lägg till grupp', new_group_path(:school_id => @school.id) %></li>
</ul>

<%= render :partial => "groups/list", :locals => { :groups => @school.groups } %>