<%# coding: utf-8 %>
<%= render partial: "menu" -%>

<div class="model-cnt">

  <h2><%= @school.name %></h2>

  <dl class="meta">
    <dt class="district">Stadsdel:</dt>
    <dd class="district"><%= link_to @school.district.name, @school.district %></dd>
    <dt class="contacts">Kontaktadresser:</dt>
    <dd class="contacts"><%= @school.contacts %></dd>
  </dl>

  <ul class="admin-tools">
    <li><%= link_to 'Redigera', edit_school_path(@school) %></li>
    <li><%= link_to 'Radera', @school, data:{confirm: 'Är du säker på att du vill radera skolan?'}, method: :delete %></li>
  </ul>

</div>

<fieldset class="with-legend">
  <legend><span>Grupper i skolan</span></legend>

  <ul class="admin-tools">
    <li><%= link_to 'Lägg till grupp', new_group_path(school_id: @school.id) %></li>
  </ul>

  <%= render partial: "groups/list", locals: { groups: @groups } %>

  <%= will_paginate @groups %>
  
</fieldset>
