<h1>Logga in</h1>

<% if user_online? -%>

  <p>
    <%= link_to "Logga ut", :action => "logout" %>
  </p>

<% else -%>

  <% form_for :user, :url => { :action => "login" } do |f| %>
    <fieldset>

      <dl>
        <dt><label for="kp-user-username">Användarnamn:</label></dt>
        <dd><%= f.text_field :username %></dd>

        <dt><label for="kp-user-password">Lösenord:</label></dt>
        <dd><%= f.password_field :password %></dd>
      </dl>

      <div>
        <%= f.submit "Logga in" %>
      </div>
      
    </fieldset>

    <p>
      Om du inte har ett konto kan du registrera ett <%= link_to "här", :controller => "account", :action => "new" %>.
    </p>
  <% end %>

<% end -%>
