<%= render :partial => "users/menu" %>

<% if user_online? -%>

  <p>
    <%= link_to "Logga ut", :action => "logout" %>
  </p>

<% else -%>

  <% form_for User.new, :url => { :action => "login" } do |f| %>
    <fieldset>

      <legend>Logga in</legend>

      <dl>
        <dt><%= f.label :username %></dt>
        <dd><%= f.text_field :username %></dd>

        <dt><%= f.label :password %></dt>
        <dd><%= f.password_field :password %></dd>
      </dl>

      <div>
        <%= f.submit "Logga in" %>
      </div>

    </fieldset>

    <p>
      Om du inte har ett konto kan du registrera ett <%= link_to "här", new_user_path %>.
    </p>
  <% end %>

<% end -%>
