<h1>New school_prio</h1>

<% form_for(@school_prio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :prio %><br />
    <%= f.text_field :prio %>
  </p>
  <p>
    <%= f.label :shool_id %><br />
    <%= f.text_field :shool_id %>
  </p>
  <p>
    <%= f.label :district_id %><br />
    <%= f.text_field :district_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', school_prios_path %>