<p>
  <b>Prio:</b>
  <%=h @school_prio.prio %>
</p>

<p>
  <b>Shool:</b>
  <%=h @school_prio.shool_id %>
</p>

<p>
  <b>District:</b>
  <%=h @school_prio.district_id %>
</p>


<%= link_to 'Edit', edit_school_prio_path(@school_prio) %> |
<%= link_to 'Back', school_prios_path %>