<h1>Kulturkartan - Restplatser till <%= @event.name %></h1>

<p>Hej!</p>

<p>Nu har du möjlighet att boka platser till <%= @event.name %>.</p>

<ul>
  <li><strong>Målgrupp:</strong> <%= @event.from_age %>-<%= @event.to_age %> år</li>
  <% @category_groups.each do |category_group| -%>
    <% category_names = @event.categories.select { |c| c.category_group_id == category_group.id }.map { |c| c.name } %>

    <% unless category_names.empty? -%>
      <li>
        <strong><%= category_group.name %>:</strong>
        <%= category_names.join(", ") %>
      </li>
    <% end -%>
  <% end -%>
</ul>

<p>Begränsat antal platser. &quot;Först till kvarn&quot; gäller.</p>

<p>
  Platserna är reserverade till ert område till och med
  <%= @event.free_for_all_transition_date - 1 %>.
  Därefter släpps de till samtliga förskolor/skolor i Malmö.
</p>

<% if @event.bus_booking? %>
  <p>
    Kulturbuss är reserverad och kan bokas via Kulturkartan fram till och
    med <%= @event.last_bus_booking_date %>.
  </p>
<% else %>
  <p>
    Till detta evenemang är Kulturbuss <strong>inte garanterad</strong>.
    <br/>
    <%= link_to "Gör en förfrågan om Kulturbuss här.", APP_CONFIG[:culture_bus_link] %>.
  </p>
<% end %>

<p>
  <a href="<%= mail_url(event_path(@event)) %>">
    Läs mer om <%= @event.name %> och boka eventuella platser här.
  </a>
</p>

<p>
  Varmt välkomna!
  <br/>
  <strong>Kultur för Barn och Unga</strong>
</p>

<p>
  <%= link_to "Gilla oss på Facebook", APP_CONFIG[:kbu_facebook] %>.
</p>
