<h1>Kulturproceduren - Restplatser till <%= h @event.name %></h1>

<p>Hej!</p>

<p>Nu har du möjlighet att boka platser till <%= h @event.name %>.</p>
<p>Platser är reserverade till <%= h @district.name %> men inom stadsdelen gäller "först till kvarn".</p>

<ul>
  <li><strong>Målgrupp:</strong> <%= @event.from_age %>-<%= @event.to_age %> år</li>
  <% @category_groups.each do |category_group| -%>
    <% category_names = @event.categories.select { |c| c.category_group_id == category_group.id }.map { |c| c.name } %>

    <% unless category_names.empty? -%>
      <li>
        <strong><%= h category_group.name %>:</strong>
        <%= h(category_names.join(", ")) %>
      </li>
    <% end -%>
  <% end -%>
</ul>

<p>
  <a href="<%= mail_url(event_path(@event)) %>">
    Läs mer om <%= h @event.name %> och boka eventuella platser här.
  </a>
</p>

<p>
  Om platserna inte räcker till er, tänk på att ni kan få en ny chans
  <%= @event.free_for_all_transition_date %>,
  då eventuella restplatser från hela Malmö släpps.
</p>

<p>
  <%= h @event.name %> är inköpt och fördelat av
  <%= link_to "Kultur för Barn och Unga", APP_CONFIG[:kbu_link] %>.
  På <%= link_to "Kulturproceduren", APP_CONFIG[:kp_external_link] %> hittar du information
  om all barn- och ungdomskultur i Malmö.
</p>

<p>
  Vänliga hälsningar!
  <br/>
  Kultur för Barn och Unga
</p>

