<% content_for :sec_nav do -%>
  <ul class="sec-nav">
    <% if user_online? -%>
      <li class="<%= active_by_action "account", "index" %>"><%= link_to 'Ditt konto', :controller => "account", :action => "index" %></li>
      <li class="<%= active_by_action "account", "edit_password" %>"><%= link_to 'Byt lösenord', :controller => "account", :action => "edit_password" %></li>
      <% unless current_user.has_role? :admin -%>
        <li class="<%= active_by_action "role_applications", "index" %>"><%= link_to 'Behörighetsansökan', role_applications_path %></li>
      <% end -%>
    <% else -%>
      <li class="<%= active_by_action "account", "new" %>"><%= link_to 'Registrera konto', :controller => "account", :action => "new" %></li>
    <% end -%>
  </ul>
<% end -%>