<%= render :partial => "menu" %>

<h1>Byt lösenord</h1>

<% form_for(@user, :url => { :action => "update_password" }) do |f| %>

  <%= f.error_messages :id => nil, :class => "form-error-messages" %>

  <dl class="form-elements">
    <dt>
      <label for="kp-user-current_password">Nuvarande lösenord</label>
    </dt>
    <dd>
      <input type="password" name="current_password" id="kp-user-current_password" size="30"/>
    </dd>
    <dt>
      <%= f.label :password %>
    </dt>
    <dd>
      <%= f.password_field :password %>
    </dd>
    <dt>
      <%= f.label :password_confirmation %>
    </dt>
    <dd>
      <%= f.password_field :password_confirmation %>
    </dd>
  </dl>

  <div class="submit-cnt">
    <%= f.submit("Byt lösenord") %>
  </div>

<% end -%>