<%= render :partial => "menu" %>

<h1>Konto</h1>

<% if user_online? %>
  <% form_for(current_user, :url => { :action => "update" }) do |f| %>

    <%= f.error_messages :id => nil, :class => "form-error-messages" %>

    <fieldset>
      <legend>Personuppgifter</legend>

      <dl class="form-elements">
        <dt>
          <%= f.label :name %>
        </dt>
        <dd>
          <%= f.text_field :name %>
        </dd>
        <dt>
          <%= f.label :email %>
        </dt>
        <dd>
          <%= f.text_field :email %>
        </dd>
        <dt>
          <%= f.label :mobil_nr %>
        </dt>
        <dd>
          <%= f.text_field :mobil_nr %>
        </dd>
      </dl>

      <div class="submit-cnt">
        <%= f.submit("Uppdatera personuppgifter") %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Kontodetaljer</legend>

      <dl class="form-elements">
        <dt>
          Användarnamn
        </dt>
        <dd>
          <%= h current_user.username -%>
        </dd>
        <dt>
          Lösenord
        </dt>
        <dd>
          <%= link_to "Byt lösenord", :action => "edit_password" %>
        </dd>
      </dl>
    </fieldset>

    <fieldset>
      <legend>Behörigheter</legend>

      <% unless current_user.has_role? :admin %>

        <ul class="tools">
          <li><%= link_to "Ansök om behörigheter i systemet", role_applications_path %></li>
        </ul>

        <% if current_user.roles.empty? %>
          <p>
            Du har för tillfället inga behörigheter i systemet. Var god använd länken
            ovan för att ansöka om privilegier.
          </p>
        <% end -%>

      <% else -%>
        <p>Du är administratör och har fulla behörigheter i systemet.</p>
      <% end -%>

    </fieldset>

  <% end -%>

<% else -%>
  <p>Om du inte har ett konto kan du <%= link_to "registrera ett", :action => "new" %>.</p>
  <p>Har du ett konto, var god <%= link_to "logga in", :controller => "login" %>.</p>
<% end -%>