<%= render :partial => "menu" %>

<% form_for(@user, :url => { :action => "create" }) do |f| %>

  <%= f.error_messages :id => nil, :class => "form-error-messages" %>

  <fieldset>
    <legend>Personuppgifter</legend>

    <dl class="form-elements">
      <dt>
        <%= f.label :name %>
      </dt>
      <dd>
        <%= f.text_field :name %>
      </dd>
      <dt>
        <%= f.label :email %>
      </dt>
      <dd>
        <%= f.text_field :email %>
      </dd>
      <dt>
        <%= f.label :mobil_nr %>
      </dt>
      <dd>
        <%= f.text_field :mobil_nr %>
      </dd>
    </dl>
  </fieldset>

  <fieldset>
    <legend>Kontodetaljer</legend>

    <dl class="form-elements">
      <dt>
        <%= f.label :username %>
      </dt>
      <dd>
        <%= f.text_field :username %>
      </dd>
      <dt>
        <%= f.label :password %>
      </dt>
      <dd>
        <%= f.password_field :password %>
      </dd>
      <dt>
        <%= f.label :password_confirmation %>
      </dt>
      <dd>
        <%= f.password_field :password_confirmation %>
      </dd>
    </dl>
  </fieldset>

  <div class="submit-cnt">
    <%= f.submit("Skapa konto") %>
  </div>

<% end -%>