<%
is_edit = ["edit", "update"].include? params[:action]

form_for(@occasion || Occasion.new { |o| o.event_id = event.id },
  :html => { :class => "occasions-form" }) do |f| -%>
  <fieldset>
    <legend><%= is_edit ? "Redigera" : "Lägg till" %> föreställning</legend>

    <%= f.error_messages :id => nil, :class => "form-error-messages" %>

    <ul class="form-elements">
      <li class="date-cnt">
        <%= f.label :date %>
        <%= f.text_field :date, :class => "date-input-field" %>
      </li>

      <li class="start-time-cnt">
        <%= f.label :start_time, nil, :for => "kp-occasion-start_time-4i" %>
        <%= f.time_select :start_time, :minute_step => 5 %>
      </li>
      <li class="stop-time-cnt">
        <%= f.label :stop_time, nil, :for => "kp-occasion-stop_time-4i" %>
        <%= f.time_select :stop_time, :minute_step => 5 %>
      </li>

      <li class="seats-cnt">
        <%= f.label :seats %>
        <%= f.text_field :seats %>
      </li>
      
      <li class="wheelchair-seats-cnt">
        <%= f.label :wheelchair_seats %>
        <%= f.text_field :wheelchair_seats %>
      </li>

      <li class="address-cnt">
        <%= f.label :address %>
        <%= f.text_area :address %>
      </li>

      <li class="description-cnt">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </li>

      <li class="telecoil-cnt">
        <%= f.check_box :telecoil %>
        <%= f.label :telecoil %>
      </li>
    </ul>

    <div class="submit-cnt">
      <%= f.hidden_field :event_id %>
      <%= f.submit(is_edit ? "Uppdatera" : "Lägg till") %>
    </div>
  </fieldset>
<% end -%>