<%
is_edit = ["edit", "update"].include? params["action"]

form_for(@occasion || Occasion.new { |o| o.event_id = event.id },
  :html => { :class => "occasions-form" }) do |f| -%>
  <fieldset>
    <legend><%= is_edit ? "Redigera" : "Lägg till" %> föreställning</legend>

    <%= f.error_messages :id => nil, :class => "form-error-messages" %>

    <div class="date-cnt">
      <%= f.label :date, nil, :for => "kp-occasion-date-1i" %>
      <%= f.date_select :date %>
    </div>

    <div class="seats-cnt">
      <%= f.label :seats %>
      <%= f.text_field :seats %>
    </div>

    <div class="address-cnt">
      <%= f.label :address %>
      <%= f.text_area :address %>
    </div>

    <div class="description-cnt">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="submit-cnt">
      <%= f.hidden_field :event_id %>
      <%= f.submit(is_edit ? "Uppdatera" : "Lägg till") %>
    </div>
  </fieldset>
<% end -%>