<div class="ticket-availability-container">
  <% event = @occasion.event %>
  <% if event.free_for_all? %>
    <% if user_online? && current_user.can_book? && event.bookable? && event.fully_booked? -%>
      <p class="description">
        Evenemanget är fullbokat, men du kan
        <%= link_to "klicka här", new_event_notification_request_path(event) %>
        för att få ett meddelande om reservplatser blir tillgängliga.
      </p>
    <% else %>
      <p class="description">Detta evenemang är tillgängligt för alla skolor i hela Malmö.</p>
    <% end %>
  <% else %>
    <p class="description">
      <%= event.alloted_group? ? "Skolor" : "Stadsdelar" %>
      med tilldelade eller bokade platser till evenemanget.
    </p>

    <p class="description">
      Om inte din 
      <%= event.alloted_group? ? "skola" : "stadsdel" %>
      finns med i listan kan du 
      <%= link_to "klicka här", new_event_notification_request_path(event) %>
      för att få ett meddelande när platser blir tillgängliga för din klass/avdelning.
    </p>

    <ul class="ticket-availability-list">
      <% @entities.each do |entity| -%>
        <li><%= entity.name %></li>
      <% end %>
    </ul>

  <% end %>
</div>
