
<h3> Deltagare i <%= h @occasion.event.name -%> den <%= h @occasion.date.to_s -%></h3>

<p>
  <%= link_to "Ladda ner som PDF", attlist_pdf_occasion_path(@occasion) %>
</p>

<table class="attlist" >
  <thead>
    <tr>
      <th> Skola </th>
      <th> Grupp </th>
      <th> Medföljande vuxen </th>
      <th> Telefonnummer </th>
      <th> Antal Deltagare </th>
      <th> Antal Rullstolsplatser </th>
      <th> Övriga önskemål </th>
    </tr>
  </thead>
  <tbody>
    <%  @groups.each do |g| %>
      <tr class="<%= cycle('', 'alt') %>">
        <td> <%= h g.school.name -%> </td>
        <td> <%= h g.name -%> </td>
        <td> <%= h g.companion_by_occasion(@occasion).name -%> </td>
        <td> <%= h g.companion_by_occasion(@occasion).tel_nr -%> </td>
        <td> <%= h g.ntickets_by_occasion(@occasion,Ticket::BOOKED) -%> </td>
        <td> <%= h g.ntickets_by_occasion(@occasion,Ticket::BOOKED,true) -%> </td>
        <td> <%= @brs.select { |b| b.group_id == g.id }.map { |b| b.requirement.to_s + "<br/>"  } -%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @groups %>