
<h3> Deltagare i <%= @occasion.event.name -%> den <%= @occasion.date.to_s -%></h3>

<table class="attlist" >
  <thead>
    <tr>
      <th> Skola / Grupp </th>
      <th> Medföljande vuxen </th>
      <th> Telefonnummer </th>
      <th> Antal Deltagare </th>
      <th> Antal Rullstolsplatser </th>
      <th> Övriga önskemål </th>
    </tr>
  </thead>
  <tbody>
    <%  @groups.each do |g| %>
      <tr>
        <td> <%= g.school.name -%> / <%= g.name -%> </td>
        <td> <%= g.companion_by_occasion(@occasion).name -%> </td>
        <td> <%= g.companion_by_occasion(@occasion).tel_nr -%> </td>
        <td> <%= g.ntickets_by_occasion(@occasion,Ticket::BOOKED) -%> </td>
        <td> <%= g.ntickets_by_occasion(@occasion,Ticket::BOOKED,true) -%> </td>
        <td> <%= @brs.select { |b| b.group_id == g.id }.map { |b| b.requirement.to_s + "<br/>"  } -%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="<%= url_for "attlist_pdf"-%>">Ladda ner som pdf</a>
</p>