

<% @visible_events.each do |e| %>
  <div class="occasions-event">
     <div class="occasions-eventname"><%= e.name %></div>
     <div class="occasions-details">
     Beskrivning: <%= e.description %> <br/>
     Åldersintervall: <%= e.from_age %> - <%= e.to_age %> <br/>
     Kategorier: <% e.tags.each do |t| %>
                    <%= t.tag %> ,
                 <%end%> <br/>
     Föreställningar: <br/>
     </div>
     <div class="occasions-listing">

     <% e.occasions.each do |o| %>
        <%=  o.date %> <% if ! @user_events_hash_by_id[o.event_id].nil? %> <a href="/booking/666">BOKA</a><% end %> <br/> 
     <% end %>
     </div>
  </div>
<% end %>

<a href="/login/logout">Logout</a>
