<h1>Listing occasions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Seats</th>
    <th>Address</th>
    <th>Description</th>
    <th>Event</th>
  </tr>

<% @occasions.each do |occasion| %>
  <tr>
    <td><%=h occasion.date %></td>
    <td><%=h occasion.seats %></td>
    <td><%=h occasion.address %></td>
    <td><%=h occasion.description %></td>
    <td><%=h occasion.event_id %></td>
    <td><%= link_to 'Show', occasion %></td>
    <td><%= link_to 'Edit', edit_occasion_path(occasion) %></td>
    <td><%= link_to 'Destroy', occasion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New occasion', new_occasion_path %>