
<h2>
  Närvarande vid
  <%= link_to h(@occasion.event.name), @occasion.event -%>
  <%= h @occasion.date -%>
  <%= l @occasion.start_time, :format => :only_time %>
</h2>

<% form_tag({ :action => :report_create }  )  do %>
  <%= hidden_field_tag "id" , @occasion.id %>
  <table class="attendant-list" >
    <thead>
      <tr>
        <th> Skola </th>
        <th> Grupp </th>
        <th> Antal anmälda deltagare </th>
        <th> Antal närvarande deltagare </th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr class="<%= cycle('', 'even') %>">
          <td> <%= h group.school.name -%> </td>
          <td> <%= h group.name -%> </td>
          <td> <%= h group.ntickets_by_occasion(@occasion,Ticket::BOOKED) -%> </td>
          <td>
            <% have_group_value =  ( not @reported_groups.blank? ) && ( not @reported_groups["#{group.id}"].blank? ) %>
            <% if not params[:commit].blank? and @reported_groups["#{group.id}"].blank? %>
              <span class="unans-report">
            <% else %>
              <span class="ans-report">
            <% end %>
            <%= text_field_tag "groups[#{group.id}]" ,  have_group_value ? @reported_groups["#{group.id}"] : "" -%>
            <% if not params[:commit].blank? and not have_group_value  %>
              Du måste fylla antal närvarande
            <%  end %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Rapportera närvaro" %>
<% end %>
