<p>
  <b>Date:</b>
  <%=h @occasion.date %>
</p>

<p>
  <b>Seats:</b>
  <%=h @occasion.seats %>
</p>

<p>
  <b>Address:</b>
  <%=h @occasion.address %>
</p>

<p>
  <b>Description:</b>
  <%=h @occasion.description %>
</p>

<p>
  <b>Event:</b>
  <%=h @occasion.event_id %>
</p>


<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>