<%= render :partial => "menu" -%>

<% is_edit = ["edit", "update"].include?(params[:action]) -%>

<% unless @category_groups.empty? %>

  <%= form_for @category, :builder => KPFormBuilder, :html => { :class => "category-form context-form" } do |f| -%>

    <%= f.title(is_edit ? "Redigera kategori" : "Lägg till kategori") %>

    <%= f.validation_error_indicator %>

    <%= f.fields do -%>
      <%= f.collection_select :category_group_id, @category_groups, :id, :name %>
      <%= f.text_field :name %>

      <%= f.buttons do -%>
        <%= f.submit "Ok" %>
      <% end -%>
    <% end %>
  <% end -%>

<% else -%>

  <p>
    Du kan inte lägga till kategorier innan det finns minst en kategorigrupp.
    <%= link_to "Klicka här", :controller => "category_groups" %> för att lägga
    till kategorigrupper.
  </p>

<% end -%>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Kategorigrupp</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <% @categories.each do |category| %>
    <tr class="<%= cycle('', 'even') %>">
      <td><%= h category.name %></td>
      <td><%= h category.category_group.name %></td>
      <td><%= link_to 'Redigera', edit_category_path(category) %></td>
      <td><%= link_to 'Radera', category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>

</table>
