
<h1>Välkommen <%= @answer_form.companion.name -%></h1>

<p>
  Utvärderingsenkät för
  <%= @answer_form.occasion.event.name -%> , föreställningen <%= @answer_form.occasion.date.to_s -%>
  som du besökte med gruppen <%= @answer_form.group.name -%> , <%= @answer_form.group.school.name -%>
</p>
