<%# coding: utf-8 %>
<%= form_tag({ action: "submit", answer_form_id: params[:answer_form_id] }, { class: "evaluation-form" }) do %>

  <h2>
    Utvärderingsenkät för
    <%= @answer_form.occasion.event.name %>
  </h2>

  <p>
    Denna utvärderingsenkät är utformad för
    <%= @answer_form.group.school.name %>, <%= @answer_form.group.name %>
    som besökte
    <%= @answer_form.occasion.event.name %>
    <%= @answer_form.occasion.date %>,
    <%= l @answer_form.occasion.start_time, format: :only_time %> -
    <%= l @answer_form.occasion.stop_time, format: :only_time %>.
  </p>

  <% if @answer_form.missing_answers %>
    <div class="validation-error-indicator alert">
      Vänligen korrigera uppgifter nedan.
    </div>
  <% end %>

  <fieldset>
    <% missing_answers = @answer_form.missing_answers || [] %>
    <% @answer_form.questionnaire.questions.each do |question| %>
      <div class="form-row clearfix">
        <% if missing_answers.include?(question.id) %>
          <div class="validation-error-message alert-field">Frågan är obligatorisk</div>
        <% end %>

        <label><%= question.question %>:</label>

        <div class="input-container">
          <%= render partial: get_question_fragment(question),
            locals: { question: question, value: @answer[question.id.to_s] }
          %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="form-buttons">
    <%= submit_tag 'Besvara' %>
  </div>
<% end %>
