<h2>
  Utvärderingsenkät för
  <%= h(@answer_form.occasion.event.name) %>
</h2>

<p>
  Denna utvärderingsenkät är utformad för
  <%= @answer_form.group.school.name %>, <%= @answer_form.group.name %>
  som besökte
  <%= h(@answer_form.occasion.event.name) %>
  <%= @answer_form.occasion.date %>,
  <%= l @answer_form.occasion.start_time, :format => :only_time %> -
  <%= l @answer_form.occasion.stop_time, :format => :only_time %>.
</p>


<% form_tag({ :action => "submit", :answer_form_id => params[:answer_form_id] }, { :class => "evaluation-form" }) do %>

  <% unless @non_answered_mandatory_questions.blank? %>
    <div class="validation-error-indicator alert">
      Vänligen korrigera uppgifter nedan.
    </div>
  <% end %>

  <fieldset>
    <% @answer_form.questionaire.questions.each do |question| %>
      <div class="form-row">
        <% if @non_answered_mandatory_questions.include?(question.id) %>
          <div class="validation-error-message alert-field">Frågan är obligatorisk</div>
        <% end %>

        <label>
          <%= h question.question %>
          <% if question.mandatory %>
            <span class="mandatory-indicator">*</span>
          <% end %>
        </label>

        <div class="input-container">
          <%= render :partial => get_question_fragment(question),
            :locals => { :question => question, :value => @answer["#{question.id}"] }
          %>
        </div>
      </div>
    <% end %>

    <div class="form-buttons">
      <%= submit_tag 'Besvara' %>
    </div>
  </fieldset>
<% end %>
