<% form_tag(occasion_notification_requests_path(occasion), { :class => "notification-request-group-form" }) do %>

  <fieldset>
    <legend>Välj grupp</legend>

    <%

      district_id ||= nil
      school_id   ||= nil
      schools     ||= nil
      group_id    ||= nil
      groups      ||= nil

      districts_select_disabled = !groups.blank? || !schools.blank?
      schools_select_disabled = !groups.blank? || schools.blank?
      groups_select_disabled = groups.blank?

      opt_tag_districts = "<option>Välj Stadsdel</option>"
      opt_tag_districts += options_for_select( District.all.collect { |d| [d.name  , d.id.to_s] }, district_id)

    %>

    <div class="form-row district_id-field-row">
      <%= label_tag "notreq-district_id", "Välj stadsdel:" %>

      <div class="input-container">

        <%= select_tag("district_id", opt_tag_districts, { :id => "kp-notreq-district_id", :disabled => districts_select_disabled }) %>
        <%= hidden_field_tag "district_id", district_id if districts_select_disabled %>

        <% if !districts_select_disabled %>
          <noscript>
            <%= submit_tag "Hämta skolor" %>
          </noscript>
        <% end %>
      </div>
    </div>

    <%
      if schools.blank?
        opt_tag_schools = "<option>Välj stadsdel först</option>"
      else
        opt_tag_schools = "<option>Välj skola</option>"
        opt_tag_schools += options_for_select( schools.collect { |d| [d.name  , d.id.to_s] }, school_id )
      end
    %>

    <div class="form-row school_id-field-row">
      <%= label_tag "notreq-school_id", "Välj skola:" %>

      <div class="input-container">
        <%= select_tag(
          "school_id",
          opt_tag_schools,
          { :id => "kp-notreq-school_id" , :disabled => schools_select_disabled })
        %>
        <%= hidden_field_tag "school_id", school_id if schools_select_disabled %>

        <% if !schools_select_disabled %>
          <noscript>
            <%= submit_tag "Hämta grupper" %>
          </noscript>
        <% end %>
      </div>
    </div>

    <%
      if groups.blank? and schools.blank?
        opt_tag_groups = "<option>Välj stadsdel först</option>"
      elsif groups.blank?
        opt_tag_groups = "<option>Välj skola först</option>"
      else
        opt_tag_groups = "<option>Välj grupp</option>"
        opt_tag_groups +=  options_for_select( groups.collect { |d| [d.name , d.id.to_s] } , group_id )
      end
    %>

    <div class="form-row group_id-field-row">
      <%= label_tag "notification_request-group_id", "Välj grupp:" %>

      <div class="input-container">
        <%= select_tag(
          "group_id",
          opt_tag_groups,
          { :id => "kp-notification_request-group_id", :disabled => groups_select_disabled } )
        %>

        <% if !groups_select_disabled %>
          <noscript>
            <%= submit_tag "Välj grupp" %>
          </noscript>
        <% end %>
      </div>
    </div>

  </fieldset>
<% end %>
