<p>
Hur vill du få information när det finns fler biljetter att boka?
</p>
<p>
<%= check_box_tag  "notification_request[send_mail]" %> <%=label_tag "Via mail" %><br/>
<%= check_box_tag  "notification_request[send_sms]" %> <%=  label_tag "Via sms" %><br/>
</p>
<p>
<%= submit_tag "Skapa förfrågan" %> <%= submit_tag "Börja om" %>
</p>
