<% form_for @notification_request do |form| %>
<%= form.hidden_field :occasion_id %>
<%= form.hidden_field :group_id %>
<%= form.hidden_field :user_id %>
<p>
Hur vill du få information när det finns fler biljetter att boka?
</p>
<p>
<%= form.check_box :send_mail %> <%=label_tag "Via mail" %><br/>
<%= form.check_box :send_sms %> <%=  label_tag "Via sms" %><br/>
</p>
<p>
<%= submit_tag "Skapa förfrågan" %>
</p>
<% end  %>