<h1>New notification_request</h1>

<% form_for(@notification_request) do |f| %>
  <%= f.error_messages :id => nil, :class => "form-error-messages" %>

  <p>
    <%= f.label :send_mail %><br />
    <%= f.check_box :send_mail %>
  </p>
  <p>
    <%= f.label :send_sms %><br />
    <%= f.check_box :send_sms %>
  </p>
  <p>
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </p>
  <p>
    <%= f.label :occasion_id %><br />
    <%= f.text_field :occasion_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', notification_requests_path %>
