<%= render :partial => "bookings/menu" %>

<h2 class="form-title">
  Meddelande vid platssläpp
</h2>

<p>
  Om den grupp du vill boka platser för inte har fått platser tilldelade till
  <%= link_to @occasion.event.name, @occasion.event %>
  tilldelade till sig så kan du här registrera dig så att du får ett
  meddelande när platser blir tillgängliga.
</p>

<div class="notification-request-group-selection">
  <%= render :partial => "shared/group_selection" %>
</div>

<% disabled = @notification_request.group_id.nil? %>

<% form_for @notification_request, :url => occasion_notification_requests_path(@occasion), :builder => KPFormBuilder, :html => { :class => "notification-request-form" } do |form| %>

  <% form.fields("Välj meddelandetyp") do %>
    <%= form.hidden_field :group_id %>

    <%= form.check_box :send_mail, :disabled => disabled %>
    <%= form.check_box :send_sms, :disabled => disabled %>

    <% form.buttons do %>
      <%= form.submit "Registrera", :disabled => disabled %>
    <% end %>
  <% end %>

<% end  %>
