<% content_for :section_sub do -%>
  <div class="section-info">
    <% if @image.culture_provider -%>
      <%= link_to "Återvänd till presentationen för #{@image.culture_provider.name}",
        @image.culture_provider
      %> 
    <% elsif @image.event -%>
      <%= link_to "Återvänd till presentationen för #{@image.event.name}",
        @image.event
      %>
    <% end -%>
  </div>
<% end -%>

<h2 class="form-title">
  Hantera bilder för
  <% if @image.culture_provider -%>
    <%= link_to @image.culture_provider.name, @image.culture_provider %>
  <% elsif @image.event -%>
    <%= link_to @image.event.name, @image.event %>
  <% end -%>
</h2>

<%
  if @image.culture_provider
    form_url = culture_provider_images_path(@image.culture_provider)
  elsif @image.event
    form_url = event_images_path(@image.event)
  end
%>

<%= form_for( @image, :url => form_url, :builder => KPFormBuilder, :html => { :multipart => true, :class => "image-form context-form" } ) do |f| %>

  <%= f.title "Ladda upp ny bild" -%>

  <%= f.validation_error_indicator %>

  <%= f.fields do -%>

    <%= f.text_field :description %>

    <%= f.row do -%>
      <label for="kp-upload-datafile">Bild:</label>
      <%= f.field file_field('upload' , 'datafile') %>
    <% end -%>

    <%= f.buttons do -%>
      <%= f.submit 'Ladda upp' %>
    <% end -%>
  <% end -%>
<% end %>

<% unless @images.blank? -%>
  <table class="image-list">
    <thead>
      <tr>
        <th>Bild</th>
        <th>Bildtext</th>
        <th<%= ' colspan="2"' if @image.culture_provider %>></th>
      </tr>
    </thead>

    <tbody>
      <% @images.each do |img| -%>

        <%
          if img.culture_provider
            is_logo = img.id == img.culture_provider.main_image_id
          else
            is_logo = false
          end
        -%>

        <tr class="<%= cycle('', 'even') %> <%= 'logo' if is_logo %>">
          <td>
            <%= uploaded_image_tag img, true %>
          </td>
          <td><%= img.description %></td>

          <% if img.culture_provider -%>
            <td><%= link_to 'Använd som logotyp', set_main_culture_provider_image_path(img.culture_provider, img) unless is_logo -%></td>
            <td><%= link_to 'Ta bort', culture_provider_image_path(img.culture_provider, img), :confirm => "Är du säker?", :method => :delete %></td>
          <% elsif img.event -%>
            <td><%= link_to 'Ta bort', event_image_path(img.event, img), :confirm => "Är du säker?", :method => :delete %></td>
          <% end -%>

        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>
