
<h1>Ladda upp bild</h1>

<% form_for(@image, :html => { :multipart => true } ) do |f| %>

  <fieldset>


    <% if @image.culture_provider -%>
      <legend>Ladda upp <%= params[:type] == :main ? "logotyp" : "bild" %> för <%= link_to h(@image.culture_provider.name), @image.culture_provider %></legend>

      <%= f.hidden_field :culture_provider_id -%>
    <% elsif @image.event -%>
      <legend>Ladda upp <%= params[:type] == :main ? "logotyp" : "bild" %> för <%= link_to h(@image.event.name), @image.event %></legend>

      <%= f.hidden_field :event_id -%>
    <% end -%>

    <dl class="form-elements">

      <dt><%= f.label :name %></dt>
      <dd>
        <%= f.text_field :name %>
        <%= f.error_message_on :name %>
      </dd>

      <dt><label for="kp-upload-datafile">Bild</label></dt>
      <dd><%= file_field 'upload' , 'datafile'  %></dd>

    </dl>

    <div class="submit-cnt">
      <%= f.hidden_field :type -%>
      <%= f.submit 'Ladda upp' %>
    </div>

  </fieldset>
<% end %>