<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv_SE" lang="sv_SE">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Kulturproceduren<%= " - #{APP_CONFIG[:instance_title]}" if APP_CONFIG[:instance_title] %></title>

    <%= render partial: "shared/head" %>
  </head>
  <body class="kp-standalone">

    <div id="kp">

      <h1 id="kp-logo">
        Kulturproceduren
        <%= " - #{APP_CONFIG[:instance_title]}" if APP_CONFIG[:instance_title] %>
        - Administration
      </h1>

      <% if APP_CONFIG[:instance_message] %>
        <div class="flash alert">
          <%= APP_CONFIG[:instance_message] %>
        </div>
      <% end %>

      <ul class="pri-nav">
        <li class="pri-nav-role-applications <%= active_by_controller "role_applications" %>">
          <%= link_to "Ansökningar", role_applications_path -%>
          </li><li class="pri-nav-statistics <%= active_by_controller "statistics" %>">
          <%= link_to "Statistik", statistics_path -%>
          </li><li class="pri-nav-questionnaires <%= active_by_controller "questionnaires", "questions" %>">
          <%= link_to "Enkäter", questionnaires_path -%>
          </li><li class="pri-nav-role-categories <%= active_by_controller "categories", "category_groups" %>">
          <%= link_to "Kategorier", categories_path -%>
          </li><li class="pri-nav-districts <%= active_by_controller "districts" %>">
          <%= link_to "Områden", districts_path -%>
          </li><li class="pri-nav-schools <%= active_by_controller "schools" %>">
          <%= link_to "Skolor", schools_path -%>
          </li><li class="pri-nav-groups <%= active_by_controller "groups", "age_groups" %>">
          <%= link_to "Grupper", groups_path -%>
          </li><li class="pri-nav-users <%= active_by_controller "users" %>">
          <%= link_to "Användare", users_path -%>
          </li><li class="pri-nav-info <%= active_by_controller "information" %>">
          <%= link_to "Sändlistor", new_information_path -%>
          </li><li class="pri-nav-leave-logout">
          <%= link_to "Lämna administrationen", root_url() -%>
          <%= link_to "Logga ut från Kulturproceduren", controller: "login", action: "logout" -%>
        </li>
      </ul>

      <%= yield :section_sub %>

      <% if flash[:notice] -%>
        <div class="flash response">
          <%= flash[:notice] %>
        </div>
      <% end -%>

      <% if flash[:warning] -%>
        <div class="flash alert">
          <%= flash[:warning] %>
        </div>
      <% end -%>

      <% if flash[:error] -%>
        <div class="flash error">
          <%= flash[:error] %>
        </div>
      <% end -%>

      <div id="kp-content">
        <%= yield %>
      </div>

      <a href="/" id="kp-sitevision-base-url">KP</a>
    </div>

  </body>
</html>
