<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv_SE" lang="sv_SE">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Kulturproceduren</title>

    <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.7.2.custom.css' %>
    <%= stylesheet_link_tag 'http://sitevision.dev.malmo.se/assets/css/malmo-core.css' %>
    <%= stylesheet_link_tag 'standard' %>
    <!--[if IE 8]>
    <%= stylesheet_link_tag "standard-ie8" %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag "standard-ie7" %>
    <![endif]-->
    <!--[if lte IE 6]>
    <%= stylesheet_link_tag "standard-ie6" %>
    <![endif]-->

    <%= render :partial => "shared/jsconfig" -%>

    <%= javascript_include_tag "jquery-1.3.2.min.js" %>
    <%= javascript_include_tag "jquery.cycle.all.min.js" %>
    <%= javascript_include_tag "jquery-ui-1.7.2.custom.min.js" %>
    <%= javascript_include_tag "standard.js" %>

    <%= yield :head %>

  </head>
  <body>

    <div id="kp">

      <h1 id="kp-logo">Kulturproceduren - Administration</h1>

      <ul class="pri-nav">
        <li class="pri-nav-role-applications <%= active_by_controller "role_applications" %>">
          <%= link_to "Behörighetsansökningar", role_applications_path -%>
          </li><li class="pri-nav-questionaires <%= active_by_controller "questionaires", "questions" %>">
          <%= link_to "Enkäter", questionaires_path -%>
          </li><li class="pri-nav-role-categories <%= active_by_controller "categories", "category_groups" %>">
          <%= link_to "Kategorier", categories_path -%>
          </li><li class="pri-nav-districts <%= active_by_controller "districts" %>">
          <%= link_to "Stadsdelar", districts_path -%>
          </li><li class="pri-nav-schools <%= active_by_controller "schools" %>">
          <%= link_to "Skolor", schools_path -%>
          </li><li class="pri-nav-groups <%= active_by_controller "groups", "age_groups" %>">
          <%= link_to "Grupper", groups_path -%>
          </li><li class="pri-nav-users <%= active_by_controller "users", "ldap" %>">
          <%= link_to "Användare", users_path -%>
          </li><li class="pri-nav-leave-logout">
          <%= link_to "Lämna administrationen", "/" -%>
          <%= link_to "Logga ut från Kulturproceduren", :controller => "login", :action => "logout" -%>
        </li>
      </ul>

      <%= yield :section_sub %>

      <% if flash[:notice] -%>
        <div class="flash response">
          <%= flash[:notice] %>
        </div>
      <% end -%>

      <% if flash[:warning] -%>
        <div class="flash alert">
          <%= flash[:warning] %>
        </div>
      <% end -%>

      <% if flash[:error] -%>
        <div class="flash error">
          <%= flash[:error] %>
        </div>
      <% end -%>

      <div id="kp-content">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
