!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "robots", content: "noindex, follow"}
    /[if IE]
      %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}

    %title
      Kulturproceduren - Malmö stad

    /[if lte IE 8]
      = javascript_include_tag "#{APP_CONFIG[:assets_url_base]}html5shiv-printshiv.js"

    = stylesheet_link_tag "#{APP_CONFIG[:assets_url_base]}malmo.css", media: "all"
    = stylesheet_link_tag "application", media: "all"
    /[if lte IE 8]
      = stylesheet_link_tag "#{APP_CONFIG[:assets_url_base]}legacy/ie8.css", media: "all"

    %noscript
      = stylesheet_link_tag "#{APP_CONFIG[:assets_url_base]}icons.fallback.css"

    %link{rel: "icon", type: "image/x-icon", href: "#{APP_CONFIG[:assets_url_base]}favicon.ico"}

    = csrf_meta_tags

  %body.mf-v4{class: malmo_body_class}
    .wrapper

      %ul#user-menu
        - if user_online?
          - if current_user.has_role?(:admin)
            %li= link_to "Administration", role_applications_path
          %li= link_to "Mitt konto", current_user
          %li= link_to "Logga ut", controller: "login", action: "logout"
        - else
          %li= login_link "Logga in på Kulturproceduren"

      %ol.breadcrumbs
        %li= link_to "Start", "http://www.malmo.se/"
        %li= link_to "Kultur & nöje", "http://www.malmo.se/Medborgare/Kultur--noje.html"
        %li= link_to "Barn & unga", "http://www.malmo.se/Medborgare/Kultur--noje/Barn--unga.html"
        %li= link_to "Kulturproceduren", root_path

      %h1.body-copy
        - if content_for?(:page_title)
          = yield(:page_title)
        - else
          Kulturproceduren


      - # Show temporary notice about new design
      - if APP_CONFIG[:instance_message]
        %p.flash{class: "warning"}= APP_CONFIG[:instance_message]

      - flash.each do |key, value|
        %p.flash{class: key}= value

      = yield

    = javascript_include_tag "#{APP_CONFIG[:assets_url_base]}malmo.js"
    = javascript_include_tag "application"
    = yield(:javascript) if content_for?(:javascript)
