<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv_SE" lang="sv_SE">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Kulturproceduren</title>

    <%= stylesheet_link_tag 'standard' %>
    <%= javascript_include_tag "jquery-1.3.2.min.js" %>

    <%= yield :head %>

  </head>
  <body>

    <div id="kp">

      <ul class="pri-nav">
        <li class="pri-nav-cp <%= active_by_controller "culture_providers" %>"><%= link_to "Arrangörer", culture_providers_path -%></li>
        <li class="pri-nav-events <%= active_by_controller "events", "occasions", "allotment" %>"><%= link_to "Evenemang", events_path -%></li>
      </ul>

      <%= yield :sec_nav %>

      <% if flash[:notice] -%>
        <div id="kp-flash-notice" class="flash">
          <%= flash[:notice] %>
        </div>
      <% end -%>

      <% if flash[:error] -%>
        <div id="kp-flash-error" class="flash">
          <%= flash[:error] %>
        </div>
      <% end -%>

      <div id="kp-content">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
