<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sv_SE" lang="sv_SE">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Kulturproceduren</title>

    <%= render :partial => "shared/head" %>
  </head>
  <body>

    <div id="kp">

      <h1 id="kp-logo">Kulturproceduren</h1>

      <ul class="pri-nav">
        <li class="pri-nav-calendar <%= active_by_controller "calendar" %>">
          <%= link_to "Kalendarium", :controller => "calendar" -%>
        </li>
        <li class="pri-nav-culture-providers <%= active_by_controller "culture_providers" %>">
          <%= link_to "Arrangörer", culture_providers_path -%>
        </li>

        <% if user_online? -%>

          <% if current_user.has_role?(:admin, :booker) -%>
            <li class="pri-nav-booking  <%= active_by_controller "bookings", "notification_requests" %>">
              <%= link_to "Bokning", bookings_path() -%>
            </li>
          <% end -%>

          <% if current_user.has_role?(:admin) -%>
            <li class="pri-nav-admin"><%= link_to "Administration", :controller => "role_applications" -%></li>
          <% end -%>

          <li class="pri-nav-user <%= active_by_controller "users", "role_applications" %>">
            <%= link_to "Konto", current_user %>
          </li>
          <li class="pri-nav-logout">
            <%= link_to "Logga ut från Kulturproceduren", :controller => "login", :action => "logout" -%>
          </li>
        <% else -%>
          <li class="pri-nav-login <%= active_by_controller "login" %>">
            <%= login_link "Logga in på Kulturproceduren" %>
          </li>
        <% end -%>
      </ul>

      <%= yield :section_sub %>

      <% if flash[:notice] -%>
        <div class="flash response">
          <%= flash[:notice] %>
        </div>
      <% end -%>

      <% if flash[:warning] -%>
        <div class="flash alert">
          <%= flash[:warning] %>
        </div>
      <% end -%>

      <% if flash[:error] -%>
        <div class="flash error">
          <%= flash[:error] %>
        </div>
      <% end -%>

      <div id="kp-content" class="clearfix">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
